<template>
	<b-row>
		<div class="card w-100" style="">
			<div class="card-header">
				<h4 class="card-title">Informes</h4>
			</div>
			<div class="card-content">
				<div class="card-body">
					<div class="row m-0">
						<div class="col-6">
							<b-form-group>
								<b-form-select
									id="selectFamily"
									v-model="infoSelected"
									:options="listsInfo"
									size="sm"
								></b-form-select>
							</b-form-group>
						</div>
						<div class="col-6">
							<a-range-picker v-model="dateFilter" v-if="showFilter" >
								<template slot="dateRender" slot-scope="current">
									<div class="ant-calendar-date">
										{{ current.date() }}
									</div>
								</template>
							</a-range-picker>
						</div>
					</div>
					<div class="row m-0 justify-content-end mb-2">
						<div class="row m-0 col-6 justify-content-end">
                            <button class="btn btn-sm btn-secondary mr-1" @click="donwloadDataCurrentMouth">
								Mes actual
							</button>
							<button class="btn btn-sm btn-success mr-1" @click="searchInfo">
								Consultar
							</button>
							<button class="btn btn-sm btn-info" @click="donwloadData">
								Descargar
							</button>
						</div>
					</div>
					<div class="row m-0">
						<b-table
								show-empty
								small
								stacked="md"
								class="table table-striped table-hover"
								:items="items"
								:fields="table_fields"
								:current-page="current_page"
								:filter="filter"
								:filter-included-fields="filter_on"
								empty-text="No hay ítems creados"
								responsive
						>

							<template #cell(unidades_vendidas_por_marca)="row" >
								{{familiestotal[row.item.familie_id] ? familiestotal[row.item.familie_id].unidades_vendidas : '' }}
							</template>

							<template #cell(pvp_total_marca)="row" >
								{{familiestotal[row.item.familie_id] ? familiestotal[row.item.familie_id].importe_ventas : '' }}
							</template>
						</b-table>
					</div>
				</div>
			</div>
		</div>
	</b-row>
</template>

<script>
export default {
	name: "HomeReports",
	data() {
		return {
			dateFilter: null,
			infoSelected: null,
			listsInfo:[
				{ value: 1, text: 'Total por provincia (año)' },
				{ value: 2, text: 'Resumen de mes (dias)' },
				{ value: 3, text: 'Total por cliente (año)' },
				{ value: 4, text: 'Resumen por provincia (dias)' },
				{ value: 5, text: 'Resumen ventas (dias)' },
				{ value: 6, text: 'Raking mes (dias)' },
				{ value: 7, text: 'Comision por zonas (dias)' },
				{ value: 8, text: 'Ventas diarias acumuladas' },
				{ value: 9, text: 'Existencias dia' },
				{ value: 10, text: 'Ranking anual' },
			],
			items: [],
			table_fields: [],
			rows: 1,
            current_page: 1,
            per_page: 50,
            items_show: [50, 100, 200, 300],
            filter: null,
            filter_on: [],
            total_rows: 0,
            on_filtered: null,
			familiestotal: {},
		};
	},
	computed:{
		showFilter: function(){
			return this.infoSelected != 9 && this.infoSelected != 10;
		},
        rows() {
            return this.items.length
        }
	},
	methods: {
		serializeDataProvinciaAnual(data){
			let header = [
				{key: 'provincie_id', label: 'COD PROV', sortable: true, class: 'align-middle'},
                {key: 'provincie', label: 'Provincia', sortable: true, class: 'align-middle'},
                {key: 'date', label: 'Año',class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let familieheader = data.families.map(elm => {
				return {
					key: 'familie'+elm.id,
					label: elm.code,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...familieheader];

			this.items = data.data;
		},
		serializeDataProvincia(data){
			let header = [
				{key: 'minDate', label: 'Dia inicial',class: 'align-middle'},
				{key: 'maxDate', label: 'Dia final',class: 'align-middle'},
				{key: 'provincie_id', label: 'COD PROV', sortable: true, class: 'align-middle'},
                {key: 'provincie', label: 'Provincia', sortable: true, class: 'align-middle'},
                {key: 'date', label: 'Año',class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let familieheader = data.families.map(elm => {
				return {
					key: 'familie'+elm.id,
					label: elm.code,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...familieheader];

			this.items = data.data;
		},
		serializeDataResumeCFS(data){
			let header = [
				{key: 'minDate', label: 'Dia inicial',class: 'align-middle'},
				{key: 'maxDate', label: 'Dia final',class: 'align-middle'},
				{key: 'provincie_id', label: 'COD PROV', sortable: true, class: 'align-middle'},
                {key: 'provincie', label: 'Provincia', sortable: true, class: 'align-middle'},
                {key: 'estanco', label: 'Estanco', sortable: true, class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let familieheader = data.families.map(elm => {
				return {
					key: 'familie'+elm.id,
					label: elm.code,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...familieheader];

			this.items = data.data;
		},

		serializeDataReportAnual(data){
			let header = [
				{key: 'provincie_id', label: 'COD PROV', sortable: true, class: 'align-middle'},
                {key: 'provincie', label: 'Provincia', sortable: true, class: 'align-middle'},
                {key: 'estanco', label: 'Estanco', sortable: true, class: 'align-middle'},
                {key: 'product_name', label: 'Vitola', sortable: true, class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let yearsHeader = data.years.map(elm => {
				return {
					key: `anio${elm}`,
					label: ''+elm,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...yearsHeader];

			console.log(this.table_fields);

			this.items = data.data;
		},
		serializeDataVentas(data){
			this.table_fields = [
				{key: 'minDate', label: 'Dia inicial',class: 'align-middle'},
				{key: 'maxDate', label: 'Dia final',class: 'align-middle'},
				{key: 'familie', label: 'COD Familia', sortable: true, class: 'align-middle'},
                {key: 'vitola', label: 'Vitola', sortable: true, class: 'align-middle'},
                {key: 'box_purchases', label: 'Cajas vendidas', sortable: true, class: 'align-middle'},
                {key: 'unidades_for_box', label: 'Unidad por caja', sortable: true, class: 'align-middle'},
                {key: 'unidades_purchases', label: 'Unidades vendidas',class: 'align-middle'},
                {key: 'unidades_vendidas_por_marca', label: 'Unidades vendidas por marca',class: 'align-middle'},
                {key: 'pvp', label: 'pvp',class: 'align-middle'},
                {key: 'pvp_total', label: 'Importe venta',class: 'align-middle'},
                {key: 'pvp_total_marca', label: 'Importe venta marca',class: 'align-middle'}
			];

			this.familiestotal = data.families;

			this.items = data.data;
		},
		serializeDataRankingMes(data){
			let header = [
				{key: 'minDate', label: 'Dia inicial',class: 'align-middle'},
				{key: 'maxDate', label: 'Dia final',class: 'align-middle'},
                {key: 'estanco', label: 'Estanco', sortable: true, class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let familieheader = data.families.map(elm => {
				return {
					key: 'familie'+elm.id,
					label: elm.code,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...familieheader];
            console.log(this.table_fields);
			this.items = data.data;
		},
		serializeDataZonaMes(data){
			let header = [
				{key: 'minDate', label: 'Dia inicial',class: 'align-middle'},
				{key: 'maxDate', label: 'Dia final',class: 'align-middle'},
                {key: 'zona_name', label: 'Zona', sortable: true, class: 'align-middle'},
                {key: 'codpos', label: 'codpos', sortable: true, class: 'align-middle'},
                {key: 'privincia_name', label: 'Provincia', sortable: true, class: 'align-middle'},
                {key: 'estanco', label: 'Estanco', sortable: true, class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			let familieheader = data.families.map(elm => {
				return {
					key: 'familie'+elm.id,
					label: elm.code,
					class: 'align-middle'
				}
			});

			this.table_fields = [...header,...familieheader];

			this.items = data.data;
		},
		serializeDataVentaAcum(data){
			let header = [
				{key: 'codeproduct', label: 'Codigo',class: 'align-middle'},
				{key: 'codefamilia', label: 'Familia',class: 'align-middle'},
                {key: 'familianame', label: 'DesFamilia', sortable: true, class: 'align-middle'},
                {key: 'productname', label: 'vitola', sortable: true, class: 'align-middle'},
                {key: 'pvp', label: 'pvp', sortable: true, class: 'align-middle'},
                {key: 'unit', label: 'UniCaja', sortable: true, class: 'align-middle'},
                {key: 'pvpcaja', label: 'PVPcaja',class: 'align-middle'},
                {key: 'date', label: 'Fecha',class: 'align-middle'},
                {key: 'count_product', label: 'Cajas vendidas',class: 'align-middle'},
                {key: 'unit_purchases', label: 'UniVen',class: 'align-middle'},
                {key: 'importventa', label: 'ImpVenta',class: 'align-middle'},
                {key: 'codeestanco', label: 'CODEstan',class: 'align-middle'},
                {key: 'estanco', label: 'DesEstan',class: 'align-middle'},
                {key: 'name', label: 'Contac',class: 'align-middle'},
                {key: 'calle', label: 'Calle',class: 'align-middle'},
                {key: 'population', label: 'Población',class: 'align-middle'},
                {key: 'provincia', label: 'Provincia',class: 'align-middle'}
			];

			this.table_fields = header;

			this.items = data.data;
		},
		serializeExistencia(data){
			let header = [
				{key: 'codeproduct', label: 'Codigo',class: 'align-middle'},
				{key: 'codefamilia', label: 'Familia',class: 'align-middle'},
                {key: 'productname', label: 'vitola', sortable: true, class: 'align-middle'},
				{key: 'stock', label: 'Cajas',class: 'align-middle'},
				{key: 'stockunit', label: 'Unidades',class: 'align-middle'},
                {key: 'unit', label: 'UniCaja', sortable: true, class: 'align-middle'},
                {key: 'pvp', label: 'pvp', sortable: true, class: 'align-middle'},
                {key: 'total', label: 'Total',class: 'align-middle'}
			];

			this.table_fields = header;

			this.items = data.data;
		},
		serializeAnualRankign(data){
			let header = [
				{key: 'estanco', label: 'Estanco',class: 'align-middle', sortable: true},
				{key: 'total', label: 'Total',class: 'align-middle', sortable: true, formatter: 'formatPrice'},
			];

			let yearsHeader = data.years.map(elm => {
				return {
					key: 'year_'+elm.anio,
					label: 'Año '+elm.anio,
					class: 'align-middle',
                    sortable: true
				}
			});

			this.table_fields = [...header,...yearsHeader];

			this.items = data.data;
		},
		searchInfo(){

			if(!this.infoSelected){
				this.$toastr.error('Debe de seleccionar un informe','Ocurrio un error');
			}

			if(!this.dateFilter && this.infoSelected != 9 && this.infoSelected != 10){
				this.$toastr.error('Debe de seleccionar un rango de fecha','Ocurrio un error');
			}

			let form = {
				infoSelected: this.infoSelected,
				minDate: this.dateFilter ? this.dateFilter[0].format('YYYY-MM-DD') : null,
				maxDate: this.dateFilter ? this.dateFilter[1].format('YYYY-MM-DD') : null,
			};

			axios.post(route('reports.filter'),form).then(res => {
				if(res.data.ok){
                    console.log(res.data.data);
					switch(this.infoSelected){
						case 1:
							this.serializeDataProvinciaAnual(res.data.data);
							break;
						case 2:
							this.serializeDataResumeCFS(res.data.data);
							break;
						case 3:
							this.serializeDataReportAnual(res.data.data);
							break;
						case 4:
							this.serializeDataProvincia(res.data.data);
							break;
						case 5:
							this.serializeDataVentas(res.data.data);
							break;
						case 6:
							this.serializeDataRankingMes(res.data.data);
							break;
						case 7:
							this.serializeDataZonaMes(res.data.data);
							break;
						case 8:
							this.serializeDataVentaAcum(res.data.data);
							break;
						case 9:
							this.serializeExistencia(res.data.data);
							break;
						case 10:
							this.serializeAnualRankign(res.data.data);
							break;

					}

				}else{
					this.$toastr.error(res.data.message,'Ha ocurrido un error');
				}
			});
		},
		donwloadData(){

			if(!this.infoSelected){
				this.$toastr.error('Debe de seleccionar un informe','Ocurrio un error');
			}

			if(!this.dateFilter && this.infoSelected != 9 && this.infoSelected != 10){
				this.$toastr.error('Debe de seleccionar un rango de fecha','Ocurrio un error');
			}

			let form = {
				infoSelected: this.infoSelected,
				minDate: this.dateFilter ? this.dateFilter[0].format('YYYY-MM-DD') : null,
				maxDate: this.dateFilter ? this.dateFilter[1].format('YYYY-MM-DD') : null,
			};

            axios({
                method: "POST",
                responseType: "blob",
                url: route(
                    "reports.export"
                ),
                data: form
            }).then((res) => {

				let title = this.listsInfo.filter(elm => elm.value == this.infoSelected);

                let blob = new Blob([res.data], {type: "application/vnd.ms-excel"});
                let url = window.URL.createObjectURL(blob);

                var fileLink = document.createElement("a");
                fileLink.href = url;
                fileLink.setAttribute("download", title[0].text+".xlsx");
                document.body.appendChild(fileLink);

                fileLink.click();
            });
		},
        donwloadDataCurrentMouth(){

			if(!this.infoSelected){
				this.$toastr.error('Debe de seleccionar un informe','Ocurrio un error');
			}

            const current = new Date();
            const today = `${current.getFullYear()}-0${current.getMonth()+1}-${current.getDate()}`;
            const initialDate = `${current.getFullYear()}-0${current.getMonth()+1}-01`;
            //console.log(today +'-'+ initialDate);

            let form = {
				infoSelected: this.infoSelected,
				minDate: initialDate,
				maxDate: today,
			};

            //console.log(form);

            axios({
                method: "POST",
                responseType: "blob",
                url: route(
                    "reports.export"
                ),
                data: form
            }).then((res) => {

				let title = this.listsInfo.filter(elm => elm.value == this.infoSelected);

                let blob = new Blob([res.data], {type: "application/vnd.ms-excel"});
                let url = window.URL.createObjectURL(blob);

                var fileLink = document.createElement("a");
                fileLink.href = url;
                fileLink.setAttribute("download", title[0].text+".xlsx");
                document.body.appendChild(fileLink);

                fileLink.click();
            });

		},
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
	},
};
</script>

<style scoped>

span.ant-calendar-picker {
    width: 100%;
}

</style>
