<template>
  <b-modal
    id="modal-edit-provincie"
    title="Modificar provincia"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la provincia">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <b-form-group id="selectFamily" label="Comunidad">
          <b-form-select
            id="selectFamily"
            v-model="community"
            :state="state_community"
            :options="communities"
          ></b-form-select>
        </b-form-group>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-edit-provincie')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="editprovincie"
        :disabled="updating"
      >
        {{ updating ? "Editando " : "Editar" }}
        provincia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalEditProvincie",
    props:{
        data: Object,
        communities:Array,
        callbackSuccess:Function
    },
    data() {
        return {
            community:null,
            name:null,
            state_name: null,
            state_community: null,
            updating:false,
            idProvincie: null,
        };
    },
    created(){
        this.setOnClose();
    },
    watch:{
        data:function(newValue){
            if(newValue){
                this.idProvincie = newValue.id;
                this.name = newValue.name;
                this.community = newValue.community_id;
            }
        }
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-edit-provincie'){
                    //this.name = null;
                    this.state_name = null;
                    this.updating = false;
                }
            });
        },
        editprovincie(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.community){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_community = false;
                return;
            }else{
                this.state_community = true;
            }

            let form = {
                idProvincie: this.idProvincie,
                name: this.name,
                community: this.community,
            }
            this.updating = true;
            axios.post(route('provincie.update'),form).then(res => {
                this.updating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-edit-provincie');
                    this.$toastr.success('La familia se modificó correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>