.mm-hidden {
  display: none !important;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.mm-menu {
  box-sizing: border-box;
  background: inherit;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.mm-panels,
.mm-panels > .mm-panel {
  background: inherit;
  border-color: inherit;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.mm-panels {
  overflow: hidden;
}

.mm-panel {
  transition: transform 0.4s ease;
  transform: translate3d(100%, 0, 0);
}
.mm-panel.mm-opened {
  transform: translate3d(0%, 0, 0);
}
.mm-panel.mm-subopened {
  transform: translate3d(-30%, 0, 0);
}
.mm-panel.mm-highest {
  z-index: 1;
}

.mm-panels > .mm-panel {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
}
.mm-panels > .mm-panel.mm-hasnavbar {
  padding-top: 40px;
}
.mm-panels > .mm-panel:before, .mm-panels > .mm-panel:after {
  content: "";
  display: block;
  height: 20px;
}

.mm-vertical .mm-panel {
  transform: none !important;
}

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}
.mm-vertical .mm-listview .mm-panel .mm-listview > li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview > li:last-child:after {
  border-color: transparent;
}

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block;
}

.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
  height: 40px;
  bottom: auto;
}
.mm-vertical .mm-listview > li > .mm-next:after,
.mm-listview > li.mm-vertical > .mm-next:after {
  top: 16px;
  bottom: auto;
}
.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  transform: rotate(45deg);
  right: 19px;
}

.mm-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.mm-clear:before, .mm-clear:after,
.mm-close:before,
.mm-close:after {
  content: "";
  border: 2px solid transparent;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
}
.mm-clear:before,
.mm-close:before {
  border-right: none;
  border-bottom: none;
  right: 20px;
}
.mm-clear:after,
.mm-close:after {
  border-left: none;
  border-top: none;
  right: 25px;
}

.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
  content: "";
  border: 2px solid transparent;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
}

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 23px;
}

.mm-next:after,
.mm-arrow:after {
  border-top: none;
  border-left: none;
  right: 23px;
}

.mm-navbar {
  border-bottom: 1px solid;
  border-color: inherit;
  text-align: center;
  line-height: 20px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.mm-navbar > * {
  display: block;
  padding: 10px 0;
}
.mm-navbar a,
.mm-navbar a:hover {
  text-decoration: none;
}
.mm-navbar .mm-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mm-navbar .mm-btn:first-child {
  padding-left: 20px;
  left: 0;
}
.mm-navbar .mm-btn:last-child {
  text-align: right;
  padding-right: 20px;
  right: 0;
}

.mm-panel .mm-navbar {
  display: none;
}
.mm-panel.mm-hasnavbar .mm-navbar {
  display: block;
}

.mm-listview,
.mm-listview > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-listview {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
}
.mm-listview a,
.mm-listview a:hover {
  text-decoration: none;
}
.mm-listview > li {
  position: relative;
}
.mm-listview > li, .mm-listview > li:after,
.mm-listview > li .mm-next,
.mm-listview > li .mm-next:before {
  border-color: inherit;
}
.mm-listview > li > a,
.mm-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
.mm-listview > li > a.mm-arrow,
.mm-listview > li > span.mm-arrow {
  padding-right: 50px;
}
.mm-listview > li:not(.mm-divider):after {
  content: "";
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.mm-listview > li:not(.mm-divider):after {
  left: 20px;
}
.mm-listview .mm-next {
  background: rgba(3, 2, 1, 0);
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.mm-listview .mm-next:before {
  content: "";
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.mm-listview .mm-next + a,
.mm-listview .mm-next + span {
  margin-right: 50px;
}
.mm-listview .mm-next.mm-fullsubopen {
  width: 100%;
}
.mm-listview .mm-next.mm-fullsubopen:before {
  border-left: none;
}
.mm-listview .mm-next.mm-fullsubopen + a,
.mm-listview .mm-next.mm-fullsubopen + span {
  padding-right: 50px;
  margin-right: 0;
}

.mm-panels > .mm-panel > .mm-listview {
  margin: 20px -20px;
}
.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: -20px;
}

.mm-listview .mm-inset {
  list-style: inside disc;
  padding: 0 10px 15px 40px;
  margin: 0;
}
.mm-listview .mm-inset > li {
  padding: 5px 0;
}

.mm-listview .mm-divider {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-indent: 20px;
  line-height: 25px;
}

.mm-listview .mm-spacer {
  padding-top: 40px;
}
.mm-listview .mm-spacer > .mm-next {
  top: 40px;
}
.mm-listview .mm-spacer.mm-divider {
  padding-top: 25px;
}

/*
	jQuery.mmenu navbars addon CSS
*/
.mm-menu > .mm-navbar {
  background: inherit;
  padding: 0;
  z-index: 3;
  transform: translate3d(0, 0, 0);
}

.mm-navbar-bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom: none;
  top: auto;
  bottom: 0;
}

.mm-navbar-top ~ .mm-navbar-top {
  border-bottom: none;
}

.mm-navbar-bottom ~ .mm-navbar-bottom {
  border-top: none;
}

.mm-navbar.mm-hasbtns {
  padding: 0 40px;
}

.mm-navbar[class*=mm-navbar-content-] > * {
  box-sizing: border-box;
  display: block;
  float: left;
}

.mm-navbar .mm-breadcrumbs {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  text-align: left;
  padding: 0 0 0 17px;
}
.mm-navbar .mm-breadcrumbs > * {
  display: inline-block;
  padding: 10px 3px;
}
.mm-navbar .mm-breadcrumbs > a {
  text-decoration: underline;
}
.mm-navbar.mm-hasbtns .mm-breadcrumbs {
  margin-left: -40px;
}
.mm-navbar.mm-hasbtns .mm-btn:not(.mm-hidden) + .mm-breadcrumbs {
  margin-left: 0;
  padding-left: 0;
}

.mm-navbar-top-1 {
  top: 0px;
}

.mm-hasnavbar-top-1 .mm-panels {
  top: 40px;
}

.mm-navbar-top-2 {
  top: 40px;
}

.mm-hasnavbar-top-2 .mm-panels {
  top: 80px;
}

.mm-navbar-top-3 {
  top: 80px;
}

.mm-hasnavbar-top-3 .mm-panels {
  top: 120px;
}

.mm-navbar-top-4 {
  top: 120px;
}

.mm-hasnavbar-top-4 .mm-panels {
  top: 160px;
}

.mm-navbar-bottom-1 {
  bottom: 0px;
}

.mm-hasnavbar-bottom-1 .mm-panels {
  bottom: 40px;
}

.mm-navbar-bottom-2 {
  bottom: 40px;
}

.mm-hasnavbar-bottom-2 .mm-panels {
  bottom: 80px;
}

.mm-navbar-bottom-3 {
  bottom: 80px;
}

.mm-hasnavbar-bottom-3 .mm-panels {
  bottom: 120px;
}

.mm-navbar-bottom-4 {
  bottom: 120px;
}

.mm-hasnavbar-bottom-4 .mm-panels {
  bottom: 160px;
}

.mm-navbar-size-2 {
  height: 80px;
}

.mm-navbar-size-3 {
  height: 120px;
}

.mm-navbar-size-4 {
  height: 160px;
}

.mm-navbar-content-2 > * {
  width: 50%;
}

.mm-navbar-content-3 > * {
  width: 33.33%;
}

.mm-navbar-content-4 > * {
  width: 25%;
}

.mm-navbar-content-5 > * {
  width: 20%;
}

.mm-navbar-content-6 > * {
  width: 16.67%;
}

/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  box-sizing: border-box;
}

.mm-search {
  height: 40px;
  padding: 7px 10px 0 10px;
  position: relative;
}
.mm-search input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 26px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  display: block;
  width: 100%;
  height: 26px;
  margin: 0;
  padding: 0 10px;
}
.mm-search input::-ms-clear {
  display: none;
}
.mm-search .mm-clear,
.mm-search .mm-next {
  right: 0;
}

.mm-panel > .mm-search {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.mm-panel.mm-hassearch {
  padding-top: 40px;
}
.mm-panel.mm-hassearch.mm-hasnavbar {
  padding-top: 80px;
}
.mm-panel.mm-hassearch.mm-hasnavbar .mm-search {
  top: 40px;
}

.mm-noresultsmsg {
  text-align: center;
  font-size: 21px;
  padding: 40px 0;
}

.mm-noresults .mm-indexer {
  display: none !important;
}

li.mm-nosubresults > a.mm-next {
  display: none;
}
li.mm-nosubresults > a.mm-next + a,
li.mm-nosubresults > a.mm-next + span {
  padding-right: 10px;
}

.mm-panels > .mm-resultspanel:not(.mm-opened) {
  transform: translate3d(0, 0, 0);
}

.mm-menu .mm-search input {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-noresultsmsg {
  color: rgba(0, 0, 0, 0.3);
}

.mm-menu {
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
  color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-btn:before, .mm-menu .mm-btn:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview {
  border-color: rgba(0, 0, 0, 0.1);
}
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
  border-color: rgba(0, 0, 0, 0.3);
}
.mm-menu .mm-listview > li a:not(.mm-next) {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  tap-highlight-color: rgba(255, 255, 255, 0.5);
}
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.5);
}
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.05);
}
.mm-menu .mm-divider {
  background: rgba(0, 0, 0, 0.05);
}

.vertical-mmenu .main-menu:not(.mm-menu) {
  display: none;
}
.vertical-mmenu .mm-navbar.mm-navbar-top {
  border: none;
}
.vertical-mmenu .mm-navbar.mm-navbar-top .mm-search {
  padding: 12px 10px 0 10px;
}
.vertical-mmenu .mm-listview > li > span {
  padding: 0;
  font-family: "Quicksand", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-indent: 0;
}
.vertical-mmenu .mm-listview > li:hover .mm-arrow:after,
.vertical-mmenu .mm-listview > li:hover .mm-next:after {
  border-color: white;
}
.vertical-mmenu .mm-listview > li:not(.mm-divider):after {
  left: 0px;
}
.vertical-mmenu .mm-listview li.has-sub a:not(.mm-next):after {
  display: none !important;
}
.vertical-mmenu .mm-panels {
  top: 5rem;
}
.vertical-mmenu .mm-panels > .mm-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
.vertical-mmenu .main-menu:not(.menu-native-scroll) .mm-panels > .mm-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
.vertical-mmenu .main-menu.menu-native-scroll {
  overflow-y: hidden;
}
.vertical-mmenu .main-menu.menu-native-scroll .mm-panels > .mm-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  overflow-y: auto;
}
.vertical-mmenu .menu-light.mm-menu .mm-listview > li:after,
.vertical-mmenu .menu-light.mm-menu .mm-listview > li .mm-next,
.vertical-mmenu .menu-light.mm-menu .mm-listview > li .mm-next:before {
  border-color: #E2E2E2;
}
.vertical-mmenu .menu-dark.mm-menu .mm-navbar {
  border-color: #34424C;
}
.vertical-mmenu .menu-dark.mm-menu .mm-listview > li:after,
.vertical-mmenu .menu-dark.mm-menu .mm-listview > li .mm-next,
.vertical-mmenu .menu-dark.mm-menu .mm-listview > li .mm-next:before {
  border-color: #34424C;
}
