.chat-application .chat-window-wrapper .chat-start,
.chat-application .chat-window-wrapper .chat-container {
    background-image: url("./public/images/chat/fondo-chat.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f1f1f1;
}

.chat-application .app-content {
    border: none;
}

.chat-content-messages {
    &.chat {
        .chat-body .chat-message {
            border-radius: 0.18rem;
            color: $color-chat-send-text;
            background-color: $color-chat-send;
            box-shadow: 0 2px 2px 0 rgb($color-chat-send, 15%) !important;
            max-width: 50%;
            // box-shadow: 0 2px 2px 0 rgb(140 142 160 / 10%);

            img{
                max-width: 280px;
            }

            p{
                text-align: left;
            }

            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;

                border-width: 0 0 10px 10px;
                border-color: transparent transparent transparent $color-chat-send;
                top: 0;
                right: -8px;
            }

            .text-info {
                .la-check {
                    font-weight: bold;
                }
            }

            .text-muted {
                color: $color-chat-mute-check !important;

                .la-check {
                    font-weight: bold;
                }
            }
        }

        &.chat-left {
            .chat-body .chat-message {
                color: $color-chat-recive-text !important;
                background-color: $color-chat-recive !important;
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%) !important;

                &::after {
                    border-width: 0 10px 10px 0;
                    border-color: transparent $color-chat-recive transparent transparent;
                    top: 0;
                    left: -8px;
                }
            }
        }
    }
}

.chat-attachment-preview {
    background-color: #e8e8e8;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 20px;
    -moz-transform: translatey(100%);
    -webkit-transform: translatey(100%);
    transform: translatey(100%);
    visibility: hidden;
    opacity: 0;

    transition: all .2s cubic-bezier(.42, .6, .86, .62);
    -moz-transition: all .2s cubic-bezier(.42, .6, .86, .62);
    -webkit-transition: all .2s cubic-bezier(.42, .6, .86, .62);

    &.active {
        visibility: visible;
        opacity: 1;

        -moz-transform: translatey(0%);
        -webkit-transform: translatey(0%);
        transform: translatey(0%);

        transition: all .2s cubic-bezier(.37, .65, .68, .96);
        -moz-transition: all .2s cubic-bezier(.37, .65, .68, .96);
        -webkit-transition: all .2s cubic-bezier(.37, .65, .68, .96);
    }

    .preview-toolbar {
        background-color: rgb(102 102 102 / 60%);
        padding: 5px 20px;
        margin: -20px;
        height: 52px;

        button {
            color: white;
            margin-right: 8px;
            outline: none;
            box-shadow: none;

            i {
                font-size: 1.3rem;
            }
        }

        span {
            color: white;
        }

    }

    .attachment-content {
        width: 100%;
        height: calc(100% - 52px - 10%);
        background-color: #f1f1f1;
        margin-top: 40px;

        img.embed-attachment {
            max-width: 90%;
            width: auto;
            height: auto;
            max-height: 85%;
        }
    }

    .attachment-actions {
        width: 100%;
        min-height: 10%;
        height: 10%;
        background-color: #dcdcdc;
        padding: 5px 20px;

        i.twl-chat-smile {
            display: inline-block;
            width: 25px;
            height: auto;
        }
    }
}

.chat-image-preview {
    background-color: rgb(232 232 232 / 95%);
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 20px;
    -moz-transform: translatey(100%);
    -webkit-transform: translatey(100%);
    transform: translatey(100%);
    visibility: hidden;
    opacity: 0;

    transition: all .2s cubic-bezier(.42, .6, .86, .62);
    -moz-transition: all .2s cubic-bezier(.42, .6, .86, .62);
    -webkit-transition: all .2s cubic-bezier(.42, .6, .86, .62);

    &.active {
        display: block;
        visibility: visible;
        opacity: 1;

        -moz-transform: translatey(0%);
        -webkit-transform: translatey(0%);
        transform: translatey(0%);

        transition: all .2s cubic-bezier(.37, .65, .68, .96);
        -moz-transition: all .2s cubic-bezier(.37, .65, .68, .96);
        -webkit-transition: all .2s cubic-bezier(.37, .65, .68, .96);
    }

    .preview-toolbar {
        background-color: rgb(218 218 218 / 55%);
        padding: 5px 20px;
        margin: -20px;
        height: 52px;

        button {
            color: #6b6f82;
            margin-right: 8px;
            padding: 5px 8px;
            outline: none;
            box-shadow: none;

            &:last-child{
                margin-right: 0;
            }

            i {
                font-size: 1.4rem;
            }
        }

    }

    .attachment-content {
        width: 100%;
        height: calc(100% - 52px);
        margin-top: 40px;

        img.embed-attachment {
            max-width: 90%;
            width: auto;
            height: auto;
            max-height: 85%;
        }
    }
}

.chat-list-actions {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    #partent-list {
        margin-top: 3px;
        top: -4px;
        bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 10px;

        background-color: transparent !important;
        border: none;
        outline: none;
        box-shadow: none;
        color: #6b6f82;

        i {
            font-weight: bold;
        }
    }

    .fab {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 1rem;
        display: inline-block;
        cursor: default;

        &.child {
            position: absolute;
            visibility: hidden;
            bottom: 0;
            left: -10.333333px;
            width: 42.66666667px;
            height: 42.66666667px;
            display: none;
            opacity: 0;
            font-size: 2em;
            color: white;
            z-index: 2;
            box-shadow: 0px 2px 5px rgb(0 0 0 / 35%);

            button {
                background-color: transparent !important;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                box-shadow: none;
            }

            &#attach-image {
                background: rgb(191, 89, 207);
                background: linear-gradient(0deg, rgba(191, 89, 207, 1) 50%, rgba(172, 68, 207, 1) 50%);
            }

            &#attach-document {
                background: rgb(81, 87, 174);
                background: linear-gradient(180deg, rgba(81, 87, 174, 1) 50%, rgba(95, 102, 205, 1) 50%);
            }

            &#attach-contact {
                background: rgb(7, 149, 220);
                background: linear-gradient(180deg, rgba(7, 149, 220, 1) 50%, rgba(14, 171, 244, 1) 50%);
            }
        }
    }
}

.chat-window-wrapper {
    i.twl-chat-smile {
        display: inline-block;
        width: 25px;
        height: auto;
    }

    .chat-wrapper {
        overflow: hidden;
        border-radius: 0;
    }

    .card-footer.chat-footer.px-2.py-1.pb-0 {
        z-index: 2;
    }

    .chat-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(218 218 218 / 70%);
        display: none;
        z-index: 1;
    }
}
