// TABS
.nav-tabs-twl-style-one {

    ul.nav-tabs {
        border-bottom-color: #cdced4 !important;

        li.nav-item {
            a.nav-link {
                color: $gray-600 !important;

                &.active {
                    font-weight: bold;
                    color: darken($gray-600, 5%) !important;

                    &::before {
                        background: $material-color-blue-600;
                    }
                }
            }
        }
    }

    .tab-content {
        background-color: #e0e1e6;

        .tab-pane {
            padding: 20px;
        }
    }
}

// FORMS COMPONENTS
.custom-radio {
    .custom-control-label {
        &:before {
            width: 18px;
            height: 18px;
            left: -22px;
        }

        span {
            position: relative;
            top: 2px;
        }

        &:after {
            width: 12px;
            height: 12px;
            @include center(y, 60%);
            left: -19px;
            border-radius: 100%;
            background-image: none !important;
            background-color: white;
        }
    }
}

.custom-switch {
    .custom-control-label::after {
        width: calc(1rem - 2px);
        height: calc(1rem - 2px);
    }

    .custom-control-label::before {
        border-radius: 0.6rem;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        transform: translateX(0.6rem);
    }
}

.sub-form-group {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message-asociado {
    background-color: #00000040;
    border-radius: 4px;
    padding: 2px 10px;
    margin-left: 20px;
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.inline-submit-mt {
    margin-top: 10px;
}

.message-alert {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    display: inline-block;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;

        i {
            font-size: 1.3rem;
            margin-right: .8rem;
        }
    }
}

.b-tooltip {
    z-index: 0 !important;
}

.v-select {
    height: calc(1.25em + 1.5rem + 2px);

    .vs__dropdown-toggle {
        background-color: #fff;
        border: 1px solid #babfc7;
        height: calc(1.25em + 1.5rem + 2px);
    }

    .vs__open-indicator {
        transform: scale(0.8);
    }

    &.vs--open .vs__open-indicator {
        transform: rotate(180deg) scale(0.8) !important;
    }

    .vs__clear {
        background-color: #eaeaea;
        border-radius: 100%;
        padding: 5px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }

    input {
        color: #4e5154;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25;
    }

    &.vs-sm {
        height: 2rem;

        .vs__dropdown-toggle {
            height: 2rem;
        }

        input {
            color: #4e5154;
            font-size: 0.975rem;
            font-weight: 400;
            line-height: 1.25;
        }

        .vs__selected {
            margin: 2px 2px 0;
        }
    }
}

.line-height-1_1 {
    line-height: 1.1;
}

.mr-icon {
    margin-right: 5px;
}

.title-icon-line {
    color: rgb(44, 52, 59);
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224, 225, 232);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 0;
}

.fondelab-request-type-history {
    background-color: #00000029;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 0.9rem;
    line-height: 1;
    margin-left: 10px;
}

#toast-container > div {
    box-shadow: 0 0 6px rgb(0 0 0 / 30%) !important;
    color: #FFF;
    opacity: .9 !important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) !important;
    filter: alpha(opacity=95) !important;
}

#toast-container > div:hover {
    box-shadow: 0 0 6px rgb(0 0 0 / 30%) !important;
    opacity: 1 !important;
}

.toast-success {
    background-color: #3c9a3c;
}

.toast-top-right {
    top: 75px;
}
