// Theme Vars
@import '../../public/app-assets/scss/core/variables/_bootstrap-variables.scss';
@import '../../public/app-assets/scss/material/_colors.scss';

// Color TWL
$color-french-blue: #0371BB;
$color-milano-red: #BA0904;
$color-havelock-blue: #4E8BC8;
$color-big-stone: #2c343b;
$color-big-stone-claro: #37414A;
$color-white: white;

// Sidebar Color Themes
$color-sidebar: #2b2b2b;

// Chat Colors
$color-chat-send: #DCF8C6;
$color-chat-send-text: #454842;
$color-chat-recive: #fafbfb;
$color-chat-recive-text: #6b6f82;
$color-chat-mute-check: #b5b5b5;
$color-chat-date-top: rgb($color-chat-send, 70%);
$color-catskill-white: #b5b5b5;

// Theme Dark TWL
$color-firefly: #11252F;
$color-regal-blue: #1E3F52;
$color-blue-progress: #4E8BC8;

// Theme Dark Bubbaloo
$color-torch-red: #f7314b; //#FF1635;
$color-medium-candy-apple-red: #e82039; //#ED102C;
$color-selago: $color-sidebar;
$color-torch-red-progress: #E46979;

// Theme Dark Chicle
$color-green: #20A576;
$color-pine-green: #01796B;
$color-solitude: $color-sidebar; // #eff2f6; //rgb(32 165 118 / 3%);
$color-green-progress: #01796B;

// Theme Dark Trick
$color-seance: #7B1FA2;
$color-clairvoyant: #400C5A;
$color-athens-gray: $color-sidebar; // #efeef5; //rgb(64 12 90 / 3%);
$color-seance-progress: #400C5A;

// Theme Dark Cool Blue
$color-rich-electric-blue: #0C84D1;
$color-cool-black: #01305F;
$color-cool-black-progress: #01305F;


// Theme Dark Brown
$color-theme-brown: $material-color-brown-700;
$color-theme-brown-black: $material-color-brown-900;
$color-theme-brown-progress: $material-color-brown-900;

// Theme Dark Teal
$color-theme-teal: $material-color-teal-700;
$color-theme-teal-black: $material-color-teal-900;
$color-theme-teal-progress: $material-color-teal-900;

// Theme Dark Pink
$color-theme-pink: $material-color-pink-400;
$color-theme-pink-black: $material-color-pink-500;
$color-theme-pink-progress: $material-color-pink-500;

// Theme Dark Purple
$color-theme-purple: $material-color-deep-purple-400;
$color-theme-purple-black: $material-color-deep-purple-500;
$color-theme-purple-progress: $material-color-deep-purple-500;

// Theme Dark French-Plum
$color-theme-french-plum: $material-color-pink-700;
$color-theme-french-plum-black: $material-color-pink-900;
$color-theme-french-plum-progress: $material-color-pink-900;

// Theme Modo Oscuro
$color-modo-oscuro-body-color: #181923;
$color-modo-oscuro-bg-primary: #2a2b36;
$color-modo-oscuro-bg-secondary: #24252e;
$color-modo-oscuro-borders: hsla(0, 0%, 100%, .075);
$color-modo-oscuro-text: rgba(255, 255, 255, .8);
$color-modo-oscuro-text-secondary: hsla(0, 0%, 100%, .75);
