<template>
  <b-row>
    <div class="card w-100" style="">
      <div class="card-header">
        <h4 class="card-title">Provincias</h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="expand"><i class="ft-maximize"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-sm btn-success" @click="openModalNewProvincie">
              Añadir nueva provincia
            </button>
          </div>
          <div class="mt-1">
            <div class="row m-0 justify-content-end">
              <div class="col-6">
                <b-form-group>
                  <b-form-select
                    id="selectFamily"
                    v-model="communityselected"
                    :options="[{ value: 0, text: '' }, ...communities]"
                    @change="changeFilterCommunity"
                    size="sm"
                  ></b-form-select>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <b-input v-model="filter" placeholder="Buscar..." size="sm">
                  </b-input>
                </b-form-group>
              </div>
            </div>
            <b-table
              ref="tablepronvicies"
              how-empty
              small
              stacked="md"
              class="table table-striped table-hover"
              :items="pronvicies"
              :fields="table_fields"
              :current-page="current_page"
              :per-page="per_page"
              :filter="filter"
              :filter-included-fields="filter_on"
              empty-text="No hay registros"
              empty-filtered-text="No existen registros que coincidan con la búsqueda"
              empty-html="No existen datos registrados"
              responsive
            >
              <template #cell(name)="row">
                <div v-if="row.item.skeleton">
                  <b-skeleton width="85%"></b-skeleton>
                </div>
                <div v-if="row.item.skeleton">
                  <b-skeleton width="30%"></b-skeleton>
                </div>
                <div class="row m-0 mb-1" v-if="!row.item.skeleton">
                  <span class="">
                    {{ row.item.name }}
                  </span>
                </div>
              </template>
              <template #cell(comu)="row">
                <div v-if="row.item.skeleton">
                  <b-skeleton width="85%"></b-skeleton>
                </div>
                <div v-if="row.item.skeleton">
                  <b-skeleton width="30%"></b-skeleton>
                </div>
                <div class="row m-0 mb-1" v-if="!row.item.skeleton">
                  <span class="">
                    {{ row.item.name }}
                  </span>
                </div>
              </template>              
              <template #cell(date)="row">
                <span>
                  {{ row.item.created_at | moment("DD [de] MMMM,YYYY") }}
                </span>
              </template>
              <template #cell(options)="row">
                <span
                  class="h3 text-info cursor-pointer mr-1"
                  @click="editProvincie(row.item)"
                  v-b-tooltip
                  title="Modificar la provincia"
                >
                  <i class="fad fa-edit"></i>
                </span>
                <span
                  class="h3 text-danger cursor-pointer"
                  @click="removeProvincie(row.item)"
                  v-b-tooltip
                  title="Remover la provincia"
                >
                  <i class="fad fa-times"></i>
                </span>
              </template>
            </b-table>
            <b-row class="justify-content-end">
              <b-col sm="12" md="6" class="my-1">
                <div class="description found">
                  Total de Registros: {{ pronvicies.length }}
                </div>
              </b-col>
              <b-col sm="12" md="6" class="my-1">
                <b-pagination
                  v-model="current_page"
                  :total-rows="pronvicies.length"
                  :per-page="per_page"
                  size="sm"
                  class="my-0 float-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <modal-edit-provincie
      :communities="communities"
      :data="ProvincieSelected"
      :callbackSuccess="callbackSuccessEditProvincie"
    ></modal-edit-provincie>
    <modal-new-provincie
      :communities="communities"
      :callbackSuccess="callbackSuccessNewProvincie"
    ></modal-new-provincie>
  </b-row>
</template>

<script>
export default {
  name: "ListProvincie", 
  data() {
    return {
      communityselected:null,
      communities:[],
      ProvincieSelected:{},
      pronvicies: [],
      pronviciesBackup: [],
      table_fields: [
        {
          key: "name",
          label: "Nombre",
          sortable: false,
          class: "align-middle",
        },
        {
          key: "date",
          label: "Fecha de creación",
          sortable: false,
          class: "align-middle",
        },
        {
          key: "options",
          label: "Opciones",
          sortable: false,
          class: "align-middle",
        },
      ],
      rows: 1,
      current_page: 1,
      per_page: 50,
      items_show: [50, 100, 200, 300],
      filter: null,
      filter_on: [],
      total_rows: 0,
      on_filtered: null,
    };
  },
  created() {
      this.getCommunities();
      this.getpronvicies();
  },
  methods: {
    openModalNewProvincie() {
      this.$bvModal.show("modal-new-provincie");
    },
    callbackSuccessNewProvincie(data) {
      this.pronvicies.unshift(data);
      this.pronviciesBackup.unshift(data);
      this.$bvModal.hide("modal-new-provincie");
    },
    callbackSuccessEditProvincie(data){
      for(let i in this.pronvicies){
        if(this.pronvicies[i].id == data.id){
          this.pronvicies[i] = data;
          this.$refs.tablepronvicies.refresh();
          break;
        }
        if(this.pronviciesBackup[i].id == data.id){
          this.pronviciesBackup[i] = data;
          break;
        }
      }
    },
    getCommunities(){
      axios.get(route('community.getAll')).then(res => {
        this.communities = res.data.data.map(elm => {
          return {
            value: elm.id,
            text: elm.name
          }
        });
      });
    },
    getpronvicies(){
        axios.get(route('provincie.getAll')).then(res => {
            this.pronvicies = res.data.data;
            this.pronviciesBackup = res.data.data;
            this.total_rows = this.pronvicies.length;
        });
    },
    editProvincie(row){
		  this.ProvincieSelected = row;
		  this.$bvModal.show('modal-edit-provincie');
    },
    removeProvincie(row){
        this.$swal.fire({
                title: '¿Está seguro que desea remover la provincia?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28d094',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get(route('provincie.delete',{id:row.id})).then(res => {
                        if(res.data.status){
                            for(let i in this.pronvicies){
                                if(this.pronvicies[i].id == row.id){
                                    this.pronvicies.splice(i,1);
                                    this.$refs.tablepronvicies.refresh();
                                }
                            }
                        }else{
                            this.$toastr.error(res.data.message,'Ocurrio un error');
                        }
                    });
                }
            })
    },
    changeFilterCommunity(){
      if(!this.communityselected){
        this.pronvicies = this.pronviciesBackup;
      }else{
        this.pronvicies = this.pronviciesBackup.filter(elm => {
          return elm.community_id == this.communityselected;
        });
      }
    }
  },
};
</script>

<style scoped>
</style>
