body{
    &.vertical-layout.vertical-menu-modern.menu-collapsed {
        .navbar {
            .navbar-brand {
                padding: 0;
                width: 42px;
                overflow: hidden;
                transition: 300ms ease all;
            }
        }
    }
}

.header-navbar {
    .navbar-header {
        padding-left: 10px;

        .navbar-brand {
            padding: 0;
            height: 72px;

            img.brand-logo {
                width: 145px;
                position: relative;
                top: 4px;
            }
        }

        &.expanded{
            .navbar-brand {
                overflow: inherit !important;
                transition: 300ms ease all;
            }
        }
    }

    .notification-icon{
        font-size: 1.5rem;
    }

    .badge-notifications {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        font-weight: 600;
        line-height: 1;
    }

    .dropdown-my-pages {
        .mega-dropdown-menu {
            border-color: white;
            background-color: white;
            border-radius: 0 0 0.35rem 0.35rem;
            margin-top: 2px;

            & {
                li {
                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    .item-page {
                        position: relative;

                        &::after{
                            display: inline-block;
                            content: '';
                            width: 1px;
                            height: 25%;
                            position: absolute;
                            @include center(y);
                            right: -15px;
                            //background-color: darken(white, 15%);
                        }

                        &.no-after{
                            &::after{
                                display: none;
                            }
                        }

                        &__image {
                            width: 100%;
                            text-align: center;
                            background-color: darken(white, 4%);
                            border-radius: 6px;
                            margin-bottom: 0px;
                            height: 80px;

                            img {
                                display: block;
                                width: 100%;
                                max-width: 100px;
                            }
                        }

                        a {
                            display: block;
                            width: 100%;
                            text-align: center;
                            padding: 5px 15px;
                            border-radius: 0 0 0.25rem 0.25rem;
                        }
                    }
                }
            }
        }
    }
}

.width-45 {
    width: 45px !important;
}

.height-45 {
    height: 45px !important;
}
