#container-login{
    .card{
        .card-header{
            .card-title{
                padding: 20px 0 !important;
                img{
                    width: 100%;
                    max-width: 350px;
                }
            }
        }
    }
}
