/* For Drag And Drop css */
/* --------------------- */
#draggable-cards .card {
  cursor: grab;
}

#basic-list-group .list-group-item,
#multiple-list-group-a .list-group-item,
#multiple-list-group-b .list-group-item {
  cursor: grab;
}

#clone-lists .chip {
  cursor: grab;
}

/* For Multi List */
#multiple-list-group-a,
#multiple-list-group-b {
  min-height: 5.714rem;
}

#dd-with-handle .list-group {
  min-height: 5.714rem;
}
#dd-with-handle .list-group .handle {
  /* handle in list-group*/
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: move;
  font-size: 1.2rem;
}
