/* Context Menu css */
/*----------------- */
.context-menu-list {
  /* context-menu-list */
  border-radius: 0.25rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 1px solid #E4E5EC !important;
}
.context-menu-list .context-menu-item {
  padding: 0.6rem 2rem;
}
.context-menu-list .context-menu-item:not(:last-child) {
  border-bottom: 1px solid #E4E5EC;
}
.context-menu-list .context-menu-item:hover {
  background-color: #F2F4F4;
  color: inherit;
}
