/* treeview Wrapper css */
/* -------------------- */
.bootstraptreeview .list-group .list-group-item.node-colourful-treeview:hover {
  color: #fff;
}
.bootstraptreeview .list-group .list-group-item.node-colourful-treeview.node-selected .badge {
  background-color: #666ee8;
  color: #666ee8;
}
.bootstraptreeview .list-group .list-group-item.node-node-override-treeview:last-child .badge, .bootstraptreeview .list-group .list-group-item.node-node-override-treeview.node-selected .badge {
  background-color: #fff;
  color: #ff9149;
}
.bootstraptreeview .list-group .list-group-item.node-node-override-treeview .badge {
  background-color: #ff9149;
  color: #fff;
}
.bootstraptreeview .list-group .list-group-item .badge {
  /* Comman badge style inside treeview */
  margin-left: 0.8rem;
  background-color: #F5F7FA;
  color: #666ee8;
}
.bootstraptreeview .list-group .list-group-item .icon {
  /* treeview icon alignment and spacing */
  vertical-align: middle;
  margin-right: 0.5rem;
}
