#toast-container > div {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}

#toast-container > div:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.toast {
  background-color: #666ee8;
}

.toast-success {
  background-color: #28d094;
}

.toast-error {
  background-color: #ff4961;
}

.toast-info {
  background-color: #1e9ff2;
}

.toast-warning {
  background-color: #ff9149;
}
