<template>
  <b-row>
    <div class="card w-100" style="">
      <div class="card-header">
        <h4 class="card-title">comunidades</h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="expand"><i class="ft-maximize"></i></a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-sm btn-success" @click="openModalNewcommunity">
              Añadir nueva comunidad
            </button>
          </div>
          <div class="mt-1">
            <div class="row m-0 justify-content-end">
              <div class="col-6">
                <b-form-group>
                  <b-input v-model="filter" placeholder="Buscar..." size="sm">
                  </b-input>
                </b-form-group>
              </div>
            </div>
            <b-table
              ref="tableFamilies"
              how-empty
              small
              stacked="md"
              class="table table-striped table-hover"
              :items="communities"
              :fields="table_fields"
              :current-page="current_page"
              :per-page="per_page"
              :filter="filter"
              :filter-included-fields="filter_on"
              empty-text="No hay registros"
              empty-filtered-text="No existen registros que coincidan con la búsqueda"
              empty-html="No existen datos registrados"
              responsive
            >
              <template #cell(name)="row">
                <div v-if="row.item.skeleton">
                  <b-skeleton width="85%"></b-skeleton>
                </div>
                <div v-if="row.item.skeleton">
                  <b-skeleton width="30%"></b-skeleton>
                </div>
                <div class="row m-0 mb-1" v-if="!row.item.skeleton">
                  <span class="">
                    {{ row.item.name }}
                  </span>
                </div>
              </template>
              <template #cell(date)="row">
                <span>
                  {{ row.item.created_at | moment("DD [de] MMMM,YYYY") }}
                </span>
              </template>
              <template #cell(options)="row">
                <span
                  class="h3 text-info cursor-pointer mr-1"
                  @click="editFamily(row.item)"
                  v-b-tooltip
                  title="Modificar la familia"
                >
                  <i class="fad fa-edit"></i>
                </span>
                <span
                  class="h3 text-danger cursor-pointer"
                  @click="removeFamily(row.item)"
                  v-b-tooltip
                  title="Remover la familia"
                >
                  <i class="fad fa-times"></i>
                </span>
              </template>
            </b-table>
            <b-row class="justify-content-end">
              <b-col sm="12" md="6" class="my-1">
                <div class="description found">
                  Total de Registros: {{ communities.length }}
                </div>
              </b-col>
              <b-col sm="12" md="6" class="my-1">
                <b-pagination
                  v-model="current_page"
                  :total-rows="communities.length"
                  :per-page="per_page"
                  size="sm"
                  class="my-0 float-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <modal-edit-community
      :data="communitySelected"
      :callbackSuccess="callbackSuccessEditFamily"
    ></modal-edit-community>
    <modal-new-community
      :callbackSuccess="callbackSuccessNewCommunity"
    ></modal-new-community>
  </b-row>
</template>

<script>
export default {
  name: "ListCommunity",
  data() {
    return {
		communitySelected:{},
		communities: [],
		table_fields: [
			{
                key: "name",
                label: "Nombre",
                sortable: false,
                class: "align-middle",
			},
			{
                key: "date",
                label: "Fecha de creación",
                sortable: false,
                class: "align-middle",
			},
			{
                key: "options",
                label: "Opciones",
                sortable: false,
                class: "align-middle",
			},
		],
		rows: 1,
		current_page: 1,
		per_page: 50,
		items_show: [50, 100, 200, 300],
		filter: null,
		filter_on: [],
		total_rows: 0,
		on_filtered: null,
    };
  },
  created() {
      this.getAll();
  },
  methods: {
    openModalNewcommunity() {
      this.$bvModal.show("modal-new-community");
    },
    callbackSuccessNewCommunity(data) {
      this.communities.unshift(data);
      this.$bvModal.hide("modal-new-community");
    },
    callbackSuccessEditFamily(data){
      for(let i in this.communities){
        if(this.communities[i].id == data.id){
          this.communities[i] = data;
          this.$refs.tableFamilies.refresh();
          break;
        }
      }
    },
    getAll(){
        axios.get(route('community.getAll')).then(res => {
            this.communities = res.data.data;
            this.total_rows = this.communities.length;
        });
    },
    editFamily(row){
		this.communitySelected = row;
		this.$bvModal.show('modal-edit-community');
    },
    removeFamily(row){
        this.$swal.fire({
                title: '¿Está seguro que desea remover la comunidad?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28d094',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get(route('community.delete',{id:row.id})).then(res => {
                        if(res.data.status){
                            for(let i in this.communities){
                                if(this.communities[i].id == row.id){
                                    this.communities.splice(i,1);
                                    this.$refs.tableFamilies.refresh();
                                }
                            }
                        }else{
                            this.$toastr.error(res.data.message,'Ocurrio un error');
                        }
                    });
                }
            })
    }
  },
};
</script>

<style scoped>
</style>
