.btn, .fc button {
  display: inline-block;
  font-weight: 400;
  color: #6b6f82;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn, .fc button {
    transition: none;
  }
}
.btn:hover, .fc button:hover {
  color: #6b6f82;
  text-decoration: none;
}
.btn:focus, .fc button:focus, .btn.focus, .fc button.focus {
  outline: 0;
  box-shadow: none;
}
.btn.disabled, .fc button.disabled, .btn:disabled, .fc button:disabled {
  opacity: 0.65;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #666ee8;
  border-color: #666ee8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #454ee3;
  border-color: #3a44e1;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(125, 132, 235, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #666ee8;
  border-color: #666ee8;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3a44e1;
  border-color: #2f39e0;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(125, 132, 235, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6b6f82;
  border-color: #6b6f82;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a5d6d;
  border-color: #545766;
}
.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 133, 149, 0.5);
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6b6f82;
  border-color: #6b6f82;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545766;
  border-color: #4e515f;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 133, 149, 0.5);
}

.btn-success {
  color: #2a2e30;
  background-color: #28d094;
  border-color: #28d094;
}
.btn-success:hover {
  color: #fff;
  background-color: #22b07d;
  border-color: #20a576;
}
.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 184, 133, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #2a2e30;
  background-color: #28d094;
  border-color: #28d094;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #20a576;
  border-color: #1e9b6e;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 184, 133, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #1e9ff2;
  border-color: #1e9ff2;
}
.btn-info:hover {
  color: #fff;
  background-color: #0d8bdd;
  border-color: #0c84d1;
}
.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(64, 173, 244, 0.5);
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #1e9ff2;
  border-color: #1e9ff2;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0c84d1;
  border-color: #0b7cc5;
}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(64, 173, 244, 0.5);
}

.btn-warning {
  color: #2a2e30;
  background-color: #ff9149;
  border-color: #ff9149;
}
.btn-warning:hover {
  color: #2a2e30;
  background-color: #ff7a23;
  border-color: #ff7216;
}
.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 130, 69, 0.5);
}
.btn-warning.disabled, .btn-warning:disabled {
  color: #2a2e30;
  background-color: #ff9149;
  border-color: #ff9149;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ff7216;
  border-color: #ff6a09;
}
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 130, 69, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #ff4961;
  border-color: #ff4961;
}
.btn-danger:hover {
  color: #fff;
  background-color: #ff2340;
  border-color: #ff1635;
}
.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 121, 0.5);
}
.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ff4961;
  border-color: #ff4961;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff1635;
  border-color: #ff092a;
}
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 100, 121, 0.5);
}

.btn-light {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}
.btn-light:hover {
  color: #2a2e30;
  background-color: #a5abb6;
  border-color: #9ea5b0;
}
.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(164, 169, 176, 0.5);
}
.btn-light.disabled, .btn-light:disabled {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  color: #2a2e30;
  background-color: #9ea5b0;
  border-color: #979eaa;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(164, 169, 176, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #464855;
  border-color: #464855;
}
.btn-dark:hover {
  color: #fff;
  background-color: #353640;
  border-color: #2f3039;
}
.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(98, 99, 111, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #464855;
  border-color: #464855;
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #2f3039;
  border-color: #292a32;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(98, 99, 111, 0.5);
}

.btn-outline-primary, .fc button {
  color: #666ee8;
  border-color: #666ee8;
}
.btn-outline-primary:hover, .fc button:hover {
  color: #fff;
  background-color: #666ee8;
  border-color: #666ee8;
}
.btn-outline-primary:focus, .fc button:focus, .btn-outline-primary.focus, .fc button.focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 110, 232, 0.5);
}
.btn-outline-primary.disabled, .fc button.disabled, .btn-outline-primary:disabled, .fc button:disabled {
  color: #666ee8;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .fc button:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .fc button:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .fc .show > button.dropdown-toggle {
  color: #fff;
  background-color: #666ee8;
  border-color: #666ee8;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .fc button:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .fc button:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus, .fc .show > button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 110, 232, 0.5);
}

.btn-outline-secondary {
  color: #6b6f82;
  border-color: #6b6f82;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6b6f82;
  border-color: #6b6f82;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(107, 111, 130, 0.5);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6b6f82;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6b6f82;
  border-color: #6b6f82;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(107, 111, 130, 0.5);
}

.btn-outline-success {
  color: #28d094;
  border-color: #28d094;
}
.btn-outline-success:hover {
  color: #2a2e30;
  background-color: #28d094;
  border-color: #28d094;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 208, 148, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #28d094;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #2a2e30;
  background-color: #28d094;
  border-color: #28d094;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 208, 148, 0.5);
}

.btn-outline-info {
  color: #1e9ff2;
  border-color: #1e9ff2;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #1e9ff2;
  border-color: #1e9ff2;
}
.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 159, 242, 0.5);
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #1e9ff2;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #1e9ff2;
  border-color: #1e9ff2;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(30, 159, 242, 0.5);
}

.btn-outline-warning {
  color: #ff9149;
  border-color: #ff9149;
}
.btn-outline-warning:hover {
  color: #2a2e30;
  background-color: #ff9149;
  border-color: #ff9149;
}
.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 145, 73, 0.5);
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ff9149;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #2a2e30;
  background-color: #ff9149;
  border-color: #ff9149;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 145, 73, 0.5);
}

.btn-outline-danger {
  color: #ff4961;
  border-color: #ff4961;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #ff4961;
  border-color: #ff4961;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 73, 97, 0.5);
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #ff4961;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ff4961;
  border-color: #ff4961;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 73, 97, 0.5);
}

.btn-outline-light {
  color: #babfc7;
  border-color: #babfc7;
}
.btn-outline-light:hover {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}
.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(186, 191, 199, 0.5);
}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #babfc7;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
  color: #2a2e30;
  background-color: #babfc7;
  border-color: #babfc7;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(186, 191, 199, 0.5);
}

.btn-outline-dark {
  color: #464855;
  border-color: #464855;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #464855;
  border-color: #464855;
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(70, 72, 85, 0.5);
}
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #464855;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #464855;
  border-color: #464855;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(70, 72, 85, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #5059e5;
  text-decoration: none;
}
.btn-link:hover {
  color: #1e29ca;
  text-decoration: underline;
}
.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6b6f82;
  pointer-events: none;
}

.btn-lg {
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  border-radius: 0.35rem;
}

.btn-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.21rem;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #E4E5EC;
}

th.fc-widget-header,
.fc-basic-view td.fc-day-number,
.fc-basic-view td.fc-week-number span {
  padding: 10px;
}

.fc-state-default {
  background-image: none;
  box-shadow: none;
}

.fc button {
  height: auto;
  outline: none;
  border-radius: 0;
  text-shadow: none;
}

.btn:focus,
.fc button:focus,
.btn.focus,
.fc button.focus,
.btn:active:focus,
.fc button:active:focus,
.btn:active.focus,
.fc button:active.focus,
.btn.active:focus,
.fc button.active:focus,
.btn.active.focus,
.fc button.active.focus {
  outline: none;
}

.fc-day-grid-event {
  margin: 0 5px 5px 5px;
  padding: 4px 8px;
}

.fc-event {
  background: #666ee8;
  border: 1px solid #5059e5;
}
.fc-event span {
  font-size: 1rem;
  color: #FFF;
}

.fc-time-grid-event .fc-title {
  color: #FFF;
}

.fc-unthemed .fc-today {
  color: #FFF;
  background: #666ee8;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
  background: #E4EBF1;
}

.fc-popover .fc-header {
  padding: 10px 5px;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
  border-radius: 4px;
  border: none;
  padding: 5px;
  opacity: 0.65;
  left: 5% !important;
  right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  font-weight: bold !important;
  color: #fff !important;
}
.fc-event:hover {
  color: #fff !important;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: 0.25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
  font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
  opacity: 0.65 !important;
  margin-left: 12px !important;
  padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
  opacity: 0.65 !important;
  margin-left: 12px !important;
  padding: 5px !important;
}

.fc-time-grid .fc-slats td {
  height: auto;
}

.fc-ltr .fc-axis {
  padding: 10px;
}

.fc-nonbusiness {
  background: #D7E0EA;
}

.fc-events-container {
  padding: 0 10px;
  border: 1px solid #A2B8CD;
  background: #f4f5fa;
  text-align: left;
}

.fc-events-container .fc-event {
  padding: 5px;
  margin: 10px 0;
}

.timezone-selector,
.full-calender-languages {
  width: 100%;
}

.fc-button:not(:disabled).fc-button-active {
  background-color: #3a44e1;
  border-color: #666ee8;
}
.fc-button:not(:disabled).fc-button-active:focus {
  outline: none;
  box-shadow: none;
}

.fc-button-group .fc-button, .fc-button-group.fc-button,
.fc-today-button .fc-button,
.fc-today-button.fc-button {
  border-radius: 4px;
}

@media (min-width: 576px) {
  .fc-toolbar {
    flex-direction: row !important;
  }
}
.fc-toolbar {
  flex-direction: column;
}
