<template>
    <b-modal
        id="modal-attachment-diary"
        title="Subir compras del dia"
        role="dialog"
        class="fade"
        size="sm"
    >
        <div class="row m-0">
            <vue-dropzone
                class="dropzone"
                ref="refDropzone"
                id="refDropzone"
                :options="dropzoneOptions"
                :useCustomSlot="true"
                >
                    <div class="dropzone-custom-content">
                        <i
                            class="la la-cloud-upload mx-1 text-primary"
                            style="font-size: 4.2rem"
                        ></i>
                        <h3 class="dropzone-custom-title">
                            Arrastra el archivo hasta aquí para subirlo
                        </h3>
                        <div class="subtitle">
                            ó selecciónalo desde tu computador
                        </div>
                    </div>
                </vue-dropzone>
        </div>
        <template #modal-footer="">
            <b-button
                size="md"
                variant="secondary"
                @click="$bvModal.hide('modal-attachment-diary')"
            >
                Cerrar
            </b-button>

            <b-button
                size="md"
                variant="success"
                @click="createClient"
                :disabled="creating"
            >
                {{ creating ? "Cargando " : "Cargar" }}
                ventas diarias
            </b-button>
        </template>
    </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalAttachment",
    props: {
      callback: {
        callbackSuccess: Function
      }
    },
    data() {
        return {
            creating:false,
            dropzoneOptions: {
                url: ".",
                maxFiles: 1,
                acceptedFiles: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                thumbnailWidth: 150,
                maxFilesize: 5,
                addRemoveLinks: true,
                headers: {
                    "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr(
                        "content"
                    ),
                },
                manuallyAddFile: true,
                autoProcessQueue: false,
            },
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-attachment-diary'){

                }
            });
        },
        createClient(){

            let files = this.$refs["refDropzone"].getQueuedFiles();

            let formdata = new FormData();

            for (let f in files) {
                formdata.append("file", files[f]);
            }

            this.creating = true;
            axios.post(route('dashboard.uploadShopDiary'),formdata).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-attachment-diary');
                    this.$toastr.success('Se cargaron correctamente las ventas','Correcto');
                    console.log(res.data);
                    this.$parent.callbackSuccess(res.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                    console.log(res.data);
                }
            });
        },

    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>
