.main-menu {
    .main-menu-content {
        ul.navigation-main {
            padding-top: 29px;
        }
    }

    /*&.menu-twl {
        .main-menu-content {
            ul.navigation-main {
                li {
                    &.nav-item {
                        &.active {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    &.menu-twl-bubbaloo {
        .main-menu-content {
            ul.navigation-main {
                li {
                    &.nav-item {
                        &.active {
                            a {
                                color: white;
                                box-shadow: 0 1px 20px 1px rgb(255 73 97 / 60%);
                            }
                        }

                        &.open {
                            a {
                                .nav-link {
                                    &:focus,
                                    &:hover {
                                        color: $color-medium-candy-apple-red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.menu-twl-chicle {
        .main-menu-content {
            ul.navigation-main {
                li {
                    &.nav-item {
                        &.active {
                            a {
                                color: white;
                                box-shadow: 0 1px 20px 1px rgb(32 165 118 / 60%);
                            }
                        }
                    }
                }
            }
        }
    }

    &.menu-twl-trick {
        .main-menu-content {
            ul.navigation-main {
                li {
                    &.nav-item {
                        &.active {
                            a {
                                color: white;
                                box-shadow: 0 1px 20px 1px rgb(64 12 90 / 60%);
                            }
                        }
                    }
                }
            }
        }
    }

    &.menu-twl-cool-blue {
        .main-menu-content {
            ul.navigation-main {
                li {
                    &.nav-item {
                        &.active {
                            a {
                                color: white;
                                box-shadow: 0 1px 20px 1px rgb(12 132 209 / 60%);
                            }
                        }
                    }
                }
            }
        }
    }*/

}
