// Prefixers
$prefixes: ("webkit", "moz", "ms", "o", "spec");

@mixin prefixer(
    $property,
    $value,
    $prefixes: ()
) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $property}: $value;
    }
    #{$property}: $value;
}

@mixin transform($property: none) {
    // none | <transform-function>
    @include prefixer(transform, $property, $prefixes);
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy, $top:50%) {
    @if $xy == xy {
        left: 50%;
        top: $top;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    } @else if $xy == x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    } @else if $xy == y {
        top: $top;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}
