// Globals Themes mixin
// $theme-color : Menu text color
// $theme-bg 	: Menu background color
// ================================================
@mixin generate-global-theme(
    $theme-name,
    $theme-primary-color,
    $theme-header-color-primary,
    $theme-header-color-secondary
) {
    //main menu vars theme TWL Dark
    $menu-twl-dark-bg: $color-sidebar;
    $menu-twl-dark-bg-ul: $color-sidebar;
    $menu-twl-dark-bg-ul-li-active: $theme-primary-color;
    $menu-twl-dark-bg-ul-li-collapse-active: $theme-primary-color;
    $menu-twl-dark-color: $gray-100;

    .global-theme-#{$theme-name} {

        // PEACE PROGRESS
        .pace {
            .pace-progress {
                background: $theme-header-color-secondary !important;
            }
        }

        // END PEACE PROGRESS

        .header-navbar {
            &.bg-#{$theme-name} {
                background-image: linear-gradient(
                        to right,
                        $theme-header-color-primary 0%,
                        $theme-header-color-secondary 100%
                );
                background-repeat: repeat-x;
            }
        }

        // THEME USER PROFILE
        #user-profile {
            .profile-twl {
                .image-user-profile {
                    img{
                        border-color: lighten($theme-primary-color, 50%);
                    }

                    .change-avatar {
                        background: lighten($theme-primary-color, 45%);

                        i {
                            color: $theme-header-color-primary;
                        }
                    }
                }
            }
        }

        // END THEME USER PROFILE

        // PROFILE FONDELAB
        .tab-profile-fondelab {

            ul.nav-tabs {
                li.nav-item {
                    a.nav-link {
                        &.active {
                            color: darken($theme-primary-color, 5%) !important;

                            &::before {
                                background: $theme-primary-color !important;
                            }
                        }
                    }
                }
            }
        }

        //

        // TABS THEME STYLE ONE
        .nav-tabs-twl-style-one {
            ul.nav-tabs {
                li.nav-item {
                    a.nav-link {
                        &.active {
                            color: darken($theme-primary-color, 5%) !important;

                            &::before {
                                background: $theme-primary-color !important;
                            }
                        }
                    }
                }
            }
        }

        // END TABS THEME STYLE ONE

        // Manin Manu Colors Generate
        .main-menu {
            &.menu-#{$theme-name} {
                @include menu-theme(
                        $menu-twl-dark-color,
                        $menu-twl-dark-bg,
                    $menu-bg-light: false,
                    $menu-twl-bg-ul-li-a-ctive: $menu-twl-dark-bg-ul-li-collapse-active,
                    $color-text-active: $color-white
                );
                border-right: none !important;
            }

            &.menu-shadow {
                box-shadow: 0 2px 2px 1px rgb(0 0 0 / 25%);
            }
        }

        // END SIDEBAR

        // MODAL'S APPLY THEME
        .modal-dialog {
            .modal-content {
                background-color: transparent;

                .modal-header {
                    background-color: $theme-primary-color;
                    border-bottom-color: darken($theme-primary-color, 2%);

                    h5 {
                        color: white;
                    }

                    button.close {
                        color: white;
                        outline: none;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .modal-body {
                    background-color: white;
                }

                .modal-footer {
                    border-top-color: darken($theme-primary-color, 5%);
                    background-color: white;
                }
            }
        }

        // END MODAL'S APPLY THEME

        // CHAT APPLY THEME
        .chat-sidebar {
            .chat-sidebar-list-wrapper {
                li {
                    &.active {
                        background: $theme-primary-color;
                        color: white;
                    }

                    .text-muted {
                        color: #d8d8d8 !important;
                    }
                }
            }
        }

        .chat-footer {
            button {
                background-color: $theme-primary-color !important;
                color: white;
                border-color: $theme-primary-color !important;

                &.active {
                    background-color: $theme-primary-color !important;
                    color: white !important;
                }

                &.btn-glow {
                    box-shadow: 0px 1px 20px 1px rgba($theme-primary-color, 0.6) !important;
                }
            }
        }

        .chat-attachment-preview {
            .preview-toolbar {
                background-color: darken($theme-primary-color, 10%);

                button {
                    color: white;
                }

                span {
                    color: white;
                }

            }
        }

        // END CHAT APPLY THEME

        // GENERIC CLASS APLY COLORS THEME
        button.apply-style-theme {
            background-color: $theme-primary-color !important;
            color: white;
            border-color: $theme-primary-color !important;

            &.active {
                background-color: $theme-primary-color !important;
                color: white !important;
            }

            &.btn-glow {
                box-shadow: 0px 1px 20px 1px rgba($theme-primary-color, 0.6) !important;
            }
        }

        .apply-style-color{
            color: $theme-primary-color;
        }

        div.apply-style-theme {
            background-color: $theme-primary-color;
            color: white !important;
        }

        a.apply-style-theme {
            background-color: $theme-primary-color;
            color: white !important;

            &.active {
                background-color: $theme-primary-color !important;
                color: white !important;
            }

            &.btn-glow {
                box-shadow: 0px 1px 20px 1px rgba($theme-primary-color, 0.6);
            }

            i{
                color: $theme-primary-color;
            }
        }

        a.apply-style-theme-bordered {
            background-color: transparent;
            color: $theme-primary-color !important;
            border: 1px solid $theme-primary-color !important;

            i {
                color: $theme-primary-color !important;
            }
        }

        a.apply-style-theme-bordered-inline {
            background-color: transparent;
            color: $theme-primary-color !important;
            border: 1px solid $theme-primary-color !important;
            display: inline-block !important;

            transition: all 0.2s cubic-bezier(.04,.28,.93,.64);

            i {
                color: $theme-primary-color !important;
            }

            &:hover{
                background-color: $theme-primary-color;
                color: white !important;
                border: 1px solid $theme-primary-color !important;
                display: inline-block !important;

                i {
                    color: white !important;
                }
            }
        }

        .message-alert{
            background-color: lighten($theme-primary-color, 50%);
            color: $theme-primary-color;
            border: 1px solid lighten($theme-primary-color, 35%);
        }

        .dropzone {
            border-color: $theme-primary-color !important;

            .dropzone-custom-content {
                i {
                    color: $theme-primary-color !important;
                }
            }
        }

        .pagination {
            .page-item {
                &.active {
                    .page-link {
                        color: #fff;
                        background-color: $theme-primary-color;
                        border-color: $theme-primary-color;
                    }
                }
            }
        }

        .card-user-time-two {
            &__header {
                border-bottom: 1px solid #e4e4e4;
                background: rgb(251,251,251);
                background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(244,244,244,1) 25%, $theme-primary-color 100%);

                &_line-round {
                    background-color: #ccc;
                }

                &_image {
                    border: 3px solid #fafafa;
                }
            }

            &__body,
            &__footer {
                background: #fafafa;
            }

            &__body {
                button{
                    background: white;
                }
            }

            &__footer {
                .list-group {
                    background-color: white;

                    .list-group-item {
                        background-color: rgba(255, 255, 255, 0.03);


                        a{
                            border-bottom: 1px solid #f1f1f1;
                        }

                        i {
                            color: $color-rich-electric-blue;
                        }
                    }
                }
            }
        }

        /* .nav{
             &.nav-tabs{
                 &.nav-underline {
                     border-bottom: 1px solid $theme-primary-color;

                     .nav-item {
                         a.nav-link {
                             color: $theme-primary-color;

                             &:before {
                                 background: $theme-primary-color;
                             }
                         }
                     }
                 }
             }
         }*/

        button.apply-style-theme-light-btn {
            background-color: lighten($theme-primary-color, 50%);
            color: $theme-primary-color;
            border: 1px solid lighten($theme-primary-color, 35%);
        }

        .message-asociado{
            color: white;
            background-color: $theme-primary-color;

            i{
                color: white;
            }
        }

        // END GENERIC CLASS APLY COLORS THEME
    }
}

@mixin generate-global-theme-dark(
    $theme-name,
    $theme-primary-color,
    $theme-body-color,
    $theme-bg-primary-color,
    $theme-bg-secondary-color,
    $theme-borders-color,
    $theme-menu-primary-color,
    $theme-menu-secondary-color,
    $theme-text-color,
    $theme-text-color-secondary
) {
    //main menu vars theme TWL Dark
    $menu-twl-dark-bg: $theme-menu-primary-color;
    $menu-twl-dark-bg-ul: $theme-menu-primary-color;
    $menu-twl-dark-bg-ul-li-active: $theme-primary-color;
    $menu-twl-dark-bg-ul-li-collapse-active: $theme-primary-color;
    $menu-twl-dark-color: $theme-text-color;

    // Forms Colors
    $theme-input-bg: hsla(0, 0%, 100%, 0.05);
    $theme-input-border: hsla(0, 0%, 100%, 0.09);
    $theme-input-border-focus: hsla(0, 0%, 100%, 0.2);
    $theme-input-text: hsla(0, 0%, 100%, 0.87);
    $theme-input-text-placeholder: hsla(0, 0%, 100%, 0.6);

    // Tables Colors
    $theme-table-text-color: $theme-text-color;
    $theme-table-text-color-hover: hsla(0, 0%, 100%, 0.87);
    $theme-table-bg-hover: hsla(0, 0%, 100%, 0.1);
    $theme-table-filter-color: darken(hsla(0, 0%, 100%, 0.87), 20%);
    $theme-table-filter-color-active: hsla(0, 0%, 100%, 0.87);

    // Navs
    $theme-nav-border-color: rgb(255 255 255 / 15%);

    .global-theme-#{$theme-name} {
        // Body Color
        color: $theme-text-color;
        background-color: $theme-body-color;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $theme-text-color-secondary;
        }

        // Header Colors
        .header-navbar {
            &.bg-#{$theme-name} {
                background-color: darken($theme-menu-primary-color, 4%);
            }

            .navbar-header {
                background-color: darken($theme-menu-primary-color, 4%);
            }
        }

        // Footer
        footer {
            background: darken($theme-menu-primary-color, 4%);

            &.navbar-border {
                border-top: 1px solid $theme-bg-primary-color;
            }
        }

        // Manin Manu Colors Generate
        .main-menu {
            &.menu-#{$theme-name} {
                @include menu-theme(
                        $menu-twl-dark-color,
                        $menu-twl-dark-bg,
                    $menu-bg-light: false,
                    $menu-twl-bg-ul-li-a-ctive: $menu-twl-dark-bg-ul-li-collapse-active,
                    $color-text-active: $color-white
                );
                border-right: none !important;
            }

            &.menu-shadow {
                box-shadow: 0 2px 2px 1px rgb(0 0 0 / 25%);
            }
        }

        //*** [Components] ***//
        // Cards
        .card {
            background-color: $theme-bg-secondary-color;

            .card-header {
                background-color: $theme-bg-primary-color;
                border-bottom: 1px solid $theme-borders-color;

                .card-title {
                    color: $theme-text-color;
                }

                .heading-elements-toggle {
                    a {
                        color: $theme-text-color;

                        i {
                            color: $theme-text-color;
                        }
                    }
                }

                .heading-elements {
                    ul {
                        li {
                            a {
                                color: $theme-text-color;

                                i {
                                    color: $theme-text-color;
                                }
                            }
                        }
                    }
                }
            }

            .card-content {
                .card-body {
                    color: $theme-text-color;
                }
            }
        }

        // Modal's apply theme
        .modal-dialog {
            .modal-content {
                background-color: transparent;

                .modal-header {
                    background-color: $theme-bg-primary-color;
                    border-bottom-color: $theme-borders-color;

                    h5 {
                        color: $theme-text-color-secondary;
                    }

                    button.close {
                        color: $theme-text-color-secondary;
                        outline: none;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .modal-body {
                    background-color: $theme-bg-secondary-color;
                }

                .modal-footer {
                    border-top-color: $theme-borders-color;
                    background-color: $theme-bg-primary-color;
                }
            }
        }

        // Forms
        .form-group {
            label {
                color: $theme-input-text;
            }
        }

        .form-control::placeholder {
            color: $theme-input-text-placeholder;
        }

        .form-control::-moz-placeholder {
            color: $theme-input-text-placeholder;
        }

        .form-control,
        .custom-select {
            color: $theme-input-text;
            background-color: $theme-input-bg;
            border-color: $theme-input-border;

            &:focus {
                border-color: $theme-input-border-focus;
                outline: 0;
                //box-shadow: none;
                /*-webkit-box-shadow: 0 0 0 0.2rem rgb(50 31 219 / 25%);
                box-shadow: 0 0 0 0.2rem rgb(50 31 219 / 25%);*/
            }
        }

        .v-select {
            .vs__dropdown-toggle {
                color: $theme-input-text;
                background-color: $theme-input-bg;
                border-color: $theme-input-border;
                height: calc(1.25em + 1.5rem + 2px);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.25;
            }

            input {
                color: $theme-input-text;
            }

            .vs__selected {
                color: $theme-input-text;
            }

            .vs__open-indicator {
                fill: $theme-input-text;
                transform: scale(0.9);
                margin-top: 2px;
                transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
                transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
            }

            .vs__selected-options {
                .vs__selected {
                    background-color: $theme-primary-color;
                    color: white;
                }
            }

            .vs__actions {
                button {
                    color: $theme-input-text;

                    &.vs__clear {
                        margin-top: -2px;
                        fill: rgb(255 255 255 / 50%);
                    }
                }
            }

            &:focus {
                border-color: $theme-input-border-focus;
                outline: 0;
                //box-shadow: none;
                /*-webkit-box-shadow: 0 0 0 0.2rem rgb(50 31 219 / 25%);
                box-shadow: 0 0 0 0.2rem rgb(50 31 219 / 25%);*/
            }

            .vs__dropdown-menu {
                padding-top: 0;
                padding-bottom: 0;
                border: 1px solid $theme-borders-color;
                background: $theme-bg-primary-color;

                li {
                    color: $theme-text-color;

                    &.vs__dropdown-option--highlight {
                        background-color: $theme-primary-color;
                        color: white;
                    }
                }
            }
        }

        .custom-control-input {
            &:checked ~ .custom-control-label:before {
                color: $color-modo-oscuro-text;
                border-color: $theme-primary-color;
                background-color: $theme-primary-color;
            }
        }

        .custom-control-label:before,
        .custom-file-label,
        .custom-select {
            -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
            -webkit-box-shadow 0.15s ease-in-out;
        }

        .custom-radio {
            .custom-control-label {
                &:before {
                    position: absolute;
                    top: 0.15625rem;
                    width: 16px;
                    height: 16px;
                    background-color: hsla(0, 0%, 100%, 0.05);
                    border: 1px solid rgba(0, 0, 21, 0.3);
                }

                &:after {
                    position: absolute;
                    display: block;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    left: -17px;
                    content: "";
                }
            }

            .custom-control-input:checked ~ .custom-control-label::after {
                background: #fff none;
                border-radius: 100%;
            }
        }

        .custom-checkbox {
            .custom-control-label {
                &:before {
                    position: absolute;
                    top: 0.15625rem;
                    width: 16px;
                    height: 16px;
                    background-color: hsla(0, 0%, 100%, 0.05);
                    border: 1px solid rgba(0, 0, 21, 0.3);
                }

                &:after {
                    position: absolute;
                    top: 3px;
                    display: block;
                    width: 15px;
                    height: 15px;
                    content: "";
                    background: no-repeat 50%/50% 50%;
                }
            }
        }

        // END Forms

        // Drop Zone
        .dropzone {
            background-color: $theme-input-bg;
            border-color: $theme-primary-color !important;

            .dropzone-custom-content {
                i {
                    color: $theme-primary-color !important;
                }
            }
        }

        // Pagination
        .pagination {
            .page-item {
                .page-link {
                    color: $theme-text-color;
                    background-color: $theme-bg-primary-color;
                    border-color: $theme-borders-color;
                }

                &.disabled {
                    .page-link {
                        color: darken($theme-text-color, 30%);
                        background-color: $theme-bg-primary-color;
                        border-color: $theme-borders-color;
                    }
                }

                &.active {
                    .page-link {
                        color: $theme-text-color;
                        background-color: $theme-primary-color;
                        border-color: $theme-borders-color;
                    }
                }
            }
        }

        // Tabs
        .tabs {
            ul.nav {
                background-color: transparent;
                padding: 0 1.5rem 0 0;

                &.nav-underline {
                    background: transparent;
                    border-bottom: 1px solid $theme-primary-color;
                }

                li.nav-item {
                    a.nav-link {
                        color: darken($theme-text-color-secondary, 20%);

                        &.active {
                            color: $theme-text-color;
                            background-color: $theme-primary-color;
                        }
                    }
                }
            }

            .tab-pane {
                background-color: $theme-bg-primary-color;
            }
        }

        // Navs
        .nav {
            &.nav-tabs {
                &.nav-underline {
                    background: transparent;
                    border-bottom-color: $theme-nav-border-color;

                    .nav-item {
                        a.nav-link {
                            color: darken($theme-text-color-secondary, 30%);

                            &.active {
                                color: $theme-text-color-secondary;
                            }

                            &:hover {
                                color: $theme-text-color;
                            }

                            &:before {
                                background: $theme-primary-color;
                            }
                        }
                    }
                }
            }
        }

        // Tables
        .table {
            color: $theme-table-text-color;
            background-color: $theme-bg-primary-color;

            th,
            td,
            thead th {
                outline: none;
                border-color: $theme-borders-color;
            }

            &.table-bordered {
                border: 0;
            }

            &.table-striped {
                tbody tr:nth-of-type(odd) {
                    background-color: darken($theme-bg-secondary-color, 2%);
                }
            }

            &.table-hover {
                tbody tr {
                    @include hover {
                        color: $theme-table-text-color-hover;
                        background-color: $theme-table-bg-hover;
                    }
                }
            }

            &.b-table > thead > tr > [aria-sort="none"],
            &.b-table > tfoot > tr > [aria-sort="none"] {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='#{darken($theme-table-filter-color, 50%)}' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='#{darken($theme-table-filter-color, 50%)}' opacity='1' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
            }

            &.b-table > thead > tr > [aria-sort="ascending"],
            &.b-table > tfoot > tr > [aria-sort="ascending"] {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='#{$theme-table-filter-color-active}' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='#{$theme-table-filter-color}' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
            }

            &.b-table > thead > tr > [aria-sort="descending"],
            &.b-table > tfoot > tr > [aria-sort="descending"] {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='#{$theme-table-filter-color}' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='#{$theme-table-filter-color-active}' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
            }
        }

        //*** [END Components] ***//

        // Profile
        #user-profile {
            .card.profile-twl.bg-transparent {
                background-color: $theme-bg-primary-color !important;
            }
        }
    }
}
