<template>
  <b-modal
    id="modal-edit-product"
    title="Modificar producto"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
		<div class="col-12">
			<b-form-group id="nameRequest" label="Codigo del producto">
			<b-form-input
				id="nameRequest"
				v-model="code"
				:state="state_code"
			></b-form-input>
			</b-form-group>
		</div>
		<div class="col-12">
			<b-form-group id="nameRequest" label="Vitola">
			<b-form-input
				id="nameRequest"
				v-model="name"
				:state="state_name"
			></b-form-input>
			</b-form-group>
		</div>
		<div class="col-12">
			<b-form-group id="selectFamily" label="Familia">
			<b-form-select
				id="selectFamily"
				v-model="family"
				:state="state_family"
				:options="families"
			></b-form-select>
			</b-form-group>
		</div>
		<div class="col-12">
			<b-form-group id="nameRequest" label="PVP">
			<b-form-input
				id="nameRequest"
				v-model="pvp"
				:state="state_pvp"
			></b-form-input>
			</b-form-group>
		</div>
      
		<div class="col-12">
			<b-form-group id="nameRequest" label="Unidad por caja">
			<b-form-input
				id="nameRequest"
				v-model="unit_per_box"
				type="number"
				:state="state_unit_per_box"
			></b-form-input>
			</b-form-group>
		</div>
		<div class="col-12">
			<b-form-group id="nameRequest" label="Precio por caja">
			<b-form-input
				id="nameRequest"
				v-model="price"
				type="number"
				:state="state_price"
			></b-form-input>
			</b-form-group>
		</div>
		<div class="col-12">
			<b-form-group id="nameRequest" label="Stock">
			<b-form-input
				id="nameRequest"
				v-model="stock"
				type="number"
				:state="state_stock"
			></b-form-input>
			</b-form-group>
		</div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-edit-product')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="editProduct"
        :disabled="updating"
      >
        {{ updating ? "Editando " : "Editar" }}
        producto
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalEditProduct",
    props:{
        data: Object,
        callbackSuccess:Function,
        families: Array,
    },
    data() {
        return {
            name:null,
            state_name: null,
            updating:false,
            idProduct: null,
            family: null,
			code: null,
            pvp: null,
            unit_per_box: null,
            price:null,
            stock: null,
            state_name: null,
            state_code: null,
            state_pvp: null,
            state_unit_per_box: null,
            state_price: null,
            state_family: null,
            state_stock: null,
        };
    },
    created(){
        this.setOnClose();
    },
    watch:{
        data:function(newValue){
            if(newValue){
                this.idProduct = newValue.id;
                this.name = newValue.name;
                this.family = newValue.family_id;
                this.code = newValue.code;
                this.pvp = newValue.pvp;
                this.unit_per_box = newValue.unit_per_box;
                this.price = newValue.price_box;
                this.stock = newValue.stock;
            }
        }
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-edit-product'){
                    //this.name = null;
                    this.state_name = null;
                    this.updating = false;
                    //this.family = null;
                    /*this.state_family = null;
					this.code = null;
					this.pvp = null;
					this.unit_per_box = null;
					this.price = null;*/
					this.state_code = null;
            		this.state_pvp = null;
            		this.state_unit_per_box = null;
            		this.state_price = null;
                    this.state_stock = null;
                }
            });
        },
        editProduct(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.family){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_family = false;
                return;
            }else{
                this.state_family = true;
            }

			if(!this.pvp){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_pvp = false;
                return;
            }else{
                this.state_pvp = true;
            }

            if(!this.unit_per_box){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_unit_per_box = false;
                return;
            }else{
                this.state_unit_per_box = true;
            }

            if(!this.code){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_code = false;
                return;
            }else{
                this.state_code = true;
            }

            if(!this.price){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_price = false;
                return;
            }else{
                this.state_price = true;
            }

            if(!this.stock){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_stock = false;
                return;
            }else{
                this.state_stock = true;
            }

            let form = {
                idProduct: this.idProduct,
                name: this.name,
                family: this.family,
				code: this.code,
				pvp: this.pvp,
				price: this.price,
				unit_per_box: this.unit_per_box,
				stock: this.stock,
            }
            this.updating = true;
            axios.post(route('product.update'),form).then(res => {
                this.updating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-edit-product');
                    this.$toastr.success('El producto se modificó correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>