<template>
  <b-row>
    <div class="card w-100" style="">
      <div class="card-header">
        <h4 class="card-title">Productos</h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="expand"><i class="ft-maximize"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-sm btn-success" @click="openModalNewProduct">
              Añadir nuevo producto
            </button>
          </div>
          <div class="mt-1">
            <div class="row m-0 justify-content-end">
              <div class="col-6">
                <b-form-group>
                  <b-form-select
                    id="selectFamily"
                    v-model="family"
                    :options="[{ value: 0, text: '' }, ...families]"
                    @change="changeFilterFamily"
                    size="sm"
                  ></b-form-select>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <b-input v-model="filter" placeholder="Buscar..." size="sm">
                  </b-input>
                </b-form-group>
              </div>
            </div>
            <b-table
              ref="tableProducts"
              how-empty
              small
              stacked="md"
              class="table table-striped table-hover"
              :items="products"
              :fields="table_fields"
              :current-page="current_page"
              :per-page="per_page"
              :filter="filter"
              :filter-included-fields="filter_on"
              empty-text="No hay registros"
              empty-filtered-text="No existen registros que coincidan con la búsqueda"
              empty-html="No existen datos registrados"
              responsive
            >
              <template #cell(name)="row">
                <div v-if="row.item.skeleton">
                  <b-skeleton width="85%"></b-skeleton>
                </div>
                <div v-if="row.item.skeleton">
                  <b-skeleton width="30%"></b-skeleton>
                </div>
                <div class="row m-0 mb-1" v-if="!row.item.skeleton">
                  <span class="">
                    {{ row.item.name }}
                  </span>
                </div>
              </template>
              <template #cell(date)="row">
                <span>
                  {{ row.item.created_at | moment("DD [de] MMMM,YYYY") }}
                </span>
              </template>
              <template #cell(family)="row">
				<div class="row m-0">
					<span>
						{{ row.item.family.name }} 
					</span>
					<span class="font-weight-bold">
						({{row.item.family.code}})
					</span>
				</div>
                
              </template>
              <template #cell(options)="row">
                <span
                  class="h3 text-info cursor-pointer mr-1"
                  @click="editProduct(row.item)"
                  v-b-tooltip
                  title="Modificar producto"
                >
                  <i class="fad fa-edit"></i>
                </span>
                <span
                  class="h3 text-danger cursor-pointer"
                  @click="removeProduct(row.item)"
                  v-b-tooltip
                  title="Remover Producto"
                >
                  <i class="fad fa-times"></i>
                </span>
              </template>
            </b-table>
            <b-row class="justify-content-end">
              <b-col sm="12" md="6" class="my-1">
                <div class="description found">
                  Total de Registros: {{ products.length }}
                </div>
              </b-col>
              <b-col sm="12" md="6" class="my-1">
                <b-pagination
                  v-model="current_page"
                  :total-rows="products.length"
                  :per-page="per_page"
                  size="sm"
                  class="my-0 float-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <modal-edit-product
      :data="productselected"
      :families="families"
      :callbackSuccess="callbackSuccessEditProduct"
    ></modal-edit-product>
    <modal-new-product
      :families="families"
      :callbackSuccess="callbackSuccessNewProduct"
    ></modal-new-product>
  </b-row>
</template>

<script>
export default {
  	name: "ListProdutcs",
	data() {
		return {
			family:null,
			families: [],
			products: [],
			productsBackup: [],
			productselected: {},
			table_fields: [
				{
					key: "name",
					label: "Vitola",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "family",
					label: "Familia",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "date",
					label: "Fecha de creación",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "options",
					label: "Opciones",
					sortable: false,
					class: "align-middle",
				},
			],
			rows: 1,
			current_page: 1,
			per_page: 50,
			items_show: [50, 100, 200, 300],
			filter: null,
			filter_on: [],
			total_rows: 0,
			on_filtered: null,
		};
	},
  	created() {
		this.getFamilies();
	  	this.getProducts();
  	},
	methods: {
		openModalNewProduct() {
			this.$bvModal.show("modal-new-product");
		},
		callbackSuccessNewProduct(data) {
			this.products.unshift(data);
			this.$bvModal.hide("modal-new-product");
		},
		callbackSuccessEditProduct(data){
			for(let i in this.productsBackup){
				if(this.productsBackup[i].id == data.id){
					this.productsBackup[i] = data;
					break;
				}
			}
			for(let i in this.products){
				if(this.products[i].id == data.id){
					this.products[i] = data;
					this.$refs.tableProducts.refresh();
					break;
				}
			}
		},
		getFamilies(){
			axios.get(route('product.getFamilies')).then(res => { 
				this.families = res.data.data.map(elm => {
					return{
						value: elm.id,
						text: elm.name
					}
				});
				this.total_rows = this.families.length;
			});
		},
		getProducts(){
			axios.get(route('product.getProducts')).then(res => { 
				this.productsBackup = res.data.data;
				this.products = res.data.data;
			});
		},
		editProduct(row){
			this.productselected = row;
			this.$bvModal.show('modal-edit-product');
		},
		removeProduct(row){
			this.$swal.fire({
					title: '¿Está seguro que desea remover el producto?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#28d094',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si, eliminar',
					cancelButtonText: 'Cancelar',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						axios.get(route('product.delete',{id:row.id})).then(res => {
							if(res.data.status){
								for(let i in this.productsBackup){
									if(this.productsBackup[i].id == row.id){
										this.productsBackup.splice(i,1);
										this.$refs.tableProducts.refresh();
									}
								}

								for(let i in this.products){
									if(this.products[i].id == row.id){
										this.products.splice(i,1);
										this.$refs.tableProducts.refresh();
									}
								}
							}else{
								this.$toastr.error(res.data.message,'Ocurrio un error');
							}
						});
					}
				})
		},
		changeFilterFamily(){
			if(!this.family){
				this.products = this.productsBackup;
			}else{
				this.products = this.productsBackup.filter(elm => {
					return elm.family_id == this.family;
				});
			}
		}
	},
};
</script>

<style scoped>
</style>
