.app-contacts #users-contacts .delete i, .app-contacts #users-contacts .favorite i {
  font-size: 1.25rem;
  cursor: pointer;
}
.app-contacts #users-contacts .favorite.active {
  color: #ff9149;
}
.app-contacts .app-content .sidebar-toggle {
  position: absolute;
  cursor: pointer;
  margin-top: 4px;
}
.app-contacts .app-content .content-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 2;
  visibility: hidden;
}
.app-contacts .app-content .content-overlay.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 3;
}

@media only screen and (max-width: 991px) {
  .app-contacts .app-content .bug-list-search form {
    margin-left: 3rem;
  }
  .app-contacts .app-content .sidebar-left {
    transform: translateX(-100%);
    transition: 300ms ease all;
    display: none;
  }
  .app-contacts .app-content .sidebar-left.show {
    display: block;
    position: fixed;
    top: 71px;
    margin-left: -2.2rem;
    width: 300px;
    z-index: 999;
    transform: translateX(0%);
    height: calc(100% - 69px);
    transition: 300ms ease all;
    overflow-y: scroll;
  }
  .app-contacts .app-content .sidebar-left.show .card {
    margin-bottom: 0;
  }
  .app-contacts.horizontal-layout .app-content .sidebar-left {
    left: 0;
    margin-left: 0;
  }
  .app-contacts.horizontal-layout .app-content .content-right.show {
    width: 100%;
    top: 124px;
  }
  .app-contacts.horizontal-layout .app-content .content-overlay {
    position: fixed;
    top: 70px;
  }
  .app-contacts.horizontal-menu-padding .app-content .content-right.show {
    width: 720px;
  }
  .app-contacts.vertical-content-menu .app-content .sidebar-left.show {
    z-index: 1000;
  }
}
@media only screen and (max-width: 767px) {
  .app-contacts .horizontal-layout .app-content .sidebar-left {
    left: 0;
  }
  .app-contacts .horizontal-layout .app-content .sidebar-left.show {
    margin-left: 0;
  }
  .app-contacts .app-content .sidebar-left.show {
    margin-left: -1rem;
  }
  .app-contacts.vertical-layout .content-right .all-contacts div.dataTables_wrapper div.dataTables_filter#users-contacts_filter {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .app-contacts .delete-all {
    position: absolute;
    top: 50px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .vertical-layout .content-right .all-contacts div.dataTables_wrapper div.row:last-child {
    justify-content: center;
  }
}
.material-vertical-layout .profile-card-with-stats .btn-float {
  padding: 8px 4px 14px !important;
  line-height: 1.2rem;
}

/*# sourceMappingURL=app-contacts.css.map */
