@media only screen and (max-width: 1024px) and (min-width: 992px) {
  .grouped-stats .card-icons .media-body.text-right span {
    font-size: 2rem !important;
  }
}

/*# sourceMappingURL=card-statics.css.map */
