#scoreLineToDay .ct-series-a .ct-line {
  stroke: #1e9ff2;
  stroke-width: 5px;
}

#scoreLineToWeek .ct-series-a .ct-line {
  stroke: #666ee8;
  stroke-width: 5px;
}

#scoreLineToMonth .ct-series-a .ct-line {
  stroke: #ff4961;
  stroke-width: 5px;
}

.ct-area-circle {
  fill: #28d094;
  stroke-width: 5;
  stroke: #fff;
}

.scoreLineShadow {
  -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.5));
}

.chart-stats .percentage {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 20px;
  right: 21px;
}

#bank-calendar .clndr {
  background-color: transparent;
}
#bank-calendar .clndr .clndr-grid {
  width: 100%;
}
#bank-calendar .clndr .clndr-grid .days-of-the-week {
  background-color: transparent;
}
#bank-calendar .clndr .clndr-grid .days-of-the-week .header-day {
  color: #6B6F82;
}
#bank-calendar .clndr .clndr-controls {
  background-color: transparent;
  color: #6B6F82;
}
#bank-calendar .clndr .clndr-controls .clndr-previous-button,
#bank-calendar .clndr .clndr-controls .clndr-next-button {
  font-size: 1.25rem;
}
#bank-calendar .clndr .event-listing {
  display: none;
}
#bank-calendar .clndr .current-month {
  font-size: 1.25rem;
}

.table tr:last-child td {
  border-bottom: none;
}

/*# sourceMappingURL=dashboard-bank.css.map */
