@charset "UTF-8";
.sidebar-shop ul {
  padding: 0;
  overflow: hidden;
}
.sidebar-shop ul li {
  list-style: none;
}
.sidebar-shop a {
  transition: all 0.3s ease 0s;
}
.sidebar-shop .search {
  position: relative;
}
.sidebar-shop .search .basic-search {
  width: 100%;
  border: none;
  padding: 0;
  outline: none;
}
.sidebar-shop .search i {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
}
.sidebar-shop .search-box {
  position: relative;
}
.sidebar-shop .search-box input.product-search {
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
  outline: none;
  padding: 6px 10px;
  margin-bottom: 1rem;
}
.sidebar-shop .search-box i {
  position: absolute;
  top: 10px;
  right: 7px;
}
.sidebar-shop .product-cat {
  width: 100%;
  position: relative;
}
.sidebar-shop .product-cat .treeview > li {
  position: relative;
}
.sidebar-shop .product-cat .treeview > li:before, .sidebar-shop .product-cat .treeview > li:after {
  position: absolute;
  top: 10px;
  right: 20px;
  margin-top: -8px;
  font-family: "feather";
  content: "";
  transition: all 300ms linear 0s;
}
.sidebar-shop .product-cat .treeview > li.expandable:before {
  opacity: 1;
}
.sidebar-shop .product-cat .treeview > li.expandable:after {
  opacity: 0;
}
.sidebar-shop .product-cat .treeview > li.collapsable:before {
  opacity: 0;
}
.sidebar-shop .product-cat .treeview > li.collapsable:after {
  opacity: 1;
  transform: rotate(90deg);
}
.sidebar-shop .product-cat .treeview li span {
  color: #6b6f82;
  display: block;
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.sidebar-shop .product-cat .treeview li.open span {
  font-weight: 600;
}
.sidebar-shop .product-cat .treeview li.open > ul > li span {
  font-weight: normal;
}
.sidebar-shop .product-cat .treeview li.open > ul > li.active span {
  font-weight: 600;
}
.sidebar-shop .product-cat .treeview li > ul {
  padding-left: 1rem;
}
.sidebar-shop .product-cat .treeview li > ul > li > a {
  color: #999;
  display: block;
  font-size: 13px;
  line-height: 25px;
  text-transform: capitalize;
}
.sidebar-shop .noUi-tooltip {
  display: none;
}
.sidebar-shop .noUi-active .noUi-tooltip {
  display: block;
}
.sidebar-shop .sidebar-list {
  width: 100%;
  position: relative;
}
.sidebar-shop .sidebar-list ul li {
  line-height: 2;
}
.sidebar-shop .sidebar-list ul li a {
  color: #6b6f82;
}
.sidebar-shop .sidebar-list ul li a span.count {
  float: right;
  padding-right: 1rem;
}
.sidebar-shop .sidebar-list ul li a:hover {
  color: #1e9ff2;
}
.sidebar-shop .sidebar-list.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 5px;
}
.sidebar-shop .sidebar-list .skin label {
  display: inline;
}
.sidebar-shop .color-info {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 50%;
  position: relative;
  top: 3px;
}
.sidebar-shop .color-info.white {
  border: 1px solid #6b6f82;
}
.sidebar-shop .featured-image {
  text-align: center;
  border-radius: 4px;
}
.sidebar-shop .featured-image .badge {
  padding: 0.5rem;
  font-size: 1.2rem;
  float: left;
  margin: 10px;
  letter-spacing: 0.25px;
}
.sidebar-shop .featured-image img {
  padding: 2rem 3rem 3.5rem;
  width: 250px;
  position: relative;
}

.size-filter ul li {
  list-style: none;
  display: inline-block;
  margin: 8px 8px 0 0;
}
.size-filter ul li a {
  background: #f0f2f8;
  border-radius: 3px;
  display: block;
  font-weight: 700;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
}
.size-filter ul li.active a {
  background: #1e9ff2;
  color: #fff;
}

.product-img {
  background: #f4f5fa;
  margin-bottom: 1rem;
  position: relative;
  min-height: 300px;
}
.product-img img {
  margin: 0 auto;
}
.product-img .badge {
  position: absolute;
  top: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.25px;
  left: 15px;
}
.product-img .badge.badge-right {
  left: auto;
  right: 15px;
}

.price-reviews {
  overflow: hidden;
  margin-bottom: 1rem;
}
.price-reviews .price-box {
  float: left;
}
.price-reviews .price-box .price {
  font-weight: 700;
}
.price-reviews .price-box .old-price {
  color: #6f7274;
  font-weight: 400;
  margin-left: 5px;
  text-decoration: line-through;
}
.price-reviews .ratings {
  float: right;
}
.price-reviews .ratings img {
  height: 15px;
}

.product-shop .display-buttons a {
  color: #6b6f82;
  margin-right: 1rem;
}
.product-shop .display-buttons a.active, .product-shop .display-buttons a:hover {
  color: #1e9ff2;
}
.product-shop .shop-title {
  text-transform: uppercase;
  font-weight: 600;
}
.product-shop .product-title {
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.12rem;
  margin-bottom: 0.5rem;
}
.product-shop .product-action {
  background: #f4f5fa;
  padding: 0.75rem 1rem;
}
.product-shop .product-action .saperator {
  color: #bfc5e2;
  position: relative;
  top: -1px;
}

.product-detail ul {
  padding: 0;
}
.product-detail ul li {
  list-style: none;
}
.product-detail .product-img {
  height: 478px;
}
.product-detail .product-img img {
  height: auto;
}
.product-detail .product-title {
  font-weight: 600;
}
.product-detail .price-reviews {
  margin-bottom: 2rem;
}
.product-detail .price-reviews .price-box {
  margin-top: 0.5rem;
}
.product-detail .price-reviews .price-box .price {
  font-weight: 500;
  color: #1e9ff2;
}
.product-detail .product-info {
  margin-bottom: 1.25rem;
}
.product-detail .product-options .option-title {
  font-weight: 600;
  display: inline-block;
  width: 45px;
}
.product-detail .color-options ul {
  padding-left: 0;
}
.product-detail .color-options ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1rem;
}
.product-detail .color-options .color-info {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  top: 5px;
  position: relative;
}
.product-detail .color-options .color-info.active {
  outline: 1px solid #bfc5e2;
  outline-offset: 2px;
}
.product-detail .product-action .product-count {
  float: left;
  margin-right: 2rem;
  width: 20%;
}
.product-detail .product-action .product-count .input-group-prepend .btn,
.product-detail .product-action .product-count .input-group-append .btn {
  background: #f4f5fa;
}
.product-detail .product-action .product-count .form-control {
  border-color: #f4f5fa;
}
.product-detail .product-action .product-info {
  width: 40%;
}
.product-detail .product-action .product-info {
  background: #f4f5fa;
  padding: 0.75rem 1rem;
}
.product-detail .product-action .product-info .saperator {
  color: #bfc5e2;
  position: relative;
  top: -1px;
}
.product-detail .product-buttons .btn {
  padding: 0.5rem 0.75rem 0.75rem;
}
.product-detail .product-buttons .btn i {
  position: relative;
  top: 2px;
}
.product-detail .product-tabs {
  border-radius: 0;
}
.product-detail .product-tabs.nav.nav-tabs.nav-underline .nav-item {
  flex: 0;
}
.product-detail .product-tabs.nav.nav-tabs.nav-underline .nav-item a.nav-link {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
}
.product-detail .product-content ul {
  padding-left: 2rem;
}
.product-detail .product-content ul li {
  list-style: disc;
}

.shop-wrapper.product-action .product-count {
  width: 24%;
}
.shop-wrapper.product-action .product-info {
  width: 27%;
}
@media (max-width: 480px) {
  .shop-wrapper .input-group-addon,
.shop-wrapper .input-group-btn,
.shop-wrapper .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    clear: both;
  }
  .shop-wrapper .input-group {
    display: block;
  }
}

.options {
  background: #f5f7fc;
  padding: 10px;
}

.product-detail-page .product-img {
  height: auto;
  min-height: auto;
}

/*# sourceMappingURL=ecommerce-shop.css.map */
