#doctor-profile .clndr-controls {
  background: white !important;
  color: black;
}
#doctor-profile .days-of-the-week {
  background: #1E9FF2;
}
#doctor-profile .day-number {
  border-color: #1E9FF2;
}
#doctor-profile .today {
  background: #1E9FF2;
}
#doctor-profile .event-listing-title {
  background: #28D094;
}

/* Add Following Style To make Calendar Responsive in Small Screens */
@media (max-width: 600px) {
  .clndr .clndr-grid {
    width: 100%;
    margin-bottom: 1rem;
  }
  .clndr .event-listing {
    width: 100%;
  }
}

/*# sourceMappingURL=hospital-doctor-profile.css.map */
