@charset "UTF-8";
/*=========================================================================================
    File Name: vertical-menu-modern.scss
    Description: A calssic vertical modern style menu with expand and collops support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
body.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
}
body.vertical-layout.vertical-menu-modern .toggle-icon {
  margin-right: 1.5rem;
}
@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-flipped .main-menu {
    right: 0;
  }
}
body.vertical-layout.vertical-menu-modern .navbar .navbar-brand {
  white-space: nowrap;
}
body.vertical-layout.vertical-menu-modern .navbar .navbar-header .nav-toggle {
  position: absolute;
  right: 0;
}
body.vertical-layout.vertical-menu-modern .main-menu {
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
body.vertical-layout.vertical-menu-modern .main-menu li a span {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-header {
  float: left;
  width: 260px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {
  margin-left: 260px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 260px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu.menu-fixed {
  height: calc(100% - 5rem);
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu.menu-fixed .main-menu-content {
  height: calc(100% - 12rem) !important;
  position: relative;
  padding-top: 3px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation .navigation-header .ft-minus,
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation .navigation-header .nav-menu-icon {
  display: none;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i {
  margin-right: 12px;
  float: left;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i:before {
  font-size: 1.6rem;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > span.badge {
  position: absolute;
  right: 20px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
body.vertical-layout.vertical-menu-modern.menu-expanded .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
  margin-left: 260px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar-brand-center .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .navbar-brand-center .footer {
  margin-left: 0;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header {
  float: left;
  width: 60px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .modern-nav-toggle {
  display: none;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded {
  width: 260px;
  z-index: 1000;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .modern-nav-toggle {
  display: block;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar.navbar-brand-center .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-brand {
  padding: 18px 0px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-container {
  margin-left: 60px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
  width: 60px;
  transition: 300ms ease all;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.menu-fixed .main-menu-content {
  height: calc(100% - 12rem) !important;
  position: relative;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-right {
  display: none;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .main-menu-header .media-body {
  opacity: 0;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .user-content {
  padding: 20px 10px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation {
  overflow: visible;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .ft-minus {
  display: block;
  font-size: 1.2rem;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header span {
  display: none;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
  text-overflow: inherit;
  padding: 10px 0px 10px 18px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a > span.badge {
  float: none !important;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i {
  margin-right: 12px;
  float: left;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a i:before {
  font-size: 1.6rem;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .mTSWrapper {
  overflow: visible;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded {
  width: 260px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header .ft-minus,
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header i {
  display: none;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li.navigation-header span {
  display: block;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation > li > a > span.badge {
  position: absolute;
  right: 20px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation > li.active > a {
  margin: 0;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .content,
body.vertical-layout.vertical-menu-modern.menu-collapsed .footer {
  margin-left: 60px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar-brand-center .content,
body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar-brand-center .footer {
  margin-left: 0;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .content {
  margin: 0;
  margin-right: 60px;
}
@media (min-width: 576px) {
  body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu {
    right: 0;
  }
  body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu span.menu-title {
    right: 60px;
  }
  body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .main-menu ul.menu-content {
    right: 60px;
    left: inherit;
  }
}
body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-header {
  float: right;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 60px;
}
body.vertical-layout.vertical-menu-modern.menu-collapsed.menu-flipped .footer {
  margin: 0;
  margin-right: 60px;
}

[data-textdirection=rtl] body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li > a {
  padding: 14px 16px !important;
}
[data-textdirection=rtl] body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navigation > li.navigation-header .ft-minus {
  padding: 12px 0px;
}

@media (min-width: 992px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 260px;
  }
  body.vertical-layout.vertical-menu-modern .main-menu .navigation li.navigation-header .ft-minus {
    display: none;
  }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 260px;
  }
  body.vertical-layout.vertical-menu-modern .content,
body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 260px;
  }
  body.vertical-layout.vertical-menu-modern.menu-flipped .content {
    margin: 0;
    margin-right: 260px;
  }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-header {
    float: right;
  }
  body.vertical-layout.vertical-menu-modern.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 260px;
  }
  body.vertical-layout.vertical-menu-modern.menu-flipped .footer {
    margin: 0;
    margin-right: 260px;
  }
}
@media (max-width: 991.98px) {
  body.vertical-layout.vertical-menu-modern .main-menu {
    width: 0;
  }
  body.vertical-layout.vertical-menu-modern .navbar .navbar-header {
    width: 0;
  }
  body.vertical-layout.vertical-menu-modern .content,
body.vertical-layout.vertical-menu-modern .footer {
    margin-left: 0;
  }
}
@media (max-width: 767.98px) {
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .main-menu {
    width: 0;
  }
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .navbar .navbar-header {
    width: 0;
  }
  body.vertical-layout.vertical-menu-modern.vertical-menu-modern .content,
body.vertical-layout.vertical-menu-modern.vertical-menu-modern .footer {
    margin-left: 0;
  }
  body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container {
    margin-left: 0px !important;
  }
  body.vertical-layout.vertical-menu-modern.menu-expanded .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
    margin-left: 0px !important;
  }

  html.loading .main-menu, html.loading .vertical-overlay-menu.menu-hide .main-menu, .vertical-overlay-menu.menu-hide html.loading .main-menu {
    opacity: 0;
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.material-vertical-layout .main-menu .user-profile {
  background-size: cover;
}
.material-vertical-layout .main-menu .user-profile .user-info .user-img {
  border: 3px solid #fff;
  width: 60px;
  margin-bottom: 0.5rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-toggle:after {
  position: relative;
  top: -1px;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu.arrow {
  margin-top: 0.5rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu:before {
  background: transparent;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu .dropdown-item .material-icons {
  font-size: 1.2rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu .dropdown-item span.align-middle {
  font-size: 1rem;
}
.material-vertical-layout .main-menu .main-menu-content .navigation li.active > a {
  background: #666ee8 !important;
  color: #fff;
}
.material-vertical-layout .main-menu .main-menu-content .navigation li.active.open > a {
  margin-bottom: 0.25rem;
}
.material-vertical-layout .main-menu.menu-light {
  border-right: 0;
}
.material-vertical-layout .main-menu.menu-light .user-profile {
  background: url("../../../../../app-assets/images/gallery/left-menu-bg.jpg") center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile {
  background: url("../../../../../app-assets/images/gallery/dark-menu.jpg") center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info {
  background-color: rgba(0, 0, 0, 0.35);
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info .dropdown-menu .dropdown-item .material-icons, .material-vertical-layout .main-menu.menu-dark .user-profile .user-info .dropdown-menu .dropdown-item span.align-middle {
  color: #6b6f82;
}
.material-vertical-layout.vertical-compact-menu .main-menu.menu-light {
  border-right: 1px solid #e4e7ed;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .material-vertical-layout .form-control, .material-horizontal-layout .form-control {
    padding: 0.75rem;
    min-height: 40px;
  }
  .material-vertical-layout .has-icon-left .form-control, .material-horizontal-layout .has-icon-left .form-control {
    padding: 0.75rem 2rem;
    min-height: 40px;
  }
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info {
  background-color: rgba(0, 0, 0, 0.35);
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .user-img,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-img {
  width: 75% !important;
  transition: 300ms ease all;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .dropdown-toggle,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .dropdown-toggle {
  margin-left: 0 !important;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .user-name,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-name {
  white-space: nowrap;
  display: none;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark.expanded .user-profile .user-img,
.material-vertical-layout.menu-collapsed .main-menu.menu-light.expanded .user-profile .user-img {
  width: 25% !important;
  transition: 300ms ease all;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark.expanded .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-dark.expanded .user-profile .name-wrapper,
.material-vertical-layout.menu-collapsed .main-menu.menu-light.expanded .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-light.expanded .user-profile .name-wrapper {
  white-space: nowrap;
  display: block;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark.expanded .user-profile .user-name,
.material-vertical-layout.menu-collapsed .main-menu.menu-light.expanded .user-profile .user-name {
  white-space: nowrap;
  display: inline-block;
}

.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-img {
  width: 75% !important;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .dropdown-toggle {
  margin-left: 0 !important;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile div.text-light {
  display: none;
  white-space: nowrap;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-name {
  display: none;
  white-space: nowrap;
}
.material-vertical-layout.menu-expanded div.text-light {
  white-space: nowrap;
}
.material-vertical-layout.menu-expanded .user-name {
  white-space: nowrap;
}

.material-vertical-layout.vertical-menu-modern .main-menu .navigation > li > a i {
  position: relative;
  top: 0.5rem;
}
.material-vertical-layout.vertical-menu-modern .main-menu .navigation > li > a i.material-icons {
  font-size: 1.5rem;
}

.vertical-collapsed-menu .collapsed-active::before {
  content: "";
  position: absolute;
  border-right: 4px solid #1e9ff2;
  right: 0px;
  top: 0px;
  height: 43px;
}

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-left: 0;
}
.vertical-overlay-menu .navbar .navbar-header {
  float: left;
  width: 280px;
}
.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: auto;
}
.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  width: 280px;
  left: -280px;
}
.vertical-overlay-menu .main-menu.menu-fixed {
  height: calc(100% - 5rem);
}
.vertical-overlay-menu .main-menu.menu-fixed .main-menu-content {
  height: calc(100% - 12rem) !important;
  position: relative;
  padding-top: 3px;
}
.vertical-overlay-menu .main-menu.material-menu .main-menu-content .navigation li.active > a {
  border: none;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header {
  padding-left: 34px;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .ft-minus,
.vertical-overlay-menu .main-menu .navigation .navigation-header .nav-menu-icon {
  display: none;
}
.vertical-overlay-menu .main-menu .navigation > li > a {
  padding-left: 32px;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
  margin-right: 12px;
  float: left;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before {
  transition: 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation > li > a span.badge {
  right: 26px !important;
}
.vertical-overlay-menu .main-menu .navigation > li.hover > a {
  padding-left: 28px;
}
.vertical-overlay-menu .main-menu .navigation > li ul li > a {
  padding-left: 68px;
}
.vertical-overlay-menu .main-menu .navigation > li .active > a {
  padding-left: 54px;
}
.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li > a {
  padding-left: 74px;
}
.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li:not(.active):hover > a {
  padding-left: 78px;
}
.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover > a {
  padding-left: 72px;
}
.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover.active > a {
  padding-left: 54px;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  right: 28px;
  top: 13px;
}
.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  transform: translate3d(280px, 0, 0);
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
}
.vertical-overlay-menu.menu-flipped .main-menu {
  right: -280px;
  left: inherit;
}
.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 280px;
}
.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right;
}
.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  transform: translate3d(-280px, 0, 0);
}
.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index: 999;
}
.vertical-overlay-menu.boxed-layout.menu-open .main-menu {
  transform: translate3d(280px, 0, 0) !important;
}
.vertical-overlay-menu.boxed-layout {
  position: relative;
}
.vertical-overlay-menu.boxed-layout .main-menu.menu-fixed {
  position: absolute;
}

@media screen and (max-width: 575px) {
  .material-vertical-layout.vertical-overlay-menu.boxed-layout.menu-open .main-menu {
    transform: translate3d(280px, 0, 0) !important;
  }
}
.material-vertical-layout .main-menu .user-profile {
  background-size: cover;
}
.material-vertical-layout .main-menu .user-profile .user-info .user-img {
  border: 3px solid #fff;
  width: 60px;
  margin-bottom: 0.5rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-toggle:after {
  position: relative;
  top: -1px;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu.arrow {
  margin-top: 0.5rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu:before {
  background: transparent;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu .dropdown-item .material-icons {
  font-size: 1.2rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu .dropdown-item span.align-middle {
  font-size: 1rem;
}
.material-vertical-layout .main-menu .main-menu-content .navigation li.active > a {
  background: #666ee8 !important;
  color: #fff;
}
.material-vertical-layout .main-menu .main-menu-content .navigation li.active.open > a {
  margin-bottom: 0.25rem;
}
.material-vertical-layout .main-menu.menu-light {
  border-right: 0;
}
.material-vertical-layout .main-menu.menu-light .user-profile {
  background: url("../../../../../app-assets/images/gallery/left-menu-bg.jpg") center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile {
  background: url("../../../../../app-assets/images/gallery/dark-menu.jpg") center center no-repeat;
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info {
  background-color: rgba(0, 0, 0, 0.35);
}
.material-vertical-layout .main-menu.menu-dark .user-profile .user-info .dropdown-menu .dropdown-item .material-icons, .material-vertical-layout .main-menu.menu-dark .user-profile .user-info .dropdown-menu .dropdown-item span.align-middle {
  color: #6b6f82;
}
.material-vertical-layout.vertical-compact-menu .main-menu.menu-light {
  border-right: 1px solid #e4e7ed;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .material-vertical-layout .form-control, .material-horizontal-layout .form-control {
    padding: 0.75rem;
    min-height: 40px;
  }
  .material-vertical-layout .has-icon-left .form-control, .material-horizontal-layout .has-icon-left .form-control {
    padding: 0.75rem 2rem;
    min-height: 40px;
  }
}
.material-vertical-layout.vertical-overlay-menu .main-menu .navigation > li > a i {
  position: relative;
  top: 0.7rem;
}
.material-vertical-layout.vertical-overlay-menu .main-menu .navigation > li > a i.material-icons {
  font-size: 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=material-vertical-menu-modern.css.map */
