@charset "UTF-8";
/*=========================================================================================
    File Name: vertical-menu.scss
    Description: A calssic vertical style menu with expand and collops support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
body.vertical-layout.vertical-menu .main-menu .main-menu-content {
  padding-top: 7px;
}
body.vertical-layout.vertical-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
}
@media (min-width: 576px) {
  body.vertical-layout.vertical-menu.menu-flipped .main-menu {
    right: 0;
  }
}
body.vertical-layout.vertical-menu .navbar .navbar-brand {
  white-space: nowrap;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header {
  float: left;
  width: 260px;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
  margin-left: 260px;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu {
  width: 260px;
  transition: 300ms ease all;
  backface-visibility: hidden;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation .navigation-header span {
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation .navigation-header .la-ellipsis-h,
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation .navigation-header .nav-menu-icon {
  display: none;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i {
  margin-right: 12px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i:before {
  font-size: 1.6rem;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > span {
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > span.badge {
  position: absolute;
  right: 20px;
  top: 12px;
  visibility: visible;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
body.vertical-layout.vertical-menu.menu-expanded .content,
body.vertical-layout.vertical-menu.menu-expanded .footer {
  margin-left: 260px;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .footer {
  margin-left: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
  float: left;
  width: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar.navbar-brand-center .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
  padding: 18px 0px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
  margin-left: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand .brand-text {
  animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
  width: 60px;
  transform: translateZ(-160px) translateX(-160px);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-right {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body {
  opacity: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .user-content {
  padding: 20px 10px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
  right: -260px;
  width: 260px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  background-color: #1e9ff2;
  border-color: #1e9ff2;
  padding: 15px 20px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    left: 59px !important;
  }
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content {
  left: 59px;
  width: 260px;
  transition: visibility 0.25s, opacity 0.25s;
  box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.02);
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li {
  white-space: nowrap;
  position: relative;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li a {
  display: block;
  padding: 12px 20px 12px 20px;
  transition: all 0.2s ease;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a {
  transform: translateX(4px);
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li:hover > a > a, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content li.hover > a > a {
  transform: translateX(-4px);
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation {
  overflow: visible;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li.navigation-header {
  padding: 12px 20px 12px 20px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li.navigation-header .la-ellipsis-h {
  display: block;
  font-size: 1.3rem;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li.navigation-header span {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > a {
  padding: 10px 0px 10px 18px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > a > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -260px;
  width: 260px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  background-color: #666ee8;
  border-color: #666ee8;
  padding: 14px 20px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > a > i {
  margin-right: 0;
  font-size: 1.6rem;
  line-height: 1;
  visibility: visible;
  opacity: 1;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > ul {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > a > span {
  display: none;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li.active > a {
  margin: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .mTSWrapper {
  overflow: visible;
}
body.vertical-layout.vertical-menu.menu-collapsed .content,
body.vertical-layout.vertical-menu.menu-collapsed .footer {
  margin-left: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .footer {
  margin-left: 0;
}
body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .content {
  margin: 0;
  margin-right: 60px;
}
@media (min-width: 576px) {
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu {
    right: 0;
  }
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu span.menu-title {
    right: 60px;
  }
  body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu ul.menu-content {
    right: 60px;
    left: inherit;
  }
}
body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .navbar .navbar-header {
  float: right;
}
body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .footer {
  margin: 0;
  margin-right: 60px;
}

[data-textdirection=rtl] body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li > a {
  padding: 14px 16px !important;
}
[data-textdirection=rtl] body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation > li.navigation-header .la-ellipsis-h {
  padding: 12px 0px;
}

@media (min-width: 992px) {
  body.vertical-layout.vertical-menu .main-menu {
    width: 260px;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header {
    width: 260px;
  }
  body.vertical-layout.vertical-menu .content,
body.vertical-layout.vertical-menu .footer {
    margin-left: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .content {
    margin: 0;
    margin-right: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-header {
    float: right;
  }
  body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 260px;
  }
  body.vertical-layout.vertical-menu.menu-flipped .footer {
    margin: 0;
    margin-right: 260px;
  }
}
@media (max-width: 991.98px) {
  body.vertical-layout.vertical-menu .main-menu {
    width: 60px;
  }
  body.vertical-layout.vertical-menu .main-menu .navigation > li > a > span {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .main-menu .navigation > li > a > i {
    font-size: 1.4rem;
  }
  body.vertical-layout.vertical-menu .main-menu .navigation li.navigation-header span {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header {
    width: 60px;
  }
  body.vertical-layout.vertical-menu .navbar .navbar-header .brand-text {
    visibility: hidden;
  }
  body.vertical-layout.vertical-menu .content,
body.vertical-layout.vertical-menu .footer {
    margin-left: 60px;
  }
}
@media (max-width: 767.98px) {
  body.vertical-layout.vertical-menu .content,
body.vertical-layout.vertical-menu .footer {
    margin-left: 0;
  }
  body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 0px !important;
  }
  body.vertical-layout.vertical-menu.menu-expanded .content,
body.vertical-layout.vertical-menu.menu-expanded .footer {
    margin-left: 0px !important;
  }

  html.loading .main-menu, html.loading .vertical-overlay-menu.menu-hide .main-menu, .vertical-overlay-menu.menu-hide html.loading .main-menu {
    opacity: 0;
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-left: 0;
}
.vertical-overlay-menu .navbar .navbar-header {
  float: left;
  width: 280px;
}
.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: auto;
}
.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float: left;
  width: auto;
}
.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  width: 280px;
  left: -280px;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header {
  padding-left: 34px;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .la-ellipsis-h,
.vertical-overlay-menu .main-menu .navigation .navigation-header .nav-menu-icon {
  display: none;
}
.vertical-overlay-menu .main-menu .navigation > li > a {
  padding-left: 32px;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i {
  font-size: 1.6rem;
  margin-right: 12px;
  float: left;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before {
  transition: 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation > li.hover > a {
  padding-left: 36px;
}
.vertical-overlay-menu .main-menu .navigation > li ul li > a {
  padding-left: 68px;
}
.vertical-overlay-menu .main-menu .navigation > li .active > a {
  padding-left: 54px;
}
.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li > a {
  padding-left: 74px;
}
.vertical-overlay-menu .main-menu .navigation > li ul .open > ul li:not(.active):hover > a {
  padding-left: 78px;
}
.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover > a {
  padding-left: 72px;
}
.vertical-overlay-menu .main-menu .navigation > li.open > ul > li:hover.active > a {
  padding-left: 54px;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "LineAwesome";
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 13px;
  transform: rotate(0deg);
  transition: -webkit-transform 0.2s ease-in-out;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top: 8px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg);
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  right: 34px;
}
.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  transform: translate3d(280px, 0, 0);
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
}
.vertical-overlay-menu.menu-flipped .main-menu {
  right: -280px;
  left: inherit;
}
.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 280px;
}
.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right;
}
.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  transform: translate3d(-280px, 0, 0);
}
.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index: 999;
}
.vertical-overlay-menu.boxed-layout {
  position: relative;
}
.vertical-overlay-menu.boxed-layout .main-menu.menu-fixed {
  position: absolute;
}

@media (max-width: 768px) {
  .vertical-overlay-menu .header-navbar .navbar-header .mobile-menu a.menu-toggle {
    padding-top: 1rem;
  }
  .vertical-overlay-menu .header-navbar .navbar-header li.nav-item.d-md-none a.open-navbar-container {
    padding-top: 1rem;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=vertical-menu.css.map */
