<template>
    <div class=""><!-- eCommerce statistic -->

        <div class="row">
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card pull-up">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="info">{{data.productCount.total}}</h3>
                                    <h6>Productos vendidos/mes</h6>
                                </div>
                                <div>
                                    <i class="icon-basket-loaded info font-large-2 float-right"></i>
                                </div>
                            </div>
                            <!--div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card pull-up">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="warning">${{data.productTotal.total}}</h3>
                                    <h6>Ventas del mes</h6>
                                </div>
                                <div>
                                    <i class="icon-pie-chart warning font-large-2 float-right"></i>
                                </div>
                            </div>
                            <!--div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card pull-up">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="success">{{data.productCountTotal.total}}</h3>
                                    <h6>Total de pedidos/mes</h6>
                                </div>
                                <div>
                                    <i class="icon-user-follow success font-large-2 float-right"></i>
                                </div>
                            </div>
                            <!--div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-xl-3 col-lg-6 col-12">
                <div class="card pull-up">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="danger">99.89 %</h3>
                                    <h6>Comparación mes anterior</h6>
                                </div>
                                <div>
                                    <i class="icon-heart danger font-large-2 float-right"></i>
                                </div>
                            </div>-->
                            <!--div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div-->
                        <!--</div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row match-height">
            <div class="col-xl-7 col-12" id="ecommerceChartView">
                <div class="card card-shadow" style="min-height: 35vw;">
                <div class="card-header card-header-transparent py-20">
                    <div class="btn-group dropdown">
                        <a class="text-body blue-grey-700">Ventas</a>
                    </div>
                    <ul class="nav nav-pills nav-pills-rounded chart-action float-right btn-group" role="group">
                        <li class="nav-item"><a class="active nav-link" data-toggle="tab" @click="getStatistics(1)">Día</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" @click="getStatistics(2)">Mes</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content bg-white p-20">
                    <apexchart
                        width="100%"
                        :options="chartOptions"
                        :series="series"
                    ></apexchart>
                </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-12">
                <div class="card" style="min-height: 35vw;">
                    <div class="card-header">
                        <h4 class="card-title">Productos más pedidos en el mes</h4>
                        <!--<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="card-content">
                        <div id="new-orders" class="media-list position-relative ps">
                            <div class="table-responsive">
                                <table id="new-orders-table" class="table table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Producto</th>
                                            <th class="border-top-0">Familia</th>
                                            <th class="border-top-0">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product in data.productPopulity" :key="product.product_id">
                                            <td>{{product.product.name}}</td>
                                            <td>
                                                {{product.product.family.name}}
                                            </td>
                                            <td>{{product.total}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="OrdersThreeMonths" class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Propuesta de pedidos</h4>
                        <!--<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="card-content">
                        <div id="new-orders" class="media-list position-relative ps">
                            <div class="table-responsive">
                                <table id="new-orders-table" class="table table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Producto</th>
                                            <th class="border-top-0">Cajas disponibles</th>
                                            <th class="border-top-0">Total pedidos 90 días</th>
                                            <th class="border-top-0">Media de pedidos mensual</th>
                                            <th class="border-top-0">Durción mes/caja</th>
                                            <th class="border-top-0">Propuesta de pedidos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="orders in data.ordersThreeMonths" :key="orders.product_id">
                                            <td>{{orders.product.name}}</td>
                                            <td>{{orders.product.stock}}</td>
                                            <td>{{orders.total}}</td>
                                            <td>{{formatPrice(orders.media)}}</td>
                                            <td>{{formatPrice(orders.product.stock * 1 / orders.media)}}</td>
                                            <td v-if=" orders.media - orders.product.stock >= 0">Te Faltan <span class="badge bg-danger">{{formatPrice(orders.media - orders.product.stock)}}</span> cajas para alcanzar la media mensual</td>
                                            <td v-else>Tienes <span class="badge bg-success">{{formatPrice(orders.media - orders.product.stock) | replace('-',' ')}}</span> cajas más que la media mensual</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="recentTransactions" class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Últimas transacciones</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <b-button variant="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right" size="sm" @click="openModalAttachment">
                                        Subir compra diaria
                                    </b-button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Estatus</th>
                                        <th class="border-top-0">Estanco</th>
                                        <th class="border-top-0">Cliente</th>
                                        <th class="border-top-0">Producto</th>
                                        <th class="border-top-0">Familia</th>
                                        <th class="border-top-0">Cantidad</th>
                                        <th class="border-top-0">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="daily in info.slice(0, 10)" :key="daily.id">
                                        <td v-if="daily.status == 1" class="text-truncate"><i class="la la-dot-circle-o success font-medium-1 mr-1"></i> Venta</td>
                                        <td v-else class="text-truncate"><i class="la la-dot-circle-o danger font-medium-1 mr-1"></i> No venta</td>
                                        <td class="text-truncate">{{ daily.client.estanco }}</td>
                                        <td class="text-truncate">
                                            <span>{{ daily.client.name }}</span>
                                        </td>
                                        <td class="text-truncate p-1">
                                            <span>{{ daily.product.name }}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-outline-danger round">{{ daily.product.family.name }}</button>
                                        </td>
                                        <td class="text-truncate p-1">
                                            <span>{{daily.count_product}}</span>
                                        </td>
                                        <td class="text-truncate">€ {{ formatPrice(daily.price_product*daily.count_product) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal-attachment></modal-attachment>
        <user-password-change :callbackSuccess="callbackSuccess"></user-password-change>
    </div>
</template>

<script>
import moment from "moment";
import ModalAttachment from '../Home/modal/ModalAttachment.vue';
export default {
    name: "Home",
    props:{
        user: Object
    },
    data() {
        return {
            info: null,
            data: {
                productCount: {},
                productCountTotal: {},
                productPopulity: [],
                productTotal: [],
            },
            typeGraph: 1,
            series: [{
                name: "Total vendidos",
                data: []
            }],
            chartOptions: {
                chart: {
                    type: 'line',
                    toolbar:{
                        show:false,
                    },
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: [],
                }
            },
        };
    },
    filters: {
        replace: function (st, rep, repWith) {
        const result = st.split(rep).join(repWith)
        return result;
        }
    },
    created(){
        this.getData();
        this.getStatistics(1);
    },
    mounted() {
        if(this.user.password_change){
            this.$bvModal.show('modal-password-change');
        }
    },
    methods: {
        openModalAttachment(){
            this.$bvModal.show('modal-attachment-diary');
        },
        getData()
        {
            axios
                .get(route('dashboard.getDairyReport'))
                .then(res => {
                    console.log(res.data.data);
                    this.info = res.data.data;
                    this.data = res.data.statistics;
                })

        },
        getStatistics(type)
        {
            this.typeGraph = type;
            axios.get(route('dashboard.getGraph',{type:type})).then(res => {
                if(res.data.status){
                    this.series = [{
                        name: "Total vendidos",
                        data: res.data.data.data
                    }];
                    //console.log(res.data);
                    this.chartOptions = {
                        chart: {
                            type: 'line',
                            toolbar:{
                                show:false,
                            },
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            categories: res.data.data.dates.map(elm => moment(elm).format('MMM DD')),
                        }
                    };
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
        callbackSuccess(){
            this.getData();
            this.getStatistics(1);
        }
    }

};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
/*div#ecommerceChartView > .card {
    min-height: 40vw;
}*/
</style>
