.container-advertising {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    a.nav-link-expand {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        color: white;
    }

    .swiper {
        height: 1920px;
        width: 100% !important;
        max-width: 1080px !important;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            background-color: white;

            img {
                width: 100%;//
            }
        }

        .swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
            background: #ffffffad;
        }
    }
}
