<template>
  <b-modal
    id="modal-form-user"
    :title="user ? 'Actualizar usuario' : 'Agregar nuevo usuario'"
    role="dialog"
    class="fade"
    size="lg"
  >
    <div class="row m-0">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameUser" label="Nombre del usuario">
                <b-form-input
                    id="nameUser"
                    v-model="name"
                    :state="state_name"
                    trim
                ></b-form-input>
            </b-form-group>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="lastNameUser" label="Apellido del usuario">
                <b-form-input
                    id="lastNameUser"
                    v-model="last_name"
                    :state="state_last_name"
                    trim
                ></b-form-input>
            </b-form-group>
        </div>
        
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Teléfono">
                <b-form-input
                    id="nameRequest"
                    v-model="phone"
                    :state="state_phone"
                    @keyup="validateNumber($event,'phone')"
                ></b-form-input>
            </b-form-group>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Correo">
                <b-form-input
                    id="nameRequest"
                    v-model="email"
                    :state="state_email"
                    type="email"
                ></b-form-input>
            </b-form-group>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="selectZone" label="Zona">
                <b-form-select
                    id="selectZone"
                    v-model="zone"
                    :state="state_zone"
                    :options="zones"
                ></b-form-select>
            </b-form-group>
        </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-form-user')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="createClient"
        :disabled="creating"
        v-if="!user"
      >
        {{ creating ? "Creando " : "Crear" }} Usuario
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="updateUser"
        :disabled="creating"
        v-if="user"
      >
        {{ creating ? "Actualizando " : "Actualizar" }} Usuario
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalFormUser",
    props:{
        callbackSuccess:Function,
        zones:Array,
        user: Object
    },
    watch:{
        user:function(newValue,oldValue){
            if(newValue.id){
                this.serializedata();
            }
        }
    },
    data() {
        return {
            name:null,
            state_name: null,
            last_name:null,
            state_last_name: null,
            phone:null,
            state_phone: null,
            email:null,
            state_email: null,
            zone:null,
            state_zone: null,
            creating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-form-user'){
                    this.name = null;
                    this.state_name = null;
                    this.last_name = null;
                    this.state_last_name = null;
                    this.phone = null;
                    this.state_phone = null;
                    this.email = null;
                    this.state_email = null;
                    this.zone = null;
                    this.state_zone = null;
                    this.creating = false;
                }
            });
        },
        serializedata(){
            this.name = this.user.first_name;
            this.last_name = this.user.last_name;
            this.phone = this.user.phone;
            this.email = this.user.email;
            this.zone = this.user.zone_id;
        },
        createClient(){

            if(!this.name){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.last_name){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_last_name = false;
                return;
            }else{
                this.state_last_name = true;
            }
           
        
            if(!this.email){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_email = false;
                return;
            }else{
                this.state_email = true;
            }

            if(!this.zone){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_zone = false;
                return;
            }else{
                this.state_zone = true;
            }

            let form = {
                name: this.name,
                last_name: this.last_name,
                phone: this.phone,
                email: this.email,
                zone: this.zone
            };
            
            this.creating = true;
            axios.post(route('users.create'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-form-user');
                    this.$toastr.success('El usuario se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        },
        validateNumber(event,key){
            const charCode = this[key];
            if (!/^\d*$/.test(charCode)) {
                console.log("HOAL");
                this[key] = charCode.slice(0, -1);
            }
        },
        updateUser(){
            if(!this.name){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.last_name){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_last_name = false;
                return;
            }else{
                this.state_last_name = true;
            }

            if(!this.email){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_email = false;
                return;
            }else{
                this.state_email = true;
            }

            if(!this.zone){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_zone = false;
                return;
            }else{
                this.state_zone = true;
            }

            let form = {
                id: this.user.id,
                name: this.name,
                last_name: this.last_name,
                phone: this.phone,
                email: this.email,
                zone: this.zone
            };
            
            this.creating = true;
            axios.post(route('users.update'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-form-user');
                    this.$toastr.success('El usuario se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>