<template>
    <div>
        <b-modal id="modal-password-change" title="Cambiar contraseña" role="dialog" class="fade" size="md">
            <b-row>
                <b-col sm="12">
                    <b-form-group label="Contraseña Actual" label-for="current_pass">
                        <b-input v-model="current_pass" type="password" id="current_pass" name="current_pass"></b-input>
                    </b-form-group>
                    <hr>
                </b-col>
                <b-col sm="12">
                    <b-row>
                        <b-col sm="12" md="6">
                            <b-form-group label="Nueva contraseña" label-for="new_pass">
                                <b-input v-model="new_pass" type="password" id="new_pass" name="new_pass"></b-input>
                            </b-form-group>
                        </b-col>
                        <b-col sm="12" md="6">
                            <b-form-group label="Confirmar contraseña" label-for="confirm_new_pass">
                                <b-input v-model="confirm_new_pass" type="password" id="confirm_new_pass" name="confirm_new_pass"></b-input>
                            </b-form-group>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <template #modal-footer="">
                <b-button class="btn btn-outline-primary" size="sm" variant="danger" :disabled="is_modifying" @click="$bvModal.hide('modal-password-change')">
                    Cancelar
                </b-button>
                <b-button class="btn btn-outline-primary" size="sm" variant="success" @click="changePassword()" :disabled="is_modifying" v-if="btnChangePassword">
                    <i class="la la-circle-o-notch la-spin" v-if="is_modifying"></i> Cambiar
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: "UserPasswordChange",
    /*mounted() {
        this.$bvModal.show('modal-password-change');
    },*/
    data() {
        return {
            is_modifying: false,
            current_pass: null,
            new_pass: null,
            confirm_new_pass: null,
        }
    },
    computed: {
        btnChangePassword: function () {
            if((this.new_pass == null || this.confirm_new_pass == null) || (this.new_pass == '' || this.confirm_new_pass == '')) {
                return false;
            }

            return this.new_pass == this.confirm_new_pass;
        }
    },
    methods: {
        changePassword() {
            axios
                .post(route('users.changePassword'), { current_pass: this.current_pass, new_pass: this.new_pass })
                .then((res) => {
                    if(res.data.ok) {
                        this.$toastr.success('Contraseña actualizada correctamente.', "Correcto");
                        this.$bvModal.hide('modal-password-change');
                    } else {
                        this.$toastr.error(res.data.message, "Error");
                    }
                })
                .catch((res) => {
                    this.$utils.validateForm(res.response.data.errors);
                });
        }
    }
}
</script>

<style scoped>

</style>
