<template>
  <b-modal
    id="modal-new-zone"
    title="Agregar nueva zona"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la zona">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <label>Provincias</label>
          <v-select
            v-model="provincie"
            :reduce="province => province.value"
            :options="provincies"
            label="text"
            multiple
            transition=""
          ></v-select>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-new-zone')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="createZone"
        :disabled="creating"
      >
        {{ creating ? "Creando " : "Crear" }}
        producto
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalNewProduct",
    props:{
        provincies: Array,
        callbackSuccess:Function
    },
    data() {
        return {
            name:null,
            state_name: null,
            provincie: null,
            state_provincie: null,
            creating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-new-zone'){
                    this.name = null;
                    this.state_name = null;
                    this.provincie = null;
                    this.state_provincie = null;
                    this.creating = false;
                }
            });
        },
        createZone(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.provincie){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                return;
            }

            let form = {
                name: this.name,
                provincie: this.provincie
            };
            
            this.creating = true;
            axios.post(route('zone.create'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-new-zone');
                    this.$toastr.success('La zona se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>