<template>
  <b-modal
    id="modal-edit-zone"
    title="Modificar zona"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la zona">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <label>Provincias</label>
        <v-select
            v-model="provincie"
            :reduce="province => province.value"
            :options="provincies"
            label="text"
            multiple
            transition=""
        ></v-select>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-edit-zone')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="editProduct"
        :disabled="updating"
      >
        {{ updating ? "Editando " : "Editar" }}
        producto
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalEditZone",
    props:{
        data: Object,
        callbackSuccess:Function,
        provincies: Array,
    },
    data() {
        return {
            name:null,
            state_name: null,
            updating:false,
            idZone: null,
            provincie: null,
            state_provincie: null,
        };
    },
    created(){
        this.setOnClose();
    },
    watch:{
        data:function(newValue){
            if(newValue){
                this.idZone = newValue.id;
                this.name = newValue.name;
                this.provincie = newValue.provincies.map(elm => elm.provincie_id);
            }
        }
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-edit-zone'){
                    this.name = null;
                    this.state_name = null;
                    this.updating = false;
                    this.provincie = null;
                    this.state_provincie = null;
                }
            });
        },
        editProduct(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.provincie){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_provincie = false;
                return;
            }else{
                this.state_provincie = true;
            }

            let form = {
                idZone: this.idZone,
                name: this.name,
                provincie: this.provincie
            }
            this.updating = true;
            axios.post(route('zone.update'),form).then(res => {
                this.updating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-edit-zone');
                    this.$toastr.success('El producto se modificó correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>