#user-profile {
    .profile-twl {
        margin-bottom: 0;

        ul.nav-profile {
            li {
                margin-bottom: 1rem;
                padding-left: 10px;
                padding-right: 10px;

                a {
                    text-align: center;

                    .card {
                        width: 100%;

                        .card-content {
                            .card-body {
                                padding: 1rem;

                                .media {
                                    height: 20px;
                                }

                                h3 {
                                    font-size: 1rem;
                                    line-height: 1.1;
                                }

                                .icon-nav-twl {
                                    margin-right: 0.6rem;

                                    i {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        background-color: transparent;
                    }
                }

                &:nth-child(1) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $blue;
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $blue;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $blue;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $material-color-amber-a700;
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $material-color-amber-a700;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $material-color-amber-a700;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $indigo;
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $indigo;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $indigo;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $material-color-cyan-500; //
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $material-color-cyan-500;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $material-color-cyan-500;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(5) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $green;
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $green;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $green;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-child(6) {
                    a {
                        .card {
                            .card-content {
                                .card-body {
                                    h3 {
                                        color: $material-color-pink-500;
                                    }

                                    .icon-nav-twl {
                                        i {
                                            color: $material-color-pink-500;
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: transparent;

                            .card {
                                background-color: $material-color-pink-500;

                                .card-content {
                                    .card-body {
                                        h3 {
                                            color: white !important;
                                        }

                                        .icon-nav-twl {
                                            i {
                                                color: white !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

        .image-user-profile {
            img {
                border: 4px solid;
            }

            .change-avatar {
                position: absolute;
                background: #ccc;
                padding: 8px;
                border-radius: 100%;
                right: 40px;
                bottom: 0;

                i {
                    font-size: 1.2rem;
                }
            }
        }

        .btns-profile {
            width: 200px;
            text-align: left;

            i {
                font-size: 1.5rem;
                margin-right: .5rem;
            }
        }

        .group-themes {
            margin-top: 10px;

            button {
                &.dropdown-toggle {
                    &::before {
                        display: none;
                    }
                }

                &:hover, &:focus {
                    outline: none;
                }
            }

            .dropdown-menu {
                width: 300px;
                // transform: translate3d(-98px, 46px, 0px) !important;
                // top: 0 !important;
                // left: 0 !important;

                &.show {
                    margin: 0;
                    padding: 0;
                    border-radius: 5px;
                    border: 1px solid #e8e9ef;
                    background-color: #e8e9ef;
                    overflow: hidden;
                }

                button.dropdown-item {
                    padding: .3rem 0.5rem;
                    border-radius: 20px;
                    margin-bottom: 5px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &:hover {
                        background-color: #fbfbfb;
                    }

                    i {
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        margin-right: 8px;
                        border-radius: 100%;
                        border: 4px solid;

                        /* img {
                             display: block;
                             width: 100%;
                             height: auto;
                             border: 1px solid #f1f1f1;
                             border-radius: 100%;
                         }*/
                    }

                    &.active {
                        background-color: #ccc;

                        i {
                            //border-color: transparent !important;
                            //background-color: white !important;
                        }
                    }

                    /*&:nth-child(1) {
                        i {
                            background-color: $color-firefly;
                            border-color: darken($color-firefly, 10%);
                        }
                    }*/

                    &.theme-color-1 {
                        i {
                            background-color: $color-torch-red;
                            border-color: darken($color-torch-red, 10%);
                        }
                    }

                    &.theme-color-2 {
                        i {
                            background-color: $color-green;
                            border-color: darken($color-green, 10%);
                        }
                    }

                    &.theme-color-3 {
                        i {
                            background-color: $color-theme-teal;
                            border-color: darken($color-theme-teal, 10%);
                        }
                    }

                    &.theme-color-4 {
                        i {
                            background-color: $color-seance;
                            border-color: darken($color-seance, 10%);
                        }
                    }

                    &.theme-color-5 {
                        i {
                            background-color: $color-rich-electric-blue;
                            border-color: darken($color-rich-electric-blue, 10%);
                        }
                    }

                    &.theme-color-6 {
                        i {
                            background-color: $color-theme-brown;
                            border-color: darken($color-theme-brown, 10%);
                        }
                    }

                    &.theme-color-7 {
                        i {
                            background-color: $color-theme-pink;
                            border-color: darken($color-theme-pink, 10%);
                        }
                    }

                    &.theme-color-8 {
                        i {
                            background-color: $color-theme-purple;
                            border-color: darken($color-theme-purple, 10%);
                        }
                    }

                    &.theme-color-9 {
                        i {
                            background-color: $color-theme-french-plum;
                            border-color: darken($color-theme-french-plum, 10%);
                        }
                    }

                    &.theme-color-10 {
                        i {
                            background-color: $color-modo-oscuro-bg-primary;
                            border-color: darken($color-modo-oscuro-bg-primary, 10%);
                        }
                    }
                }

                .container-list-themes {
                    padding: 20px;

                    h5 {
                        font-weight: 500;
                    }

                    .column-theme-left {
                        button {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .column-theme-right {
                        button {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

        }
    }

}

.cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

.cropper-face {
    background-color: inherit !important;
}

.cropper-dashed, .cropper-point.point-se, .cropper-point.point-sw, .cropper-point.point-nw, .cropper-point.point-ne, .cropper-line {
    display: none !important;
}

.cropper-view-box {
    outline: inherit !important;
}

.width-45 {
    width: 45px;
}

.height-45 {
    height: 45px;
}

.tab-profile-fondelab {

    ul.nav-tabs {
        border-bottom-color: #cdced4 !important;

        li.nav-item {
            a.nav-link {
                color: $gray-600 !important;

                &.active {
                    font-weight: bold;
                    color: darken($gray-600, 5%) !important;

                    &::before {
                        background: $material-color-amber-a700;
                    }
                }
            }
        }
    }

    .tab-content {
        background-color: #e0e1e6;

        .tab-pane {
            padding: 20px;

            &#statement-account-tab1 {
                .list-cards-fondelab {
                    .col-xl-3 {
                        @media (min-width: 1200px) and (max-width: 1680px) {
                            flex: 0 0 33.3333333333%;
                            max-width: 33.3333333333%;
                        }
                    }

                    &__item {
                        margin-bottom: 2rem;

                        .card {
                            height: 100%;
                            margin-bottom: 0;

                            &.card-scheduled-entry {
                                .card-content {
                                    .card-body {
                                        .apply-color {
                                            color: $material-color-indigo-800;
                                        }

                                        .dates-content {
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            border-radius: .5rem;
                                            background: $material-color-indigo-800;
                                            background-repeat: repeat-x;

                                            .br-date {
                                                border-right: 1px solid darken($material-color-indigo-800, 10%);
                                            }

                                            span {
                                                font-size: .9rem;
                                                display: block;
                                                color: white;
                                                text-align: center;

                                                strong {
                                                    font-size: 1rem;
                                                    display: block;
                                                }
                                            }
                                        }

                                        .total-saving-content {
                                            padding: 10px;

                                            h4 {
                                                display: block;
                                                width: 100%;
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }

                                            .total {
                                                font-size: 1.8rem;
                                                color: $material-color-indigo-800;
                                                font-weight: bold;
                                            }
                                        }

                                        .progress-bar {
                                            background-image: linear-gradient(to right, $material-color-indigo-800 0%, $material-color-indigo-600 100%);
                                            background-repeat: repeat-x;
                                        }
                                    }
                                }
                            }

                            &.card-scheduled-saving {
                                .card-content {
                                    .card-body {
                                        .apply-color {
                                            color: $material-color-blue-500;
                                        }

                                        .dates-content {
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            border-radius: .5rem;
                                            background: $material-color-blue-500;
                                            background-repeat: repeat-x;

                                            .br-date {
                                                border-right: 1px solid darken($material-color-blue-500, 10%);
                                            }

                                            span {
                                                font-size: .9rem;
                                                display: block;
                                                color: white;
                                                text-align: center;

                                                strong {
                                                    font-size: 1rem;
                                                    display: block;
                                                }
                                            }
                                        }

                                        .total-saving-content {
                                            padding: 10px;

                                            h4 {
                                                display: block;
                                                width: 100%;
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }

                                            .total {
                                                font-size: 1.8rem;
                                                color: $material-color-blue-500;
                                                font-weight: bold;
                                            }
                                        }

                                        .progress-bar {
                                            background-image: linear-gradient(to right, #0c84d1 0%, #4eb4f5 100%);
                                            background-repeat: repeat-x;
                                        }
                                    }
                                }
                            }

                            &.card-scheduled-christmas {
                                .card-content {
                                    .card-body {
                                        .apply-color {
                                            color: $material-color-light-green-800;
                                        }

                                        .dates-content {
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            border-radius: .5rem;
                                            background: $material-color-light-green-800;
                                            background-repeat: repeat-x;

                                            .br-date {
                                                border-right: 1px solid darken($material-color-light-green-800, 10%);
                                            }

                                            span {
                                                font-size: .9rem;
                                                display: block;
                                                color: white;
                                                text-align: center;

                                                strong {
                                                    font-size: 1rem;
                                                    display: block;
                                                }
                                            }
                                        }

                                        .total-saving-content {
                                            padding: 10px;

                                            h4 {
                                                display: block;
                                                width: 100%;
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }

                                            .total {
                                                font-size: 1.8rem;
                                                color: $material-color-light-green-800;
                                                font-weight: bold;
                                            }
                                        }

                                        .progress-bar {
                                            background-image: linear-gradient(to right, $material-color-light-green-800 0%, $material-color-light-green-600 100%);
                                            background-repeat: repeat-x;
                                        }
                                    }
                                }
                            }

                            &.card-credit {
                                .card-content {
                                    .card-body {
                                        .apply-color {
                                            color: $material-color-red-600;
                                        }

                                        .apply-br {
                                            border-right: 1px solid darken($material-color-red-600, 2%);
                                        }

                                        .dates-content {
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            border-radius: .5rem;
                                            background: $material-color-red-600;
                                            background-repeat: repeat-x;

                                            .br-date {
                                                border-right: 1px solid darken($material-color-red-600, 10%);
                                            }

                                            span {
                                                font-size: .9rem;
                                                display: block;
                                                color: white;
                                                text-align: center;

                                                strong {
                                                    font-size: 1rem;
                                                    display: block;
                                                }
                                            }
                                        }

                                        .progress-bar {
                                            background-image: linear-gradient(to right, $material-color-red-600 0%, $material-color-red-400 100%);
                                            background-repeat: repeat-x;
                                        }

                                        .total-saving-content {
                                            padding: 10px;

                                            h4 {
                                                display: block;
                                                width: 100%;
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }

                                            .total {
                                                font-size: 1.8rem;
                                                color: $material-color-red-600;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }

                            &.card-credit-vehicle {
                                .card-content {
                                    .card-body {
                                        .apply-color {
                                            color: $material-color-teal-800;
                                        }

                                        .apply-br {
                                            border-right: 1px solid darken($material-color-teal-800, 2%);
                                        }

                                        .dates-content {
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            border-radius: .5rem;
                                            background: $material-color-teal-800;
                                            background-repeat: repeat-x;

                                            .br-date {
                                                border-right: 1px solid darken($material-color-teal-800, 10%);
                                            }

                                            span {
                                                font-size: .9rem;
                                                display: block;
                                                color: white;
                                                text-align: center;

                                                strong {
                                                    font-size: 1rem;
                                                    display: block;
                                                }
                                            }
                                        }

                                        .progress-bar {
                                            background-image: linear-gradient(to right, $material-color-teal-800 0%, $material-color-teal-600 100%);
                                            background-repeat: repeat-x;
                                        }

                                        .total-saving-content {
                                            padding: 10px;

                                            h4 {
                                                display: block;
                                                width: 100%;
                                                font-size: 1rem;
                                                font-weight: bold;
                                            }

                                            .total {
                                                font-size: 1.8rem;
                                                color: $material-color-teal-800;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#request-tab2 {
                .request-fondelab {

                }
            }

            &#simulator-tab3 {
                .card {
                    .card-content {
                        .card-body {
                            .info-simulation {
                                .card-content {
                                    .card-body {
                                    }
                                }
                            }

                            #simulador {
                                .formato-info {
                                    display: inline-block;
                                    padding: 5px 10px;
                                    background-color: #e8e8e8;
                                    border-radius: 10px;
                                    margin-bottom: 10px;

                                    strong {
                                        color: blue;
                                    }
                                }

                                .info-container {
                                    display: block;
                                    width: 100%;
                                    padding-left: 2rem;

                                    .card {
                                        .card-body {
                                            i {
                                                color: $material-color-yellow-800;
                                            }
                                        }
                                    }
                                }

                                .information {
                                    display: inline-block;
                                    padding: 5px 10px;
                                    background-color: #f1f1f1;
                                    border-radius: 10px;
                                    margin-bottom: 10px;

                                    strong {
                                        color: $material-color-amber-a700;
                                    }
                                }

                                #table-simulador {
                                    table {
                                        thead {
                                            tr {
                                                th {

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
