.card-user-time-two {
    overflow: hidden;

    &__header,
    &__body,
    &__footer {
        display: flex;
    }

    &__header {
        flex: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        padding: 1.2rem;
        background: rgb(251,251,251);
        background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(244,244,244,1) 25%, rgba(12,132,209,1) 100%);
        background-size: cover;
        background-position: center center;

        &_line-round {
            position: absolute;
            background-color: #ccc;
            width: 100%;
            max-width: 220px;
            height: 220px;
            border-radius: 100%;
            @include center(xy);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: blur(20px) grayscale(10%);
            top: 0;
            z-index: 1;
        }

        &_image {
            position: relative;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #fafafa;
            z-index: 2;

            img {
                width: 100%;
                max-width: 150px;
            }
        }

        &_title,
        &_subtitle {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }

        &_title {
            position: relative;
            margin-top: .75rem;
            width: 100%;
            z-index: 2;

            &--label {
                font-weight: 700;
            }
        }
    }

    &__body,
    &__footer {
        background: #fafafa;
    }

    &__body {
        flex: 1;
        padding: 0;
        flex-direction: column;
        position: relative;

        button{
            position: absolute;
            background: white;
            width: 60px;
            height: 60px;
            right: 0;
            top: -32px;
            z-index: 2;
            font-size: 3rem;
        }
    }

    &__footer {
        flex: 1;
        padding: 0;
        position: relative;
        z-index: 1;

        .list-group {
            background-color: white;
            width: 100%;

            .list-group-item {
                background-color: rgba(255, 255, 255, 0.03);


                a{
                    border-bottom: 1px solid #f1f1f1;
                }

                i {
                    color: $color-rich-electric-blue;
                }
            }
        }
    }
}
