#container-tickets{
    .container-no-results{
        width: 100%;
        height: 100vh;

        .content-no-results{
            display: inline-block;
            padding: 1rem 1rem;
            border-radius: 100%;
            width: 100%;
            max-width: 400px;
            height: 400px;
            margin: 0 auto;
            background-color: #fcfcff;

            svg {
                position: relative;
            }
            .message-box {
                position: relative;
                display: inline-block;
                font-size: 1.2rem;

                span{
                    line-height: 1.1;
                }
            }

            #Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
                animation: float 1s infinite ease-in-out alternate;
            }
            #Polygon-2 {
                animation-delay: .2s;
            }
            #Polygon-3 {
                animation-delay: .4s;
            }
            #Polygon-4 {
                animation-delay: .6s;
            }
            #Polygon-5 {
                animation-delay: .8s;
            }

            @keyframes float {
                100% {
                    transform: translateY(20px);
                }
            }
        }
    }
}
