@charset "UTF-8";
.dropzone {
  min-height: 350px;
  border: 2px dashed #666ee8;
  background: #f4f5fa;
}
.dropzone .dz-message {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 300px;
  margin-top: -30px;
  color: #666ee8;
  text-align: center;
}
.dropzone .dz-message:before {
  content: "";
  font-family: "feather";
  font-size: 80px;
  position: absolute;
  top: 48px;
  width: 80px;
  height: 80px;
  display: inline-block;
  left: 50%;
  margin-left: -40px;
  line-height: 1;
  z-index: 2;
  color: #666ee8;
  text-indent: 0px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.dropzone .dz-preview.dz-image-preview {
  background: transparent;
}
.dropzone .dz-preview .dz-remove {
  font-size: 1.1rem;
  color: #ff4961;
  line-height: 2rem;
}
.dropzone .dz-preview .dz-remove:before {
  content: "";
  font-family: "feather";
  display: inline-block;
  line-height: 1;
  z-index: 2;
  text-indent: 0px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: none;
  color: #ff1635;
}
