.main-menu .navigation li > a > i,
.main-menu .dropdown-menu i,
.main-menu .dropdown-user > a > i,
.main-menu .navigation > li > a > i {
  float: right;
}
.main-menu .navigation > li ul li > a {
  align-items: center;
  display: flex;
}

.dropdown-user.nav-item i {
  float: right;
}

.horizontal-menu .main-menu-content #main-menu-navigation > li > a > i {
  float: right;
  top: -4px;
  position: relative;
}
.horizontal-menu.menu-collapsed .main-menu-content #main-menu-navigation > li > a {
  padding: 2.5rem 1rem;
}
.horizontal-menu.menu-collapsed .main-menu-content #main-menu-navigation > li > a > i {
  top: -9px;
  position: relative;
}

.mega-dropdown-menu li a i,
.mega-dropdown-menu li h6 i {
  float: right;
}

.menu-expanded .form-group i {
  float: inherit;
}

.form-control-position i {
  top: 25%;
  position: absolute;
  right: 25%;
}

.echart-container {
  direction: ltr;
}

.mm-menu {
  left: auto;
}

.dz-hidden-input {
  position: relative !important;
}

.content-wrapper .sticky-wrapper,
.content-right-sidebar .sticky-wrapper {
  float: left;
}

.ui-widget-icon-block {
  right: 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 3rem;
}

.square.slider-xl .noUi-handle:before {
  left: 5px;
}
.square.slider-xl .noUi-handle:after {
  left: 10px;
}
.square .noUi-handle:before {
  left: 2px;
}
.square .noUi-handle:after {
  left: 7px;
}

.noUi-vertical.square .noUi-handle:before {
  left: -1px;
}
.noUi-vertical.square .noUi-handle:after {
  left: -1px;
}

#tubular-container {
  z-index: 0 !important;
}

.btn i[class^=icon-],
.btn i[class*=" icon-"] {
  line-height: 1.25rem;
}

code[class*=language-],
pre[class*=language-] {
  direction: ltr;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
  right: 65%;
}

.todo .app-content .list-group .list-group-item i {
  float: right !important;
}

.email-application .app-content .list-group .list-group-item i {
  float: right !important;
}

.faq .accordion .btn i {
  float: right;
  margin-left: 8px;
}

.material-vertical-layout .mega-dropdown-menu .form-horizontal .has-icon-left .form-control-position,
.material-horizontal-layout .mega-dropdown-menu .form-horizontal .has-icon-left .form-control-position {
  padding-right: 0 !important;
}
.material-vertical-layout .mega-dropdown-menu .form-horizontal .has-icon-left .form-control-position i,
.material-horizontal-layout .mega-dropdown-menu .form-horizontal .has-icon-left .form-control-position i {
  top: 40%;
}

.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu {
  right: 8.75rem;
}
.material-vertical-layout .main-menu .user-profile .user-info .dropdown-menu .dropdown-item i {
  position: relative;
  top: 7px !important;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .user-img,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-img {
  width: 75% !important;
  transition: 300ms ease all;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .dropdown-toggle,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .dropdown-toggle {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-dark .user-profile .user-name,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile div.text-light,
.material-vertical-layout.menu-collapsed .main-menu.menu-light .user-profile .user-name {
  white-space: nowrap;
  display: none;
}

.material-vertical-layout .main-menu .navigation > li > a i {
  position: relative;
  top: 7px !important;
}

.material-vertical-layout.vertical-content-menu.menu-collapsed .main-menu .navigation > li > a i {
  right: 25%;
}

@media only screen and (max-width: 1100px) and (min-width: 992px) {
  .material-vertical-layout.vertical-content-menu .header-navbar .navbar-container ul.nav a.nav-link-expand {
    padding: 1.7rem 0.3rem;
  }
}
.material-horizontal-layout .main-menu-content #main-menu-navigation > li > a > i,
.material-horizontal-nav .main-menu-content #main-menu-navigation > li > a > i {
  top: 4px;
  position: relative;
}
.material-horizontal-layout .main-menu .navigation > li > a i,
.material-horizontal-nav .main-menu .navigation > li > a i {
  position: relative;
  top: 4px;
}
.material-horizontal-layout .main-menu .navigation > li > a i.material-icons,
.material-horizontal-nav .main-menu .navigation > li > a i.material-icons {
  font-size: 1.3rem;
}
.material-horizontal-layout .main-menu .navigation > li > ul > li > a i.material-icons,
.material-horizontal-nav .main-menu .navigation > li > ul > li > a i.material-icons {
  font-size: 1.3rem;
  position: relative;
  top: 7px;
}

.material-vertical-layout.menu-collapsed .main-menu .user-profile .user-info .dropdown-menu {
  right: -6rem;
  min-width: 11rem;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .material-vertical-layout.horizontal-layout .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .dropdown-menu.arrow,
.material-horizontal-layout.horizontal-layout .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .dropdown-menu.arrow {
    right: auto;
  }
  .material-vertical-layout.material-horizontal-nav .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .dropdown-menu.arrow,
.material-horizontal-layout.material-horizontal-nav .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .dropdown-menu.arrow {
    right: auto;
  }
  .material-vertical-layout.vertical-overlay-menu .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .nav-link.dropdown-toggle, .material-vertical-layout.vertical-content-menu .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .nav-link.dropdown-toggle,
.material-horizontal-layout.vertical-overlay-menu .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .nav-link.dropdown-toggle,
.material-horizontal-layout.vertical-content-menu .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .nav-link.dropdown-toggle {
    padding: 1.9rem 1rem !important;
  }
}
@media screen and (max-width: 767px) {
  .vertical-overlay-menu[data-menu=vertical-compact-menu].boxed-layout.menu-open .main-menu {
    transform: translate3d(-296px, 0, 0) !important;
  }
  .vertical-overlay-menu[data-menu=vertical-menu-modern].boxed-layout.menu-open .main-menu {
    transform: translate3d(-367px, 0, 0) !important;
  }

  .material-vertical-layout.horizontal-layout .navbar-wrapper .navbar-container .navbar-nav .nav-link,
.material-horizontal-layout.horizontal-layout .navbar-wrapper .navbar-container .navbar-nav .nav-link {
    color: #fff;
  }
}
.material-vertical-layout.vertical-content-menu .navbar-wrapper .navbar-container .collapse .nav .nav-link-search .nav-link {
  padding: 1rem !important;
}

body .ps__rail-y {
  right: auto !important;
  left: -1px !important;
}

.vertical-compact-menu.menu-open.boxed-layout .main-menu {
  transform: translate3d(-380px, 0, 0) !important;
}

.vertical-layout .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  transform: rotate(180deg) !important;
}

.vertical-layout .main-menu .navigation li.open > a:not(.mm-next):after {
  transform: rotate(90deg) !important;
}

.horizontal-layout .header-navbar .main-menu-content li .dropdown-submenu > a:after {
  transform: rotate(180deg) !important;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
  padding: 15.5px 20px !important;
}

@media (max-width: 991.98px) {
  body.vertical-layout.vertical-overlay-menu[data-menu=vertical-menu].boxed-layout.menu-open .main-menu {
    transform: translate3d(-280px, 0, 0) !important;
  }
}
.chart-stats .percentage {
  right: auto !important;
  left: 21px !important;
}

/*# sourceMappingURL=custom-rtl.css.map */
