.modal{
    .modal-dialog{
        margin: 1.75rem auto;

        // Modal Custom max-width %
        @for $i from 10 through 100 {
            @if $i % 5 == 0 {
                &.modal-mw-#{$i} {
                    max-width:(#{$i}+'%');
                }
            }
        }
    }
}
