<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="">
                <div class="card-header">
                    <h4 class="card-title">Módulos</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <b-overlay :show="general_loading" rounded="sm">
                        <div class="card-body">
                            <b-row class="skin skin-flat">
                                <b-col sm="12" class="my-1 text-right">
                                    <b-button v-b-modal.modal-new type="button" class="btn btn-success" size="sm" v-if="$can('create_module')">
                                        <i class="ft-plus"></i> Nuevo
                                    </b-button>
                                </b-col>
                                <b-col sm="12" class="my-1">
                                    <b-row class="container-filters">
                                        <b-col sm="12" md="2">
                                            <b-form-group
                                                id="fieldset-1"
                                                description=""
                                                label-for="input-1"
                                            >
                                                <b-form-select class="" size="sm" v-model="per_page" :options="items_show"></b-form-select>
                                            </b-form-group>
                                        </b-col>
                                        <b-col sm="12" md="3" offset-md="7">
                                            <b-form-group>
                                                <b-input
                                                    v-model="filter"
                                                    placeholder="Buscar..."
                                                    size="sm"
                                                >
                                                </b-input>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                </b-col>
                                <b-col sm="12">
                                    <b-table show-empty small
                                             stacked="md"
                                             class="table table-striped table-hover"
                                             :items="modules"
                                             :fields="table_fields"
                                             :current-page="current_page"
                                             :per-page="per_page"
                                             :filter="filter"
                                             :filter-included-fields="filter_on"
                                             empty-text="No hay módulos creados"
                                             responsive
                                    >

                                        <template #cell(created_at)="row">
                                            <span>{{ row.item.created_at | moment("DD/MM/YYYY") }}</span>
                                        </template>

                                        <template #cell(manage)="row">
                                            <div class="action">
                                                <a @click.prevent="setEditingModule(row.item)" v-if="$can('edit_module')">
                                                    <i class="la la-pencil-square warning"></i>
                                                </a>
                                                <a @click.prevent="remove(row.item.id)" v-if="$can('delete_module')">
                                                    <i class="la la-trash danger"></i>
                                                </a>
                                            </div>
                                        </template>
                                    </b-table>
                                    <b-row class="justify-content-end">
                                        <b-col sm="12" md="6" class="my-1">
                                            <div class="description found">Total de Registros: {{ this.total_rows }}</div>
                                        </b-col>
                                        <b-col sm="12" md="6" class="my-1">
                                            <b-pagination
                                                v-model="current_page"
                                                :total-rows="total_rows"
                                                :per-page="per_page"
                                                size="sm"
                                                class="my-0 float-right"
                                            ></b-pagination>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>

        <b-modal id="modal-new" title="Nuevo Módulo" role="dialog" class="fade">
            <b-form-group id="fieldset-name" label="Nombre" label-for="name">
                <b-input v-model="form_create.name" placeholder="Usuarios" id="name" name="name"></b-input>
            </b-form-group>

            <template #modal-footer="">
                <b-button class="btn btn-outline-primary" size="sm" variant="danger" :disabled="is_creating" @click="$bvModal.hide('modal-new')">
                    Cancelar
                </b-button>
                <b-button class="btn btn-outline-primary" size="sm" variant="success" @click="create()" :disabled="is_creating">
                    <i class="la la-circle-o-notch la-spin" v-if="is_creating"></i> Crear
                </b-button>
            </template>
        </b-modal>

        <b-modal id="modal-edit" title="Modificar Módulo">
            <b-form-group id="fieldset-edit-name" label="Nombre" label-for="edit_name">
                <b-input v-model="form_edit.name" placeholder="Usuarios" id="edit_name" name="name"></b-input>
            </b-form-group>

            <template #modal-footer="">
                <b-button class="btn btn-outline-primary" size="sm" variant="danger" :disabled="is_modifying" @click="$bvModal.hide('modal-edit')">
                    Cancelar
                </b-button>
                <b-button class="btn btn-outline-primary" size="sm" variant="warning" @click="edit()" :disabled="is_modifying">
                    <i class="la la-circle-o-notch la-spin" v-if="is_modifying"></i> Modificar
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: "Modules",
    data() {
        return {
            general_loading: false,
            is_creating: false,
            is_modifying: false,

            modules: [],
            table_fields: [
                {key: 'name', label: 'Nombre', sortable: true},
                {key: 'created_at', label: 'Fecha de Creación'},
                {key: 'manage', label: 'Gestionar'},
            ],
            rows: 1,
            current_page: 1,
            per_page: 50,
            items_show: [50, 100, 200, 300],
            filter: null,
            filter_on: [],
            total_rows: 0,
            on_filtered: null,
            creating_errors: null,
            form_create: {
                name: null,
            },
            editing_errors: null,
            form_edit: {
                id: null,
                name: null,
            },
        }
    },
    created() {
        this.getAllModules();
    },
    methods: {
        getAllModules() {
            this.general_loading = true;

            axios
                .get(route('module.getAllModules'))
                .then((res) => {
                    this.modules = res.data;
                    this.total_rows = this.modules.length;

                    this.general_loading = false;
                })
                .catch((res) => {
                    console.error(res);
                    this.general_loading = false;
                });
        },
        create() {
            this.$utils.validateForm(null);
            this.is_creating = true;

            axios
                .post(route('module.create'), this.form_create)
                .then((res) => {
                    if(res.data.ok) {
                        this.getAllModules();

                        this.$bvModal.hide('modal-new');
                        this.form_create.name = null;

                        this.$toastr.success('Módulo creado correctamente.', "Correcto");
                    } else {
                        this.$toastr.error('Ha ocurrido un error al crear el módulo.', "Error");
                    }

                    this.is_creating = false;
                })
                .catch((res) => {
                    // Form Validation
                    if(res.response.status == 422) {
                        this.creating_errors = res.response.data.errors;
                        this.$utils.validateForm(res.response.data.errors);
                    } else {
                        this.$swal.fire({
                            title: 'Error',
                            text: "Ha ocurrido un error al procesar la solicitud. Por favor intente más tarde.",
                            icon: 'error',
                        });
                    }

                    this.is_creating = false;
                });
        },
        edit() {
            this.$utils.validateForm(null);
            this.is_modifying = true;

            axios
                .post(route('module.edit'), this.form_edit)
                .then((res) => {
                    if(res.data.ok) {
                        this.getAllModules();

                        this.$bvModal.hide('modal-edit');
                        this.form_edit.id = null;
                        this.form_edit.name = null;

                        this.$toastr.success('Módulo modificado correctamente.', "Correcto");
                    } else {
                        this.$toastr.error('Ha ocurrido un error al modificar el módulo correctamente.', "Error");
                    }

                    this.is_modifying = false;
                })
                .catch((res) => {
                    // Form Validation
                    if(res.response.status == 422) {
                        this.$utils.validateForm(res.response.data.errors);
                    } else {
                        this.$swal.fire({
                            title: 'Error',
                            text: "Ha ocurrido un error al procesar la solicitud. Por favor intente más tarde.",
                            icon: 'error',
                        });
                    }

                    this.is_modifying = false;
                });
        },
        remove(id) {
            this.$swal.fire({
                title: '¿Está seguro que desea eliminar el módulo?',
                text: "Esta acción no puede ser revertida",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28d094',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    axios
                        .post(route('module.delete'), {id})
                        .then((res) => {
                            if(res.data.ok) {
                                this.getAllModules();

                                this.$toastr.success('Módulo eliminado correctamente.', "Correcto");
                            } else {
                                switch (res.data.code) {
                                    case 23000:

                                        this.$swal.fire({
                                            title: 'Error',
                                            text: "No se puede eliminar el módulo. Existen registros asignados al mismo.",
                                            icon: 'error',
                                        });

                                        break;

                                    case 0:

                                        this.$swal.fire({
                                            title: res.data.title,
                                            text: res.data.msg,
                                            icon: res.data.icon,
                                        });

                                        break;

                                    default:

                                        this.$swal.fire({
                                            title: 'Error',
                                            text: "Ha ocurrido un error al eliminar el usuario. Por favor intente mas tarde.",
                                            icon: 'error',
                                        });

                                        break;
                                }
                            }
                        })
                        .catch((res) => {
                            // fails
                        });
                }
            })
        },
        setEditingModule(data) {
            this.form_edit.id = data.id;
            this.form_edit.name = data.name;

            this.$bvModal.show('modal-edit');
        },
        sendEvent(data) {
            axios
                .post(route('module.event'))
                .then((res) => {
                })
                .catch((res) => {

                });
        },
    }
}
</script>

<style>
</style>
