<template>
  <b-row>
    <div class="card w-100" style="">
      <div class="card-header">
        <h4 class="card-title">Zonas</h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="expand"><i class="ft-maximize"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-sm btn-success" @click="openModalNewZone">
              Añadir nueva zona
            </button>
          </div>
          <div class="mt-1">
            <div class="row m-0 justify-content-end">
              <div class="col-6">
                <b-form-group>
                  <b-form-select
                    id="selectFamily"
                    v-model="provincie"
                    :options="[{ value: 0, text: '' }, ...provincies]"
                    @change="changeFilterFamily"
                    size="sm"
                  ></b-form-select>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <b-input v-model="filter" placeholder="Buscar..." size="sm">
                  </b-input>
                </b-form-group>
              </div>
            </div>
            <b-table
              ref="tableProducts"
              how-empty
              small
              stacked="md"
              class="table table-striped table-hover"
              :items="zones"
              :fields="table_fields"
              :current-page="current_page"
              :per-page="per_page"
              :filter="filter"
              :filter-included-fields="filter_on"
              empty-text="No hay registros"
              empty-filtered-text="No existen registros que coincidan con la búsqueda"
              empty-html="No existen datos registrados"
              responsive
            >
              <template #cell(name)="row">
                <div v-if="row.item.skeleton">
                  <b-skeleton width="85%"></b-skeleton>
                </div>
                <div v-if="row.item.skeleton">
                  <b-skeleton width="30%"></b-skeleton>
                </div>
                <div class="row m-0 mb-1" v-if="!row.item.skeleton">
                  <span class="">
                    {{ row.item.name }}
                  </span>
                </div>
              </template>
              <template #cell(date)="row">
                <span>
                  {{ row.item.created_at | moment("DD [de] MMMM,YYYY") }}
                </span>
              </template>
              <template #cell(provincie)="row">
                <div class="row m-0">
                  <span v-for="(data,index) in row.item.provincies" :key="data.id">
                    {{data.provincie.name}}{{( row.item.provincies.length - 1  > index ) ? ', ' : ''}}
                  </span>
                </div>
                <span>
                  
                </span>
              </template>
              <template #cell(options)="row">
                <span
                  class="h3 text-info cursor-pointer mr-1"
                  @click="editzone(row.item)"
                  v-b-tooltip
                  title="Modificar zona"
                >
                  <i class="fad fa-edit"></i>
                </span>
                <span
                  class="h3 text-danger cursor-pointer"
                  @click="removeZone(row.item)"
                  v-b-tooltip
                  title="Remover zona"
                >
                  <i class="fad fa-times"></i>
                </span>
              </template>
            </b-table>
            <b-row class="justify-content-end">
              <b-col sm="12" md="6" class="my-1">
                <div class="description found">
                  Total de Registros: {{ zones.length }}
                </div>
              </b-col>
              <b-col sm="12" md="6" class="my-1">
                <b-pagination
                  v-model="current_page"
                  :total-rows="zones.length"
                  :per-page="per_page"
                  size="sm"
                  class="my-0 float-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <modal-edit-zone
      :data="zoneSelected"
      :provincies="provincies"
      :callbackSuccess="callbackSuccessEditProduct"
    ></modal-edit-zone>
    <modal-new-zone
      :provincies="provincies"
      :callbackSuccess="callbackSuccessNewZone"
    ></modal-new-zone>
  </b-row>
</template>

<script>
export default {
  name: "ListZone",
  data() {
    return {
      provincie:null,
      provincies: [],
      zones: [],
      zonesBackup: [],
      zoneSelected: {},
      table_fields: [
        {
        key: "name",
        label: "Nombre",
        sortable: false,
        class: "align-middle",
        },
        {
        key: "provincie",
        label: "Provincia",
        sortable: false,
        class: "align-middle",
        },
        {
        key: "date",
        label: "Fecha de creación",
        sortable: false,
        class: "align-middle",
        },
        {
        key: "options",
        label: "Opciones",
        sortable: false,
        class: "align-middle",
        },
      ],
      rows: 1,
      current_page: 1,
      per_page: 50,
      items_show: [50, 100, 200, 300],
      filter: null,
      filter_on: [],
      total_rows: 0,
      on_filtered: null,
    };
  },
  created() {
      this.getProvincies();
	    this.getZones();
  },
  methods: {
    openModalNewZone() {
      this.$bvModal.show("modal-new-zone");
    },
    callbackSuccessNewZone(data) {
      this.zones.unshift(data);
      this.$bvModal.hide("modal-new-zone");
    },
    callbackSuccessEditProduct(data){
      for(let i in this.zoneBackup){
        if(this.zoneBackup[i].id == data.id){
          this.zoneBackup[i] = data;
          break;
        }
      }
      for(let i in this.zones){
        if(this.zones[i].id == data.id){
          this.zones[i] = data;
          this.$refs.tableProducts.refresh();
          break;
        }
      }
    },
    getProvincies(){
        axios.get(route('zone.getProvincies')).then(res => { 
            this.provincies = res.data.data.map(elm => {
                  return{
                    value: elm.id,
                    text: elm.name
                  }
            });
        });
    },
    getZones(){
        axios.get(route('zone.getAll')).then(res => { 
            this.zonesBackup = res.data.data;
            this.zones = res.data.data;
        });
    },
    editzone(row){
		  this.zoneSelected = row;
		  this.$bvModal.show('modal-edit-zone');
    },
    removeZone(row){
        this.$swal.fire({
                title: '¿Está seguro que desea remover la zona?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28d094',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.get(route('zone.delete',{id:row.id})).then(res => {
                        if(res.data.status){
                            for(let i in this.zoneBackup){
                                if(this.zoneBackup[i].id == row.id){
                                    this.zoneBackup.splice(i,1);
                                    this.$refs.tableProducts.refresh();
                                }
                            }

                            for(let i in this.zones){
                                if(this.zones[i].id == row.id){
                                    this.zones.splice(i,1);
                                    this.$refs.tableProducts.refresh();
                                }
                            }
                        }else{
                            this.$toastr.error(res.data.message,'Ocurrio un error');
                        }
                    });
                }
            })
    },
    changeFilterFamily(){
      if(!this.provincie){
        this.zones = this.zonesBackup;
      }else{
        this.zones = this.zonesBackup.filter(elm => {
          return elm.provincia_id == this.provincie;
        });
      }
      
    }
  },
};
</script>

<style scoped>
</style>
