<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="">
                <div class="card-header">
                    <h4 class="card-title">Permisos</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <b-overlay :show="general_loading" rounded="sm">
                        <div class="card-body">
                            <b-row class="skin skin-flat">
                                <b-col sm="12" class="my-1 text-right">
                                    <b-button v-b-modal.modal-new type="button" class="btn btn-success" size="sm" v-if="$can('create_permission')">
                                        <i class="ft-plus"></i> Nuevo
                                    </b-button>
                                </b-col>
                                <b-col sm="12" class="my-1">
                                    <b-row class="container-filters">
                                        <b-col sm="12" md="2">
                                            <b-form-group
                                                id="fieldset-1"
                                                description=""
                                                label-for="input-1"
                                            >
                                                <b-form-select class="" size="sm" v-model="per_page" :options="items_show"></b-form-select>
                                            </b-form-group>
                                        </b-col>
                                        <b-col sm="12" md="3">
                                            <b-form-group>
                                                <b-form-select
                                                    v-model="filter_module_id"
                                                    id="select_module"
                                                    placeholder="Seleccione el módulo"
                                                    size="sm"
                                                    @change="filterByModule()"
                                                >
                                                    <b-form-select-option :value="null">Todos los módulos</b-form-select-option>
                                                    <b-form-select-option v-for="module in modules" :value="module.id" :key="module.id">{{ module.name }}</b-form-select-option>
                                                </b-form-select>
                                            </b-form-group>
                                        </b-col>
                                        <b-col sm="12" md="3" offset-md="4">
                                            <b-input
                                                v-model="filter"
                                                placeholder="Buscar..."
                                                size="sm"
                                            >
                                            </b-input>
                                        </b-col>
                                    </b-row>
                                </b-col>
                                <b-col sm="12">
                                    <b-table show-empty small
                                             stacked="md"
                                             class="table table-striped table-hover"
                                             :items="filtered_permissions"
                                             :fields="table_fields"
                                             :current-page="current_page"
                                             :per-page="per_page"
                                             :filter="filter"
                                             :filter-included-fields="filter_on"
                                             empty-text="No hay permisos creados"
                                             responsive
                                    >
                                        <template #cell(display_name)="row">
                                            <div class="text-bold-700">{{ row.item.display_name }}</div>
                                            <small>{{ row.item.name }}</small>
                                        </template>

                                        <template #cell(assign)="row">
                                            <v-select
                                                :disabled="!$can('assign_permission')"
                                                :options="roles"
                                                name="roles"
                                                placeholder="Seleccione los roles..."
                                                multiple
                                                @input="setSelected($event, row.item.id)"
                                                v-model="permission[row.item.id]"
                                                appendToBody
                                            >
                                            </v-select>
                                        </template>
                                    </b-table>
                                    <b-row class="justify-content-end">
                                        <b-col sm="12" md="6" class="my-1">
                                            <div class="description found">Total de Registros: {{ this.filtered_permissions.length }}</div>
                                        </b-col>
                                        <b-col sm="12" md="6" class="my-1">
                                            <b-col sm="12" md="12" lg="12" class="my-1">
                                                <b-pagination
                                                    v-model="current_page"
                                                    :total-rows="filtered_permissions.length"
                                                    :per-page="per_page"
                                                    size="sm"
                                                    class="my-0 float-right"
                                                ></b-pagination>
                                            </b-col>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>

        <b-modal id="modal-new" title="Nuevo Permiso" role="dialog" class="fade">
            <b-form-group id="fieldset-name" label="Nombre" label-for="permission_display_name">
                <b-input v-model="form_create.display_name" placeholder="Editar usuario" id="permission_display_name" name="display_name"></b-input>
            </b-form-group>

            <b-form-group id="fieldset-permission-name" label="Nombre del Permiso" label-for="permission_name">
                <b-input v-model="form_create.name" placeholder="edit_user" id="permission_name" name="name" @keyup="snakeCaseString(form_create.name)"></b-input>
            </b-form-group>

            <b-form-group id="fieldset-module" label="Módulo" label-for="select_module">
                <b-form-select v-model="form_create.module_id" id="select_module" placeholder="Seleccione el módulo" name="module_id">
                    <b-form-select-option :value="null">Seleccione el módulo</b-form-select-option>
                    <b-form-select-option v-for="module in modules" :value="module.id" :key="module.id">{{ module.name }}</b-form-select-option>
                </b-form-select>
            </b-form-group>

            <template #modal-footer="">
                <b-button class="btn btn-outline-primary" size="sm" variant="danger" :disabled="is_creating" @click="$bvModal.hide('modal-new')">
                    Cancelar
                </b-button>
                <b-button class="btn btn-outline-primary" size="sm" variant="success" @click="create()" :disabled="is_creating">
                    <i class="la la-circle-o-notch la-spin" v-if="is_creating"></i> Crear
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: "Permissions",
    props: [
        'roles',
        'modules',
    ],
    data() {
        return {
            general_loading: false,
            permissions: [],
            filtered_permissions: [],
            permission_roles: [],
            table_fields: [
                {key: 'display_name', label: 'Permiso', sortable: true, thStyle: { width: '300px'}, class: 'align-middle'},
                {key: 'module_name', label: 'Módulo', sortable: true, class: 'align-middle'},
                {key: 'assign', label: 'Asignar a Roles', sortable: false, class: 'align-middle'},
            ],
            rows: 1,
            current_page: 1,
            per_page: 50,
            items_show: [50, 100, 200, 300],
            filter: null,
            filter_on: [],
            total_rows: 0,
            on_filtered: null,
            module_id: null,
            filter_module_id: null,
            permission: {},
            creating_errors: null,
            form_create: {
                display_name: null,
                name: null,
                module_id: null,
            },
            is_creating: false,
        }
    },
    created() {
        this.getAllPermissions();
    },
    methods: {
        getAllPermissions() {
            this.general_loading = true;

            axios
                .get(route('permission.getAllPermissions'))
                .then((res) => {
                    this.permissions = res.data;
                    this.filtered_permissions = res.data;
                    this.total_rows = this.filtered_permissions.length;
                    this.filterByModule();

                    this.general_loading = false;

                    for (let i in this.permissions) {
                        if(this.permissions[i]['roles'].length > 0) {
                            for (let j in this.permissions[i]['roles']) {
                                this.permission[this.permissions[i]['id']] = this.permissions[i]['roles'];
                            }
                        }
                    }
                })
                .catch((res) => {
                    console.error(res);
                    this.general_loading = false;
                });
        },
        setSelected(roles, permission_id) {
            axios
                .post(route('permission.setPermissions'), {roles, permission_id})
                .then((res) => {
                    this.getAllPermissions();
                });
        },
        create() {
            this.creating_errors = null;
            this.is_creating = true;

            axios
                .post(route('permission.createPermission'), this.form_create)
                .then((res) => {
                    if(res.data.ok) {
                        this.getAllPermissions();
                        this.$bvModal.hide('modal-new');
                        this.form_create.display_name = null;
                        this.form_create.name = null;
                        this.form_create.module_id = null;

                        this.$toastr.success('Permiso creado correctamente.', "Correcto");
                    } else {
                        this.$swal.fire({
                            title: 'Error',
                            text: "Ha ocurrido un error al procesar la solicitud. Por favor intente mas tarde.",
                            icon: 'error',
                        });
                    }

                    this.is_creating = false;
                })
                .catch((res) => {
                    if(res.response.status == 422) {
                        // Form Validation
                        this.creating_errors = res.response.data.errors;
                        this.$utils.validateForm(res.response.data.errors);
                    } else {
                        this.$swal.fire({
                            title: 'Error',
                            text: "Ha ocurrido un error al procesar la solicitud. Por favor intente más tarde.",
                            icon: 'error',
                        });
                    }

                    this.is_creating = false;
                });
        },
        snakeCaseString(string) {
            this.form_create.name = string.replace(/[\s\/]/g, '_')
        },
        filterByModule() {
            if(this.filter_module_id === null) {
                this.filtered_permissions = this.permissions;
            } else {
                this.filtered_permissions = this.permissions.filter(item => item.module_id === this.filter_module_id);
            }
        },
    },
}
</script>

<style>
.small-size {
    width: 400px !important;
    max-width: 500px !important;
}

@media screen and (max-width: 786px) {
    .small-size {
        width: 100% !important;
    }
}
</style>
