<template>
    <b-row>
        <div class="col-md-12">
            <div class="card" style="">
                <div class="card-header">
                    <h4 class="card-title">Usuarios</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <b-overlay :show="general_loading" rounded="sm">
                        <div class="card-body">
                            <b-row class="skin skin-flat">
                                <b-col sm="12" class="my-1 text-right">
                                    <b-button @click="openModalNewUser" type="button" class="btn btn-success" size="sm" >
                                        <i class="ft-plus"></i> Nuevo
                                    </b-button>
                                </b-col>
                                <b-col sm="12" class="my-1">
                                    <b-row class="container-filters">
                                        <b-col sm="12" md="2">
                                            <b-form-group
                                                id="fieldset-1"
                                                description=""
                                                label-for="input-1"
                                            >
                                                <b-form-select class="" size="sm" v-model="per_page" :options="items_show"></b-form-select>
                                            </b-form-group>
                                        </b-col>
                                        <b-col sm="12" md="3" offset-md="7">
                                            <b-form-group>
                                                <b-input
                                                    v-model="filter"
                                                    placeholder="Buscar..."
                                                    size="sm"
                                                >
                                                </b-input>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                </b-col>
                                <b-col sm="12">
                                    <b-table show-empty small
                                             stacked="md"
                                             class="table table-striped table-hover"
                                             :items="users"
                                             :fields="table_fields"
                                             :current-page="current_page"
                                             :per-page="per_page"
                                             :filter="filter"
                                             :filter-included-fields="filter_on"
                                             empty-text="No hay usuarios creados"
                                             responsive
                                             ref="userLists"
                                    >
                                        <template #cell(info)="row">
                                            <div class="text-bold-700">{{ row.item.first_name }} {{ row.item.last_name }}</div>
                                            <small class="text-muted">{{ row.item.email }}</small>
                                        </template>

                                        <template #cell(zone)="row">
                                            <div class="text-bold-700">{{ row.item.zone ? row.item.zone.name : 'No tiene asignado una zona' }}</div>
                                        </template>

                                        <template #cell(manage)="row">
                                            <span
                                                class="h3 text-info cursor-pointer mr-1"
                                                @click="editUser(row.item)"
                                                v-b-tooltip
                                                title="Modificar usuario"
                                                >
                                                <i class="fad fa-edit"></i>
                                            </span>
 
                                            <span
                                                class="h3 text-danger cursor-pointer mr-1"
                                                @click="deleteUser(row.item)"
                                                v-b-tooltip
                                                title="Remover usuario"
                                            >
                                                <i class="fad fa-times"></i>
                                            </span>
                                            <span
                                                class="h3 text-success cursor-pointer"
                                                @click="resetPassword(row.item)"
                                                v-b-tooltip
                                                title="Actualizar contraseña"
                                            >
                                                <i class="fad fa-key"></i>
                                            </span>
                                        </template>

                                    </b-table>
                                    <b-row class="justify-content-end">
                                        <b-col sm="12" md="6" class="my-1">
                                            <div class="description found">Total de Registros: {{ this.total_rows }}</div>
                                        </b-col>
                                        <b-col sm="12" md="6" class="my-1">
                                            <b-pagination
                                                v-model="current_page"
                                                :total-rows="total_rows"
                                                :per-page="per_page"
                                                size="sm"
                                                class="my-0 float-right"
                                            ></b-pagination>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </div>
                    </b-overlay>
                </div>
            </div>
        </div>
        
        <modal-form-user :zones="zones" :callbackSuccess="callbackSuccess" :user="userSelected"></modal-form-user>
    </b-row>
</template>

<script>
export default {
    name: "Users",
    data() {
        return {
            users: [],
            zones: [],
            table_fields: [
                {key: 'info', label: 'Nombre', sortable: false},
                {key: 'zone', label: 'Zona', sortable: false},
                {key: 'manage', label: 'Gestionar', class: 'align-middle'},
            ],
            rows: 1,
            current_page: 1,
            per_page: 50,
            items_show: [50, 100, 200, 300],
            filter: null,
            filter_on: [],
            total_rows: 0,
            on_filtered: null,
            creating_errors: null,
            add_avatar: false,
            editing_errors: null,
            userSelected:{},
            general_loading:false,
        }
    },
    created() {
        this.getAllUsers();

    },
    methods: {
        getAllUsers() {
            axios
                .get(route('users.lists'))
                .then((res) => {
                    this.users = res.data.data.users;
                    this.zones = res.data.data.zones;
                })
                .catch((res) => {
                    this.general_loading = false;
                });
        },
        openModalNewUser(){
            this.userSelected = null;
            this.$bvModal.show('modal-form-user');
        },
        editUser(data){
            this.userSelected = data;
            this.$bvModal.show('modal-form-user');
        },
        callbackSuccess(data){
            if(!this.userSelected){
                this.users.push(data);
            } else {
                for(let i in this.users){
                    if(this.users[i].id == data.id){
                        this.users[i] = data;
                        this.$refs.userLists.refresh();
                        this.userSelected = null;
                    }
                }
            }
        },
        deleteUser(row){
            this.$swal.fire({
					title: '¿Está seguro que desea remover el usuario?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#28d094',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si, eliminar',
					cancelButtonText: 'Cancelar',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						axios.post(route('users.delete'),{id:row.id}).then(res => {
							if(res.data.status){

								for(let i in this.users){
									if(this.users[i].id == row.id){
										this.users.splice(i,1);
										this.$refs.userLists.refresh();
									}
								}
							}else{
								this.$toastr.error(res.data.message,'Ocurrio un error');
							}
						});
					}
				})
        },
        resetPassword(row){
            axios.get(route('users.resetPassword',{idUser:row.id})).then(res => {
                if(res.data.status){
                    this.$toastr.success('Contraseña actualizada correctamente','Correcto');
                }else{
                    this.$toastr.error(res.data.message,'Ha ocurrido un error');
                }
            });
        }

    }
}
</script>

<style scoped>

</style>
