<template>
  <b-modal
    id="modal-new-family"
    title="Agregar nueva familia"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la familia">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <b-form-group id="nameRequest" label="Codigo de la familia">
          <b-form-input
            id="nameRequest" 
            v-model="code" 
            :state="state_code"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <b-form-group id="nameRequest" label="Precio distribuidora">
          <b-form-input
            id="nameRequest"
            v-model="price"
            type="number"
            :state="state_price"
          ></b-form-input>
        </b-form-group>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-new-family')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="createFamily"
        :disabled="creating"
      >
        {{ creating ? "Creando " : "Crear" }}
        familia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalNewFamily",
    props:{
        callbackSuccess:Function
    },
    data() {
        return {
            name:null,
            code: null,
            price: null,
            state_name: null,
            state_code: null,
            state_price: null,
            creating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-new-family'){
                   this.name = null;
                    this.state_name = null;
                    this.creating = false;
                }
            });
        },
        resetIntPriceFormat(value) {
            if(typeof value == 'number' || value.indexOf('.') == -1){
                return value;
            }
            let priceString = value.replaceAll('.', '');

            return priceString;
        },
        createFamily(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.code){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_code = false;
                return;
            }else{
                this.state_code = true;
            }
            if(!this.price){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_price = false;
                return;
            }else{
                this.state_price = true;
            }

            let form = {
              name: this.name,
              code: this.code,
              price: this.price,
            }
            this.creating = true;
            axios.post(route('family.create'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-new+-family');
                    this.$toastr.success('La familia se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>