<template>
  <b-modal
    id="modal-edit-family"
    title="Modificar familia"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la familia">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <b-form-group id="nameRequest" label="Codigo de la familia">
          <b-form-input
            id="nameRequest" 
            v-model="code" 
            :state="state_code"
          ></b-form-input>
        </b-form-group>
      </div>
      <div class="col-12">
        <b-form-group id="nameRequest" label="Precio distribuidora">
          <b-form-input
            id="nameRequest"
            v-model="price"
            type="number"
            :state="state_price"
          ></b-form-input>
        </b-form-group>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-edit-family')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="editFamily"
        :disabled="updating"
      >
        {{ updating ? "Editando " : "Editar" }}
        familia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalEditFamily",
    props:{
        data: Object,
        callbackSuccess:Function
    },
    data() {
        return {
            name:null,
            code: null,
            price: null,
            state_name: null,
            state_code: null,
            state_price: null,
            updating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    watch:{
        data:function(newValue){
            if(newValue){
                this.idFamily = newValue.id;
                this.name = newValue.name;
                this.code = newValue.code;
                this.price = parseFloat(newValue.price);
                console.log(this.price);
            }
        }
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-edit-family'){
                    /*this.name = null;
                    this.code = null;
                    this.price = null;*/
                    this.state_name = null;
                    this.state_code = null;
                    this.state_price = null;
                    this.updating = false; 
                }
            });
        },
        resetIntPriceFormat(value) {
            if(typeof value == 'number' || value.indexOf('.') == -1){
                return value;
            }
            let priceString = value.replaceAll('.', '');

            return priceString;
        },
        c(){
          let price = this.price;

          var validNumber = new RegExp(/^\d*\.?\d*$/);

          if(!validNumber.test(price)){
            this.price = price.substring(0, price.length - 1);
          }
        },
        editFamily(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            if(!this.code){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_code = false;
                return;
            }else{
                this.state_code = true;
            }
            if(!this.price){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_price = false;
                return;
            }else{
                this.state_price = true;
            }

            let form = {
                idFamily: this.idFamily,
                name: this.name,
                code: this.code,
                price: this.price
            }
            this.updating = true;
            axios.post(route('family.update'),form).then(res => {
                this.updating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-edit-family');
                    this.$toastr.success('La familia se modificó correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>