.tooltip-bg-white .tooltip-inner {
  background-color: #ffffff;
}
.tooltip-bg-white .tooltip-inner:before {
  border-top-color: #ffffff !important;
}

.tooltip-text-white .tooltip-inner {
  color: #ffffff;
}

.tooltip-bg-black .tooltip-inner {
  background-color: #000000;
}
.tooltip-bg-black .tooltip-inner:before {
  border-top-color: #000000 !important;
}

.tooltip-text-black .tooltip-inner {
  color: #000000;
}

.tooltip-bg-primary .tooltip-inner {
  background-color: #666ee8;
}
.tooltip-bg-primary .tooltip-inner:before {
  border-top-color: #666ee8 !important;
}

.tooltip-text-primary .tooltip-inner {
  color: #666ee8;
}

.tooltip-bg-secondary .tooltip-inner {
  background-color: #6b6f82;
}
.tooltip-bg-secondary .tooltip-inner:before {
  border-top-color: #6b6f82 !important;
}

.tooltip-text-secondary .tooltip-inner {
  color: #6b6f82;
}

.tooltip-bg-success .tooltip-inner {
  background-color: #28d094;
}
.tooltip-bg-success .tooltip-inner:before {
  border-top-color: #28d094 !important;
}

.tooltip-text-success .tooltip-inner {
  color: #28d094;
}

.tooltip-bg-info .tooltip-inner {
  background-color: #1e9ff2;
}
.tooltip-bg-info .tooltip-inner:before {
  border-top-color: #1e9ff2 !important;
}

.tooltip-text-info .tooltip-inner {
  color: #1e9ff2;
}

.tooltip-bg-warning .tooltip-inner {
  background-color: #ff9149;
}
.tooltip-bg-warning .tooltip-inner:before {
  border-top-color: #ff9149 !important;
}

.tooltip-text-warning .tooltip-inner {
  color: #ff9149;
}

.tooltip-bg-danger .tooltip-inner {
  background-color: #ff4961;
}
.tooltip-bg-danger .tooltip-inner:before {
  border-top-color: #ff4961 !important;
}

.tooltip-text-danger .tooltip-inner {
  color: #ff4961;
}

.tooltip-bg-light .tooltip-inner {
  background-color: #e0e0e0;
}
.tooltip-bg-light .tooltip-inner:before {
  border-top-color: #e0e0e0 !important;
}

.tooltip-text-light .tooltip-inner {
  color: #e0e0e0;
}

.tooltip-bg-dark .tooltip-inner {
  background-color: #424242;
}
.tooltip-bg-dark .tooltip-inner:before {
  border-top-color: #424242 !important;
}

.tooltip-text-dark .tooltip-inner {
  color: #424242;
}

.tooltip-bg-red .tooltip-inner {
  background-color: #f44336;
}
.tooltip-bg-red .tooltip-inner:before {
  border-top-color: #f44336 !important;
}

.tooltip-text-red .tooltip-inner {
  color: #f44336;
}

.tooltip-bg-pink .tooltip-inner {
  background-color: #e91e63;
}
.tooltip-bg-pink .tooltip-inner:before {
  border-top-color: #e91e63 !important;
}

.tooltip-text-pink .tooltip-inner {
  color: #e91e63;
}

.tooltip-bg-purple .tooltip-inner {
  background-color: #9c27b0;
}
.tooltip-bg-purple .tooltip-inner:before {
  border-top-color: #9c27b0 !important;
}

.tooltip-text-purple .tooltip-inner {
  color: #9c27b0;
}

.tooltip-bg-blue .tooltip-inner {
  background-color: #2196f3;
}
.tooltip-bg-blue .tooltip-inner:before {
  border-top-color: #2196f3 !important;
}

.tooltip-text-blue .tooltip-inner {
  color: #2196f3;
}

.tooltip-bg-cyan .tooltip-inner {
  background-color: #00bcd4;
}
.tooltip-bg-cyan .tooltip-inner:before {
  border-top-color: #00bcd4 !important;
}

.tooltip-text-cyan .tooltip-inner {
  color: #00bcd4;
}

.tooltip-bg-teal .tooltip-inner {
  background-color: #009688;
}
.tooltip-bg-teal .tooltip-inner:before {
  border-top-color: #009688 !important;
}

.tooltip-text-teal .tooltip-inner {
  color: #009688;
}

.tooltip-bg-yellow .tooltip-inner {
  background-color: #ffeb3b;
}
.tooltip-bg-yellow .tooltip-inner:before {
  border-top-color: #ffeb3b !important;
}

.tooltip-text-yellow .tooltip-inner {
  color: #ffeb3b;
}

.tooltip-bg-amber .tooltip-inner {
  background-color: #ffc107;
}
.tooltip-bg-amber .tooltip-inner:before {
  border-top-color: #ffc107 !important;
}

.tooltip-text-amber .tooltip-inner {
  color: #ffc107;
}

.tooltip-bg-blue-grey .tooltip-inner {
  background-color: #607d8b;
}
.tooltip-bg-blue-grey .tooltip-inner:before {
  border-top-color: #607d8b !important;
}

.tooltip-text-blue-grey .tooltip-inner {
  color: #607d8b;
}

.tooltip-bg-grey-blue .tooltip-inner {
  background-color: #1b2942;
}
.tooltip-bg-grey-blue .tooltip-inner:before {
  border-top-color: #1b2942 !important;
}

.tooltip-text-grey-blue .tooltip-inner {
  color: #1b2942;
}

.tooltip {
  z-index: 0 !important;
}

/*# sourceMappingURL=palette-tooltip.css.map */
