.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-image: linear-gradient(to bottom, #3a44e1 0%, #7c83eb 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-secondary, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-secondary {
  background-image: linear-gradient(to bottom, #545766 0%, #777b8f 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-success {
  background-image: linear-gradient(to bottom, #20a576 0%, #39d9a0 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-info {
  background-image: linear-gradient(to bottom, #0c84d1 0%, #36a9f3 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background-image: linear-gradient(to bottom, #ff7216 0%, #ffa063 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-danger {
  background-image: linear-gradient(to bottom, #ff1635 0%, #ff6377 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-red, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-red {
  background-image: linear-gradient(to bottom, #d32f2f 0%, #ef5350 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-pink, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-pink {
  background-image: linear-gradient(to bottom, #c2185b 0%, #ec407a 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-purple, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-purple {
  background-image: linear-gradient(to bottom, #7b1fa2 0%, #ab47bc 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue {
  background-image: linear-gradient(to bottom, #1976d2 0%, #42a5f5 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-cyan, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-cyan {
  background-image: linear-gradient(to bottom, #0097a7 0%, #26c6da 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-teal, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-teal {
  background-image: linear-gradient(to bottom, #00796b 0%, #26a69a 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-yellow, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-yellow {
  background-image: linear-gradient(to bottom, #fbc02d 0%, #ffee58 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-amber, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-amber {
  background-image: linear-gradient(to bottom, #ffa000 0%, #ffca28 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue-grey, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue-grey {
  background-image: linear-gradient(to bottom, #455a64 0%, #78909c 100%);
  background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-grey-blue, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-grey-blue {
  background-image: linear-gradient(to bottom, #2c303b 0%, #78909c 100%);
  background-repeat: repeat-x;
}

/*# sourceMappingURL=palette-switch.css.map */
