.loader-white div {
  background-color: #ffffff !important;
}
.loader-white.ball-clip-rotate div {
  border-color: #ffffff !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-white.ball-clip-rotate-pulse div:first-child {
  background: #ffffff !important;
}
.loader-white.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffffff transparent #ffffff transparent !important;
}
.loader-white.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffffff transparent #ffffff !important;
}
.loader-white.ball-rotate div:before, .loader-white.ball-rotate div:after {
  background-color: #ffffff !important;
}
.loader-white.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.loader-white.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.loader-white.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.loader-white.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffffff !important;
}
.loader-white.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffffff 30%, #ffffff 100%);
  background-color: transparent !important;
}
.loader-white.fading-circle div {
  background-color: transparent !important;
}
.loader-white.fading-circle div:before {
  background-color: #ffffff !important;
}
.loader-white.folding-cube div {
  background-color: transparent !important;
}
.loader-white.folding-cube div:before {
  background-color: #ffffff !important;
}

.loader-black div {
  background-color: #000000 !important;
}
.loader-black.ball-clip-rotate div {
  border-color: #000000 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-black.ball-clip-rotate-pulse div:first-child {
  background: #000000 !important;
}
.loader-black.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #000000 transparent #000000 transparent !important;
}
.loader-black.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #000000 transparent #000000 !important;
}
.loader-black.ball-rotate div:before, .loader-black.ball-rotate div:after {
  background-color: #000000 !important;
}
.loader-black.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #000000 !important;
}
.loader-black.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #000000 !important;
}
.loader-black.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #000000 !important;
}
.loader-black.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #000000 !important;
}
.loader-black.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #000000 30%, #000000 100%);
  background-color: transparent !important;
}
.loader-black.fading-circle div {
  background-color: transparent !important;
}
.loader-black.fading-circle div:before {
  background-color: #000000 !important;
}
.loader-black.folding-cube div {
  background-color: transparent !important;
}
.loader-black.folding-cube div:before {
  background-color: #000000 !important;
}

.loader-primary div {
  background-color: #666ee8 !important;
}
.loader-primary.ball-clip-rotate div {
  border-color: #666ee8 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-primary.ball-clip-rotate-pulse div:first-child {
  background: #666ee8 !important;
}
.loader-primary.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #666ee8 transparent #666ee8 transparent !important;
}
.loader-primary.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #666ee8 transparent #666ee8 !important;
}
.loader-primary.ball-rotate div:before, .loader-primary.ball-rotate div:after {
  background-color: #666ee8 !important;
}
.loader-primary.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #666ee8 !important;
}
.loader-primary.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #666ee8 !important;
}
.loader-primary.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #666ee8 !important;
}
.loader-primary.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #666ee8 !important;
}
.loader-primary.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #666ee8 30%, #666ee8 100%);
  background-color: transparent !important;
}
.loader-primary.fading-circle div {
  background-color: transparent !important;
}
.loader-primary.fading-circle div:before {
  background-color: #666ee8 !important;
}
.loader-primary.folding-cube div {
  background-color: transparent !important;
}
.loader-primary.folding-cube div:before {
  background-color: #666ee8 !important;
}

.loader-secondary div {
  background-color: #6b6f82 !important;
}
.loader-secondary.ball-clip-rotate div {
  border-color: #6b6f82 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-secondary.ball-clip-rotate-pulse div:first-child {
  background: #6b6f82 !important;
}
.loader-secondary.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #6b6f82 transparent #6b6f82 transparent !important;
}
.loader-secondary.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #6b6f82 transparent #6b6f82 !important;
}
.loader-secondary.ball-rotate div:before, .loader-secondary.ball-rotate div:after {
  background-color: #6b6f82 !important;
}
.loader-secondary.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #6b6f82 !important;
}
.loader-secondary.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #6b6f82 !important;
}
.loader-secondary.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #6b6f82 !important;
}
.loader-secondary.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #6b6f82 !important;
}
.loader-secondary.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #6b6f82 30%, #6b6f82 100%);
  background-color: transparent !important;
}
.loader-secondary.fading-circle div {
  background-color: transparent !important;
}
.loader-secondary.fading-circle div:before {
  background-color: #6b6f82 !important;
}
.loader-secondary.folding-cube div {
  background-color: transparent !important;
}
.loader-secondary.folding-cube div:before {
  background-color: #6b6f82 !important;
}

.loader-success div {
  background-color: #28d094 !important;
}
.loader-success.ball-clip-rotate div {
  border-color: #28d094 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-success.ball-clip-rotate-pulse div:first-child {
  background: #28d094 !important;
}
.loader-success.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #28d094 transparent #28d094 transparent !important;
}
.loader-success.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #28d094 transparent #28d094 !important;
}
.loader-success.ball-rotate div:before, .loader-success.ball-rotate div:after {
  background-color: #28d094 !important;
}
.loader-success.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #28d094 !important;
}
.loader-success.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #28d094 !important;
}
.loader-success.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #28d094 !important;
}
.loader-success.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #28d094 !important;
}
.loader-success.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #28d094 30%, #28d094 100%);
  background-color: transparent !important;
}
.loader-success.fading-circle div {
  background-color: transparent !important;
}
.loader-success.fading-circle div:before {
  background-color: #28d094 !important;
}
.loader-success.folding-cube div {
  background-color: transparent !important;
}
.loader-success.folding-cube div:before {
  background-color: #28d094 !important;
}

.loader-info div {
  background-color: #1e9ff2 !important;
}
.loader-info.ball-clip-rotate div {
  border-color: #1e9ff2 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-info.ball-clip-rotate-pulse div:first-child {
  background: #1e9ff2 !important;
}
.loader-info.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #1e9ff2 transparent #1e9ff2 transparent !important;
}
.loader-info.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #1e9ff2 transparent #1e9ff2 !important;
}
.loader-info.ball-rotate div:before, .loader-info.ball-rotate div:after {
  background-color: #1e9ff2 !important;
}
.loader-info.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #1e9ff2 !important;
}
.loader-info.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #1e9ff2 !important;
}
.loader-info.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #1e9ff2 !important;
}
.loader-info.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #1e9ff2 !important;
}
.loader-info.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #1e9ff2 30%, #1e9ff2 100%);
  background-color: transparent !important;
}
.loader-info.fading-circle div {
  background-color: transparent !important;
}
.loader-info.fading-circle div:before {
  background-color: #1e9ff2 !important;
}
.loader-info.folding-cube div {
  background-color: transparent !important;
}
.loader-info.folding-cube div:before {
  background-color: #1e9ff2 !important;
}

.loader-warning div {
  background-color: #ff9149 !important;
}
.loader-warning.ball-clip-rotate div {
  border-color: #ff9149 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-warning.ball-clip-rotate-pulse div:first-child {
  background: #ff9149 !important;
}
.loader-warning.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ff9149 transparent #ff9149 transparent !important;
}
.loader-warning.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ff9149 transparent #ff9149 !important;
}
.loader-warning.ball-rotate div:before, .loader-warning.ball-rotate div:after {
  background-color: #ff9149 !important;
}
.loader-warning.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ff9149 !important;
}
.loader-warning.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ff9149 !important;
}
.loader-warning.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ff9149 !important;
}
.loader-warning.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ff9149 !important;
}
.loader-warning.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #ff9149 30%, #ff9149 100%);
  background-color: transparent !important;
}
.loader-warning.fading-circle div {
  background-color: transparent !important;
}
.loader-warning.fading-circle div:before {
  background-color: #ff9149 !important;
}
.loader-warning.folding-cube div {
  background-color: transparent !important;
}
.loader-warning.folding-cube div:before {
  background-color: #ff9149 !important;
}

.loader-danger div {
  background-color: #ff4961 !important;
}
.loader-danger.ball-clip-rotate div {
  border-color: #ff4961 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-danger.ball-clip-rotate-pulse div:first-child {
  background: #ff4961 !important;
}
.loader-danger.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ff4961 transparent #ff4961 transparent !important;
}
.loader-danger.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ff4961 transparent #ff4961 !important;
}
.loader-danger.ball-rotate div:before, .loader-danger.ball-rotate div:after {
  background-color: #ff4961 !important;
}
.loader-danger.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ff4961 !important;
}
.loader-danger.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ff4961 !important;
}
.loader-danger.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ff4961 !important;
}
.loader-danger.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ff4961 !important;
}
.loader-danger.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #ff4961 30%, #ff4961 100%);
  background-color: transparent !important;
}
.loader-danger.fading-circle div {
  background-color: transparent !important;
}
.loader-danger.fading-circle div:before {
  background-color: #ff4961 !important;
}
.loader-danger.folding-cube div {
  background-color: transparent !important;
}
.loader-danger.folding-cube div:before {
  background-color: #ff4961 !important;
}

.loader-light div {
  background-color: #e0e0e0 !important;
}
.loader-light.ball-clip-rotate div {
  border-color: #e0e0e0 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-light.ball-clip-rotate-pulse div:first-child {
  background: #e0e0e0 !important;
}
.loader-light.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #e0e0e0 transparent #e0e0e0 transparent !important;
}
.loader-light.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #e0e0e0 transparent #e0e0e0 !important;
}
.loader-light.ball-rotate div:before, .loader-light.ball-rotate div:after {
  background-color: #e0e0e0 !important;
}
.loader-light.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #e0e0e0 !important;
}
.loader-light.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #e0e0e0 !important;
}
.loader-light.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #e0e0e0 !important;
}
.loader-light.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #e0e0e0 !important;
}
.loader-light.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #e0e0e0 30%, #e0e0e0 100%);
  background-color: transparent !important;
}
.loader-light.fading-circle div {
  background-color: transparent !important;
}
.loader-light.fading-circle div:before {
  background-color: #e0e0e0 !important;
}
.loader-light.folding-cube div {
  background-color: transparent !important;
}
.loader-light.folding-cube div:before {
  background-color: #e0e0e0 !important;
}

.loader-dark div {
  background-color: #424242 !important;
}
.loader-dark.ball-clip-rotate div {
  border-color: #424242 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-dark.ball-clip-rotate-pulse div:first-child {
  background: #424242 !important;
}
.loader-dark.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #424242 transparent #424242 transparent !important;
}
.loader-dark.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #424242 transparent #424242 !important;
}
.loader-dark.ball-rotate div:before, .loader-dark.ball-rotate div:after {
  background-color: #424242 !important;
}
.loader-dark.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #424242 !important;
}
.loader-dark.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #424242 !important;
}
.loader-dark.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #424242 !important;
}
.loader-dark.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #424242 !important;
}
.loader-dark.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #424242 30%, #424242 100%);
  background-color: transparent !important;
}
.loader-dark.fading-circle div {
  background-color: transparent !important;
}
.loader-dark.fading-circle div:before {
  background-color: #424242 !important;
}
.loader-dark.folding-cube div {
  background-color: transparent !important;
}
.loader-dark.folding-cube div:before {
  background-color: #424242 !important;
}

.loader-red div {
  background-color: #f44336 !important;
}
.loader-red.ball-clip-rotate div {
  border-color: #f44336 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-red.ball-clip-rotate-pulse div:first-child {
  background: #f44336 !important;
}
.loader-red.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #f44336 transparent #f44336 transparent !important;
}
.loader-red.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #f44336 transparent #f44336 !important;
}
.loader-red.ball-rotate div:before, .loader-red.ball-rotate div:after {
  background-color: #f44336 !important;
}
.loader-red.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}
.loader-red.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}
.loader-red.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #f44336 !important;
}
.loader-red.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #f44336 !important;
}
.loader-red.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #f44336 30%, #f44336 100%);
  background-color: transparent !important;
}
.loader-red.fading-circle div {
  background-color: transparent !important;
}
.loader-red.fading-circle div:before {
  background-color: #f44336 !important;
}
.loader-red.folding-cube div {
  background-color: transparent !important;
}
.loader-red.folding-cube div:before {
  background-color: #f44336 !important;
}

.loader-pink div {
  background-color: #e91e63 !important;
}
.loader-pink.ball-clip-rotate div {
  border-color: #e91e63 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-pink.ball-clip-rotate-pulse div:first-child {
  background: #e91e63 !important;
}
.loader-pink.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #e91e63 transparent #e91e63 transparent !important;
}
.loader-pink.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #e91e63 transparent #e91e63 !important;
}
.loader-pink.ball-rotate div:before, .loader-pink.ball-rotate div:after {
  background-color: #e91e63 !important;
}
.loader-pink.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}
.loader-pink.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}
.loader-pink.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #e91e63 !important;
}
.loader-pink.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #e91e63 !important;
}
.loader-pink.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #e91e63 30%, #e91e63 100%);
  background-color: transparent !important;
}
.loader-pink.fading-circle div {
  background-color: transparent !important;
}
.loader-pink.fading-circle div:before {
  background-color: #e91e63 !important;
}
.loader-pink.folding-cube div {
  background-color: transparent !important;
}
.loader-pink.folding-cube div:before {
  background-color: #e91e63 !important;
}

.loader-purple div {
  background-color: #9c27b0 !important;
}
.loader-purple.ball-clip-rotate div {
  border-color: #9c27b0 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-purple.ball-clip-rotate-pulse div:first-child {
  background: #9c27b0 !important;
}
.loader-purple.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #9c27b0 transparent #9c27b0 transparent !important;
}
.loader-purple.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #9c27b0 transparent #9c27b0 !important;
}
.loader-purple.ball-rotate div:before, .loader-purple.ball-rotate div:after {
  background-color: #9c27b0 !important;
}
.loader-purple.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}
.loader-purple.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}
.loader-purple.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #9c27b0 !important;
}
.loader-purple.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #9c27b0 !important;
}
.loader-purple.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #9c27b0 30%, #9c27b0 100%);
  background-color: transparent !important;
}
.loader-purple.fading-circle div {
  background-color: transparent !important;
}
.loader-purple.fading-circle div:before {
  background-color: #9c27b0 !important;
}
.loader-purple.folding-cube div {
  background-color: transparent !important;
}
.loader-purple.folding-cube div:before {
  background-color: #9c27b0 !important;
}

.loader-blue div {
  background-color: #2196f3 !important;
}
.loader-blue.ball-clip-rotate div {
  border-color: #2196f3 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-blue.ball-clip-rotate-pulse div:first-child {
  background: #2196f3 !important;
}
.loader-blue.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #2196f3 transparent #2196f3 transparent !important;
}
.loader-blue.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #2196f3 transparent #2196f3 !important;
}
.loader-blue.ball-rotate div:before, .loader-blue.ball-rotate div:after {
  background-color: #2196f3 !important;
}
.loader-blue.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #2196f3 !important;
}
.loader-blue.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #2196f3 !important;
}
.loader-blue.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #2196f3 !important;
}
.loader-blue.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #2196f3 !important;
}
.loader-blue.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #2196f3 30%, #2196f3 100%);
  background-color: transparent !important;
}
.loader-blue.fading-circle div {
  background-color: transparent !important;
}
.loader-blue.fading-circle div:before {
  background-color: #2196f3 !important;
}
.loader-blue.folding-cube div {
  background-color: transparent !important;
}
.loader-blue.folding-cube div:before {
  background-color: #2196f3 !important;
}

.loader-cyan div {
  background-color: #00bcd4 !important;
}
.loader-cyan.ball-clip-rotate div {
  border-color: #00bcd4 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-cyan.ball-clip-rotate-pulse div:first-child {
  background: #00bcd4 !important;
}
.loader-cyan.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #00bcd4 transparent #00bcd4 transparent !important;
}
.loader-cyan.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #00bcd4 transparent #00bcd4 !important;
}
.loader-cyan.ball-rotate div:before, .loader-cyan.ball-rotate div:after {
  background-color: #00bcd4 !important;
}
.loader-cyan.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}
.loader-cyan.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}
.loader-cyan.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #00bcd4 !important;
}
.loader-cyan.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #00bcd4 !important;
}
.loader-cyan.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #00bcd4 30%, #00bcd4 100%);
  background-color: transparent !important;
}
.loader-cyan.fading-circle div {
  background-color: transparent !important;
}
.loader-cyan.fading-circle div:before {
  background-color: #00bcd4 !important;
}
.loader-cyan.folding-cube div {
  background-color: transparent !important;
}
.loader-cyan.folding-cube div:before {
  background-color: #00bcd4 !important;
}

.loader-teal div {
  background-color: #009688 !important;
}
.loader-teal.ball-clip-rotate div {
  border-color: #009688 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-teal.ball-clip-rotate-pulse div:first-child {
  background: #009688 !important;
}
.loader-teal.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #009688 transparent #009688 transparent !important;
}
.loader-teal.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #009688 transparent #009688 !important;
}
.loader-teal.ball-rotate div:before, .loader-teal.ball-rotate div:after {
  background-color: #009688 !important;
}
.loader-teal.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #009688 !important;
}
.loader-teal.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #009688 !important;
}
.loader-teal.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #009688 !important;
}
.loader-teal.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #009688 !important;
}
.loader-teal.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #009688 30%, #009688 100%);
  background-color: transparent !important;
}
.loader-teal.fading-circle div {
  background-color: transparent !important;
}
.loader-teal.fading-circle div:before {
  background-color: #009688 !important;
}
.loader-teal.folding-cube div {
  background-color: transparent !important;
}
.loader-teal.folding-cube div:before {
  background-color: #009688 !important;
}

.loader-yellow div {
  background-color: #ffeb3b !important;
}
.loader-yellow.ball-clip-rotate div {
  border-color: #ffeb3b !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-yellow.ball-clip-rotate-pulse div:first-child {
  background: #ffeb3b !important;
}
.loader-yellow.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffeb3b transparent #ffeb3b transparent !important;
}
.loader-yellow.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffeb3b transparent #ffeb3b !important;
}
.loader-yellow.ball-rotate div:before, .loader-yellow.ball-rotate div:after {
  background-color: #ffeb3b !important;
}
.loader-yellow.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}
.loader-yellow.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}
.loader-yellow.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffeb3b !important;
}
.loader-yellow.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffeb3b !important;
}
.loader-yellow.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffeb3b 30%, #ffeb3b 100%);
  background-color: transparent !important;
}
.loader-yellow.fading-circle div {
  background-color: transparent !important;
}
.loader-yellow.fading-circle div:before {
  background-color: #ffeb3b !important;
}
.loader-yellow.folding-cube div {
  background-color: transparent !important;
}
.loader-yellow.folding-cube div:before {
  background-color: #ffeb3b !important;
}

.loader-amber div {
  background-color: #ffc107 !important;
}
.loader-amber.ball-clip-rotate div {
  border-color: #ffc107 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-amber.ball-clip-rotate-pulse div:first-child {
  background: #ffc107 !important;
}
.loader-amber.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #ffc107 transparent #ffc107 transparent !important;
}
.loader-amber.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #ffc107 transparent #ffc107 !important;
}
.loader-amber.ball-rotate div:before, .loader-amber.ball-rotate div:after {
  background-color: #ffc107 !important;
}
.loader-amber.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}
.loader-amber.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}
.loader-amber.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #ffc107 !important;
}
.loader-amber.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #ffc107 !important;
}
.loader-amber.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #ffc107 30%, #ffc107 100%);
  background-color: transparent !important;
}
.loader-amber.fading-circle div {
  background-color: transparent !important;
}
.loader-amber.fading-circle div:before {
  background-color: #ffc107 !important;
}
.loader-amber.folding-cube div {
  background-color: transparent !important;
}
.loader-amber.folding-cube div:before {
  background-color: #ffc107 !important;
}

.loader-blue-grey div {
  background-color: #607d8b !important;
}
.loader-blue-grey.ball-clip-rotate div {
  border-color: #607d8b !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-blue-grey.ball-clip-rotate-pulse div:first-child {
  background: #607d8b !important;
}
.loader-blue-grey.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #607d8b transparent #607d8b transparent !important;
}
.loader-blue-grey.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #607d8b transparent #607d8b !important;
}
.loader-blue-grey.ball-rotate div:before, .loader-blue-grey.ball-rotate div:after {
  background-color: #607d8b !important;
}
.loader-blue-grey.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}
.loader-blue-grey.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}
.loader-blue-grey.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #607d8b !important;
}
.loader-blue-grey.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #607d8b !important;
}
.loader-blue-grey.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #607d8b 30%, #607d8b 100%);
  background-color: transparent !important;
}
.loader-blue-grey.fading-circle div {
  background-color: transparent !important;
}
.loader-blue-grey.fading-circle div:before {
  background-color: #607d8b !important;
}
.loader-blue-grey.folding-cube div {
  background-color: transparent !important;
}
.loader-blue-grey.folding-cube div:before {
  background-color: #607d8b !important;
}

.loader-grey-blue div {
  background-color: #1b2942 !important;
}
.loader-grey-blue.ball-clip-rotate div {
  border-color: #1b2942 !important;
  border-bottom-color: transparent !important;
  background-color: transparent !important;
}
.loader-grey-blue.ball-clip-rotate-pulse div:first-child {
  background: #1b2942 !important;
}
.loader-grey-blue.ball-clip-rotate-pulse div:last-child {
  background: transparent !important;
  border-color: #1b2942 transparent #1b2942 transparent !important;
}
.loader-grey-blue.ball-clip-rotate-multiple div {
  background-color: transparent !important;
  border-color: transparent #1b2942 transparent #1b2942 !important;
}
.loader-grey-blue.ball-rotate div:before, .loader-grey-blue.ball-rotate div:after {
  background-color: #1b2942 !important;
}
.loader-grey-blue.ball-triangle-path div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}
.loader-grey-blue.ball-scale-ripple div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}
.loader-grey-blue.ball-scale-ripple-multiple div {
  background-color: transparent !important;
  border-color: #1b2942 !important;
}
.loader-grey-blue.triangle-skew-spin div {
  background-color: transparent !important;
  border-bottom-color: #1b2942 !important;
}
.loader-grey-blue.semi-circle-spin div {
  background-image: linear-gradient(transparent 0%, transparent 70%, #1b2942 30%, #1b2942 100%);
  background-color: transparent !important;
}
.loader-grey-blue.fading-circle div {
  background-color: transparent !important;
}
.loader-grey-blue.fading-circle div:before {
  background-color: #1b2942 !important;
}
.loader-grey-blue.folding-cube div {
  background-color: transparent !important;
}
.loader-grey-blue.folding-cube div:before {
  background-color: #1b2942 !important;
}

/*# sourceMappingURL=palette-loader.css.map */
