<template>
  <b-modal
    id="modal-edit-community"
    title="Modificar comunidad"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la comunidad">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-edit-community')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="editCommunity"
        :disabled="updating"
      >
        {{ updating ? "Editando " : "Editar" }}
        familia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalEditCommunity",
    props:{
        data: Object,
        callbackSuccess:Function
    },
    data() {
        return {
            idCommunity: null,
            name:null,
            state_name: null,
            updating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    watch:{
        data:function(newValue){
            if(newValue){
                this.idCommunity = newValue.id;
                this.name = newValue.name;
            }
        }
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-edit-family'){
                    /*this.name = null;
                    this.code = null;
                    this.price = null;*/
                    this.state_name = null;
                    this.updating = false; 
                }
            });
        },
        editCommunity(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }

            let form = {
                idCommunity: this.idCommunity,
                name: this.name,
            }
            this.updating = true;
            axios.post(route('community.update'),form).then(res => {
                this.updating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-edit-community');
                    this.$toastr.success('La comunidad se modificó correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>