<template>
  <b-modal
    id="modal-new-community"
    title="Agregar nueva comunidad"
    role="dialog"
    class="fade"
    size="sm"
  >
    <div class="row m-0">
      <div class="col-12">
        <b-form-group id="nameRequest" label="Nombre de la comunidad">
          <b-form-input
            id="nameRequest"
            v-model="name"
            :state="state_name"
          ></b-form-input>
        </b-form-group>
      </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-new-community')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="createCommunity"
        :disabled="creating"
      >
        {{ creating ? "Creando " : "Crear" }}
        familia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalNewCommunity",
    props:{
        callbackSuccess:Function
    },
    data() {
        return {
            name:null,
            state_name: null,
            creating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-new-community'){
                   this.name = null;
                    this.state_name = null;
                    this.creating = false;
                }
            });
        },
        createCommunity(){
            if(!this.name){
                this.$toastr.error('Campos obligatorios','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }


            let form = {
              name: this.name
            }
            this.creating = true;
            axios.post(route('community.create'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-new-community');
                    this.$toastr.success('La comunidad se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>