<template>
  <b-row>
    <div class="card w-100" style="">
      <div class="card-header">
        <h4 class="card-title">Estancos</h4>
        <a class="heading-elements-toggle"
          ><i class="la la-ellipsis-v font-medium-3"></i
        ></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li>
              <a data-action="expand"><i class="ft-maximize"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row m-0 justify-content-end">
            <button class="btn btn-sm btn-success" @click="openModalNewClient">
              Añadir nuevo estanco
            </button>
          </div>
          <div class="mt-1">
            <div class="row m-0 justify-content-end">
              <div class="col-6">
                <b-form-group>
                  <b-form-select
                    id="selectFamily"
                    v-model="provincie"
                    :options="[{ value: 0, text: '' }, ...provincies]"
                    @change="changeFilterFamily"
                    size="sm"
                  ></b-form-select>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <b-input v-model="filter" placeholder="Buscar..." size="sm">
                  </b-input>
                </b-form-group>
              </div>
            </div>
            <b-table
              ref="tableProducts"
              how-empty
              small
              stacked="md"
              class="table table-striped table-hover"
              :items="clients"
              :fields="table_fields"
              :current-page="current_page"
              :per-page="per_page"
              :filter="filter"
              :filter-included-fields="filter_on"
              empty-text="No hay registros"
              empty-filtered-text="No existen registros que coincidan con la búsqueda"
              empty-html="No existen datos registrados"
              responsive
            >
              <template #cell(provincia)="row">
				  <span class="">
					  {{row.item.provincie.name}}
				  </span>
			  </template>
              <template #cell(date)="row">
				<span>
                  	{{ row.item.created_at | moment("DD [de] MMMM,YYYY") }}
                </span>
			  </template>
              <template #cell(options)="row">
                <span
                  class="h3 text-info cursor-pointer mr-1"
                  @click="editProduct(row.item)"
                  v-b-tooltip
                  title="Modificar cliente"
                >
                  <i class="fad fa-edit"></i>
                </span>
                <span
                  class="h3 text-danger cursor-pointer"
                  @click="removeProduct(row.item)"
                  v-b-tooltip
                  title="Remover Producto"
                >
                  <i class="fad fa-times"></i>
                </span>
              </template>
            </b-table>
            <b-row class="justify-content-end">
              <b-col sm="12" md="6" class="my-1">
                <div class="description found">
                  Total de Registros: {{ clients.length }}
                </div>
              </b-col>
              <b-col sm="12" md="6" class="my-1">
                <b-pagination
                  v-model="current_page"
                  :total-rows="clients.length"
                  :per-page="per_page"
                  size="sm"
                  class="my-0 float-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </div>
    <modal-new-client
      :callbackSuccess="callbackSuccessNewclient"
      :provincies="provincies"
    ></modal-new-client>
    <modal-edit-client
      :callbackSuccess="callbackSuccessEditclient"
      :provincies="provincies"
	  :detail="clientSelected"
    ></modal-edit-client>
  </b-row>
</template>

<script>
export default {
  	name: "ListClients",
	data() {
		return {
			provincie:null,
			provincies: [],
			clients: [],
			clientsBackup: [],
			clientSelected: {},
			table_fields: [
				{
					key: "code",
					label: "Codigo",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "name",
					label: "Nombre",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "provincia",
					label: "Provincia",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "date",
					label: "Fecha de creación",
					sortable: false,
					class: "align-middle",
				},
				{
					key: "options",
					label: "Opciones",
					sortable: false,
					class: "align-middle",
				},
			],
			rows: 1,
			current_page: 1,
			per_page: 50,
			items_show: [50, 100, 200, 300],
			filter: null,
			filter_on: [],
			total_rows: 0,
			on_filtered: null,
		};
	},
  	created() {
		this.getClients();
	  	this.getProvincie();
  	},
	methods: {
		openModalNewClient() {
			this.$bvModal.show("modal-new-client");
		},
		callbackSuccessNewclient(data) {
			this.clients.unshift(data);
			this.$bvModal.hide("modal-new-client");
		},
		callbackSuccessEditclient(data){
			for(let i in this.clientsBackup){
				if(this.clientsBackup[i].id == data.id){
					this.clientsBackup[i] = data;
					break;
				}
			}
			for(let i in this.clients){
				if(this.clients[i].id == data.id){
					this.clients[i] = data;
					this.$refs.tableProducts.refresh();
					break;
				}
			}
		},
		getProvincie(){
			axios.get(route('client.getProvincie')).then(res => {
                if(res.data.status){
                    this.provincies = res.data.data.map(elm => {
                        return {
                            value: elm.id,
                            text: elm.name
                        }
                    });
                }else{
                    this.$toastr.error('Ocurrio un erro encontrando las provincias','Ha ocurrido un error');
                }
				
			});
		},
		getClients(){
			axios.get(route('client.getClients')).then(res => { 
				this.clientsBackup = res.data.data;
				this.clients = res.data.data;
                console.log(this.clients);
			});
		},
		editProduct(row){
			this.clientSelected = row;
			this.$bvModal.show('modal-edit-client');
		},
		removeProduct(row){
			this.$swal.fire({
					title: '¿Está seguro que desea remover el cliente?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#28d094',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si, eliminar',
					cancelButtonText: 'Cancelar',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						axios.get(route('client.delete',{id:row.id})).then(res => {
							if(res.data.status){
								for(let i in this.clientsBackup){
									if(this.clientsBackup[i].id == row.id){
										this.clientsBackup.splice(i,1);
										this.$refs.tableProducts.refresh();
									}
								}

								for(let i in this.clients){
									if(this.clients[i].id == row.id){
										this.clients.splice(i,1);
										this.$refs.tableProducts.refresh();
									}
								}
							}else{
								this.$toastr.error(res.data.message,'Ocurrio un error');
							}
						});
					}
				})
		},
		changeFilterFamily(){
			if(!this.provincie){
				this.clients = this.clientsBackup;
			}else{
				this.clients = this.clientsBackup.filter(elm => {
					return elm.provincie_id == this.provincie;
				});
			}
		}
	},
};
</script>

<style scoped>
</style>
