<template>
  <b-modal
    id="modal-new-client"
    title="Agregar nuevo estanco"
    role="dialog"
    class="fade"
    size="lg"
  >
    <div class="row m-0">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="codeRequest" label="Codigo del cliente">
                <b-form-input
                    id="nameRequest"
                    v-model="code"
                    :state="state_code"
                    @keyup="validateNumber($event,'code')"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Nombre del cliente">
                <b-form-input
                    id="nameRequest"
                    v-model="name"
                    :state="state_name"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Nombre del estanco">
                <b-form-input
                    id="nameRequest"
                    v-model="estanco"
                    :state="state_estanco"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Dirección">
                <b-form-input
                    id="nameRequest"
                    v-model="street"
                    :state="state_street"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Población">
                <b-form-input
                    id="nameRequest"
                    v-model="population"
                    :state="state_population"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="código postal">
                <b-form-input
                    id="nameRequest"
                    v-model="codpos"
                    :state="state_codpos"
                    @keyup="validateNumber($event,'codpos')"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Teléfono">
                <b-form-input
                    id="nameRequest"
                    v-model="phone"
                    :state="state_phone"
                    @keyup="validateNumber($event,'phone')"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Provincia">
                <b-form-select
                    id="selectFamily"
                    v-model="provincie"
                    :state="state_provincie"
                    :options="provincies"
                ></b-form-select>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="CIF">
                <b-form-input
                    id="nameRequest"
                    v-model="cif"
                    :state="state_cif"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="sap logistica">
                <b-form-input
                    id="nameRequest"
                    v-model="sap"
                    :state="state_sap"
                    @keyup="validateNumber($event,'sap')"
                ></b-form-input>
            </b-form-group>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <b-form-group id="nameRequest" label="Comodín">
                <b-form-input
                    id="nameRequest"
                    v-model="wildcard"
                    :state="state_wildcard"
                ></b-form-input>
            </b-form-group>
        </div>
    </div>
    <template #modal-footer="">
      <b-button
        size="md"
        variant="secondary"
        @click="$bvModal.hide('modal-new-client')"
      >
        Cerrar
      </b-button>

      <b-button
        size="md"
        variant="success"
        @click="createClient"
        :disabled="creating"
      >
        {{ creating ? "Creando " : "Crear" }}
        familia
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import moment from "moment";
export default {
    name: "ModalNewClient",
    props:{
        callbackSuccess:Function,
        provincies:Array
    },
    data() {
        return {
            code:null,
            state_code: null,
            name:null,
            state_name: null,
            estanco:null,
            state_estanco: null,
            street:null,
            state_street: null,
            population:null,
            state_population: null,
            codpos:null,
            state_codpos: null,
            phone:null,
            state_phone: null,
            cif:null,
            state_cif: null,
            sap:null,
            state_sap: null,
            wildcard:null,
            state_wildcard: null,
            provincie:null,
            state_provincie: null,
            creating:false,
        };
    },
    created(){
        this.setOnClose();
    },
    methods: {
        setOnClose(){
            this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
                if(modalId == 'modal-new-client'){
                    this.code = null;
                    this.state_code =  null;
                    this.name = null;
                    this.state_name =  null;
                    this.estanco = null;
                    this.state_estanco =  null;
                    this.street = null;
                    this.state_street =  null;
                    this.population = null;
                    this.state_population =  null;
                    this.codpos = null;
                    this.state_codpos =  null;
                    this.phone = null;
                    this.state_phone =  null;
                    this.cif = null;
                    this.state_cif =  null;
                    this.sap = null;
                    this.state_sap =  null;
                    this.wildcard = null;
                    this.state_wildcard =  null;
                    this.provincie = null;
                    this.state_provincie = null;
                    this.creating = false;
                }
            });
        },
        createClient(){
            if(!this.code){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_code = false;
                return;
            }else{
                this.state_code = true;
            }
            if(!this.name){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_name = false;
                return;
            }else{
                this.state_name = true;
            }
            if(!this.estanco){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_estanco = false;
                return;
            }else{
                this.state_estanco = true;
            }
            if(!this.population){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_population = false;
                return;
            }else{
                this.state_population = true;
            }
            if(!this.provincie){
                this.$toastr.error('Falta diligenciar campos obligatorio','Ocurrio un error');
                this.state_provincie = false;
                return;
            }else{
                this.state_provincie = true;
            }

            let form = {
                name: this.name,
                code: this.code,
                estanco: this.estanco,
                street: this.street,
                population: this.population,
                codpos: this.codpos,
                phone: this.phone,
                cif: this.cif,
                sap: this.sap,
                wildcard: this.wildcard,
                provincie: this.provincie
            };
            
            this.creating = true;
            axios.post(route('client.create'),form).then(res => {
                this.creating = false;
                if(res.data.status){
                    this.$bvModal.hide('modal-new-client');
                    this.$toastr.success('El cliente se registro correctamente','Correcto');
                    this.callbackSuccess(res.data.data);
                }else{
                    this.$toastr.error(res.data.message,'Ocurrio un error');
                }
            });
        },
        validateNumber(event,key){
            const charCode = this[key];
            if (!/^\d*$/.test(charCode)) {
                console.log("HOAL");
                this[key] = charCode.slice(0, -1);
            }
        }
    },
};
</script>
<style>
.vc-popover-content-wrapper {
  z-index: 9999 !important;
}
</style>